{"openapi":"3.0.1","info":{"title":"SAPIENT EVRI API","description":"# Introduction\nHere you will find requirements for integrating with INTERSOFT SAPIENT API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe INTERSOFT SAPIENT API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n","version":"v4.0-EVRI","x-logo":{"url":"/Content/images/redoc-logo.png","altText":"ReDoc"}},"x-readme":{"explorer-enabled":false},"servers":[{"url":"https://api.intersoftsapient.net/","description":"Sapient Server"}],"paths":{"/v4/shippingAccounts/evri":{"get":{"tags":["Shipping Accounts"],"summary":"Get Accounts","description":"Provides a list of Evri shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingAccountsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of shipping accounts for the given carrier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvriShippingAccountShippingAccountsPagedResponse"},"example":{"ShippingAccounts":[{"ShippingAccountId":"c5ad86eb-3547-480e-9249-c52a6b71bc0b","CarrierCode":"EVRI","AccountNumber":"9912346902","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"Evri-9912346902","AccountStatus":"Enabled","ContactName":"John Smith","ContactNumber":"0123456789","Username":"Username A","SmsAlertGroupCode":"3363","LastUpdatedBy":"User A","LastUpdatedDateUtc":"2025-07-16T08:03:02.186Z"},{"ShippingAccountId":"46d58272-5f6a-405d-a947-c46c9caea56f","CarrierCode":"EVRI","AccountNumber":"9917584966","AccountType":"Sandbox","AccountName":"KG Pet Shop","AccountAlias":"Evri-9917584966","AccountStatus":"Enabled","ContactName":"Joan Smith","ContactNumber":"0123456789","Username":"Username B","SmsAlertGroupCode":"3368","LastUpdatedBy":"User B","LastUpdatedDateUtc":"2025-07-16T08:03:02.186Z"}],"TotalCount":2}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"post":{"tags":["Shipping Accounts"],"summary":"Add Account","description":"Add a shipping account for Evri and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like Evri account number so that you can use the account for shipping with Evri.","requestBody":{"description":"Add Shipping Account Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvriAddShippingAccountRequest"},"examples":{"Add account to existing location":{"value":{"AccountNumber":"9912346902","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"Evri-9912346902","ContactName":"John Smith","ContactNumber":"0123456789","Username":"username","Password":"password","SmsAlertGroupCode":"3363","ShippingLocations":[{"ShippingLocationId":"25eeac37-4a8c-4300-896d-c615f74ac485"}]}},"Add account at new location":{"value":{"AccountNumber":"9912346902","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"Evri-9912346902","ContactName":"John Smith","ContactNumber":"0123456789","Username":"username","Password":"password","SmsAlertGroupCode":"3363","ShippingLocations":[{"ShippingLocation":{"LocationAlias":"Main Warehouse","Timezone":"Europe/London","IsDefaultLocation":false,"Address":{"ContactPhone":"07123887422","Line1":"Brown Cottage","Line2":"10 Sky Lane","Line3":"Hills End","Town":"Christchurch","Postcode":"TW20 0HJ","County":"Surrey","CountryCode":"GB"}}}]}}}}}},"responses":{"200":{"description":"The shipping account was added successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddShippingAccountResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The account alias is required.","Cause":"AccountAlias","ErrorCode":"E1001"},{"Message":"Customer is Restricted to Sandbox.","Cause":"AccountType","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/evri/{shippingAccountId}":{"get":{"tags":["Shipping Accounts"],"summary":"Get Account","description":"Provides details for a Evri account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the shipping account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvriShippingAccount"},"example":{"ShippingAccountId":"c5ad86eb-3547-480e-9249-c52a6b71bc0b","CarrierCode":"EVRI","AccountNumber":"9912346902","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"Evri-9912346902","AccountStatus":"Enabled","ContactName":"John Smith","ContactNumber":"0123456789","Username":"username","SmsAlertGroupCode":"3363","LastUpdatedBy":"User A","LastUpdatedDateUtc":"2025-07-16T08:03:02.760Z"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Shipping Accounts"],"summary":"Update Account","description":"Update shipping account details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Shipping Account Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvriUpdateShippingAccountRequest"},"example":{"AccountNumber":"9912346902","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"Evri-9912346902","ContactName":"John Smith","ContactNumber":"0123456789","Username":"username","Password":"password","SmsAlertGroupCode":"3363"}}}},"responses":{"200":{"description":"The shipping account was updated successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The account alias is required.","Cause":"AccountAlias","ErrorCode":"E1001"},{"Message":"Customer is Restricted to Sandbox.","Cause":"AccountType","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/evri/{shippingAccountId}/linkLocations":{"post":{"tags":["Shipping Accounts"],"summary":"Link Locations","description":"Link one or more shipping locations with a Evri shipping account.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Shipping Locations\r\nThe locations to associate with this shipping account.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShippingLocationIdRequest"}}}}},"responses":{"200":{"description":"The shipping location(s) have been linked to the account successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The shipping location was not found","Cause":"[2].ShippingLocationId","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/evri/{shippingAccountId}/shippingLocations":{"get":{"tags":["Shipping Accounts"],"summary":"Get Associated Locations","description":"Provides a list of all shipping locations associated with a Evri shipping account.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}},{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingLocationsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of associated shipping locations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingLocationsForAccountPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/evri/{shippingAccountId}/shippingLocations/{shippingLocationId}":{"get":{"tags":["Shipping Accounts"],"summary":"Get Associated Location","description":"Provides information for a specific shipping location linked to a Evri shipping account including location alias, timezone, address, when it was last updated, and by who.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}},{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the associated shipping location","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingLocation"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/evri":{"post":{"tags":["Shipments"],"summary":"Create Shipment","description":"Create a Evri shipment. This will return an image of the shipping label in PDF, PNG or ZPL format.","requestBody":{"description":"Shipment Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvriShipmentRequestCarrierSpecificsPackageDetailsLabelFormatCreateShipmentRequest"},"examples":{"Domestic - Basic Fields":{"value":{"ShipmentInformation":{"ContentType":"NDX","ServiceCode":"STND","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-07-16","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM"},"Shipper":{"ShippingAccountId":"272d81ce-ecaf-4d64-86c3-13fa03c0f341","Reference1":"OrderRef56"},"Destination":{"Address":{"ContactPhone":"07123456789","ContactName":"John Smith","ContactEmail":"john.smith@example.com","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"DeclaredWeight":1.5,"Dimensions":{"Length":40,"Width":30,"Height":20}}]}},"Domestic - All Fields":{"value":{"CarrierSpecifics":{"ServiceEnhancements":[{"Code":"Signed"}],"SpecialInstruction1":"Special instruction for delivery","SpecialInstruction2":"Special instruction for delivery"},"ShipmentInformation":{"Action":"Process","LabelFormat":"PDF","ContentType":"NDX","ServiceCode":"STND","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-07-16","CurrencyCode":"GBP","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM","ContainerId":"South East"},"Shipper":{"ShippingAccountId":"faf4ecf0-3429-49c6-b047-cbaf27563b64","ShippingLocationId":"f584f1d0-0c02-4e19-a70b-b9dc29cf4ed4","Reference1":"OrderRef56","DepartmentNumber":"0123456789","EoriNumber":"GB213456789000","VatNumber":"GB213456789","Address":{"ContactPhone":"607723456789","ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}},"Destination":{"EoriNumber":"GB123456789000","VatNumber":"GB123456789","Address":{"ContactPhone":"07123456789","ContactName":"John Smith","ContactEmail":"john.smith@example.com","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"PackageOccurrence":1,"DeclaredWeight":1.5,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"Items":[{"SkuCode":"SKU123","PackageOccurrence":1,"Quantity":1,"Description":"White Mens Large T-shirt","Value":19.99,"Weight":0.5,"HSCode":"6109100010","CountryOfOrigin":"CN"},{"SkuCode":"SKU456","PackageOccurrence":1,"Quantity":2,"Description":"Black Mens Large Jumper","Value":32.99,"Weight":0.3,"HSCode":"6110113000","CountryOfOrigin":"CN"}],"ReturnToSender":{"Address":{"ContactPhone":"07723456789","ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}}}},"International - Basic Fields":{"value":{"ShipmentInformation":{"ContentType":"NDX","ServiceCode":"INTL","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-07-16","CurrencyCode":"GBP","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM"},"Shipper":{"ShippingAccountId":"fd9546e0-faac-4097-b973-fde64faf6228","Reference1":"OrderRef56","EoriNumber":"GB12345","VatNumber":"VA12345"},"Destination":{"Address":{"ContactPhone":"07123456789","ContactName":"John Smith","ContactEmail":"john.smith@example.com","Line1":"10 Sky Road","Town":"Sydney","Postcode":"2000","County":"NSW","CountryCode":"AU"}},"Packages":[{"DeclaredWeight":1.5,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"Items":[{"SkuCode":"SKU123","Quantity":1,"Description":"White Mens Large T-shirt","Value":19.99,"Weight":0.5,"HSCode":"6109100010","CountryOfOrigin":"IT"},{"SkuCode":"SKU456","Quantity":2,"Description":"Black Mens Large Jumper","Value":32.99,"Weight":0.3,"HSCode":"6110113000","CountryOfOrigin":"FR"}],"Customs":{"ReasonForExport":"Sale of Goods","Incoterms":"DDU"}}},"International - All Fields":{"value":{"CarrierSpecifics":{"ServiceEnhancements":[],"SpecialInstruction1":"Special instruction for delivery","SpecialInstruction2":"Special instruction for delivery"},"ShipmentInformation":{"Action":"Process","LabelFormat":"PDF","ContentType":"NDX","ServiceCode":"INTL","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-07-16","CurrencyCode":"GBP","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM","ContainerId":"South East"},"Shipper":{"ShippingAccountId":"6f75be54-69ae-48bd-a800-c447deb64987","ShippingLocationId":"772740ef-00c2-4f56-a8a2-fea000040c31","Reference1":"OrderRef56","DepartmentNumber":"0123456789","EoriNumber":"GB213456789000","VatNumber":"GB213456789","Address":{"ContactPhone":"607723456789","ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}},"Destination":{"EoriNumber":"GB123456789000","VatNumber":"GB123456789","Address":{"ContactPhone":"07123456789","ContactName":"John Smith","ContactEmail":"john.smith@example.com","Line1":"10 Sky Road","Town":"Sydney","Postcode":"2000","County":"NSW","CountryCode":"AU"}},"Packages":[{"PackageOccurrence":1,"DeclaredWeight":1.5,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"Items":[{"SkuCode":"SKU123","PackageOccurrence":1,"Quantity":1,"Description":"White Mens Large T-shirt","Value":19.99,"Weight":0.5,"HSCode":"6109100010","CountryOfOrigin":"CN"},{"SkuCode":"SKU456","PackageOccurrence":1,"Quantity":2,"Description":"Black Mens Large Jumper","Value":32.99,"Weight":0.3,"HSCode":"6110113000","CountryOfOrigin":"CN"}],"Customs":{"ReasonForExport":"Sale Of Goods","Incoterms":"DDU","PreRegistrationNumber":"0123456789","PreRegistrationType":"GST","ShippingCharges":55.82,"OtherCharges":32,"QuotedLandedCost":82.74,"InvoiceNumber":"INV-12345","InvoiceDate":"2025-07-16","ExportLicenceRequired":false,"Airn":"231.002.999-00"},"ReturnToSender":{"Address":{"ContactPhone":"07723456789","ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}}}},"Using Address Book":{"value":{"ShipmentInformation":{"ContentType":"NDX","ServiceCode":"STND","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-07-16","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM"},"Shipper":{"ShippingAccountId":"4ab223e6-5505-4eb6-ad37-cb3075d368a1","Reference1":"OrderRef56","Address":{"AddressId":"John Brown Default"}},"Destination":{"Address":{"AddressId":"John Brown Default"}},"Packages":[{"DeclaredWeight":1.5,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"ReturnToSender":{"Address":{"AddressId":"John Brown Default"}}}}}}}},"responses":{"200":{"description":"The shipment was created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelFormatPackageResponseDetailsCreateShipmentResponse"},"examples":{"Create":{"value":{"Packages":[{"ShipmentId":"9192105a-4941-4242-8ffa-f34d5fba88bf","PackageOccurrence":0}]}},"Allocate":{"value":{"Packages":[{"ShipmentId":"0df131ff-332f-40a5-9ad6-e446d5b581fd","PackageOccurrence":0,"TrackingNumber":"H03TCA0000000118","CarrierTrackingUrl":"https://www.evri.com/track/parcel/H03TCA0000000118"}]}},"Process - PDF":{"value":{"Labels":"jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4","LabelFormat":"PDF","Packages":[{"ShipmentId":"94762b1b-303c-4691-93d2-b4cc9a393c2f","PackageOccurrence":0,"TrackingNumber":"H03TCA0000000118","CarrierTrackingUrl":"https://www.evri.com/track/parcel/H03TCA0000000118"}]}},"Process - PNG":{"value":{"Labels":"iVBORw0KGgoAAAANSUhEUgAA.....Hj16v8HJtP5+yLszwEAAAAASUVORK5CYII=","LabelFormat":"PNG","Packages":[{"ShipmentId":"a4ba7bda-966f-4205-a893-c3e5d38cebd5","PackageOccurrence":0,"TrackingNumber":"H03TCA0000000118","CarrierTrackingUrl":"https://www.evri.com/track/parcel/H03TCA0000000118"}]}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The name maximum length is 50 characters.","Cause":"Destination.Address.ContactName","ErrorCode":"E1002"},{"Message":"The service code is required.","Cause":"ShipmentInformation.ServiceCode","ErrorCode":"E1001"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/printLabel/evri/{shipmentId}":{"get":{"tags":["Shipments"],"summary":"Print Label","description":"This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.","parameters":[{"name":"shipmentId","in":"path","description":"Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"maxLength":36,"minLength":0,"type":"string"}},{"name":"labelFormat","in":"query","description":"Label Format\r<br />\r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />\r<br />Defaults To PDF","schema":{"$ref":"#/components/schemas/LabelFormat"}}],"responses":{"200":{"description":"Returns the printed label in the format specified.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelFormatPrintLabelResponse"},"examples":{"PDF":{"value":{"ShipmentId":"58dfe026-0bc5-4725-aed6-d1eefc1eb74d","TrackingNumber":"H03TCA0000000118","CarrierTrackingUrl":"https://www.evri.com/track/parcel/H03TCA0000000118","Label":"jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4","LabelFormat":"PDF"}},"PNG":{"value":{"ShipmentId":"6b9f47b3-0208-47b2-8171-15599f25f3a5","TrackingNumber":"H03TCA0000000118","CarrierTrackingUrl":"https://www.evri.com/track/parcel/H03TCA0000000118","Label":"ëPNG♫◙→◙w0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4","LabelFormat":"PNG"}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The shipment has already been manifested and cannot be reprinted.","Cause":"ShipmentStatus","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipment was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/printMyLabelQRCode/evri/{shipmentId}":{"get":{"tags":["Shipments"],"summary":"Print My Label QR Code","description":"Request associated QR Code for the associated label in the print label call.","parameters":[{"name":"shipmentId","in":"path","description":"Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"maxLength":36,"minLength":0,"type":"string"}}],"responses":{"200":{"description":"Returns the printed QR Code as a Base 64 encoded PNG.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QRCodeResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The service code for this shipment does not support QR Code generation","Cause":"ShipmentId","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipment was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}}},"components":{"schemas":{"AccountType":{"enum":["Sandbox","Production"],"type":"string","description":"Account Type\r<br />Sandbox shipping accounts can only be used for testing your integration.\r<br />Production accounts can be used to ship."},"AddShippingAccountLocation":{"type":"object","properties":{"ShippingLocationId":{"maxLength":100,"type":"string","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id(assigned by SAPIENT) or Alias(assigned by you).\r<br />\r<br />Link an existing location to this account.\r<br />Either a Shipping Location Id must be provided, or the details of a new shipping location provided.","nullable":true,"example":"D94E8CFD-604B-4B87-83E9-3F20CAF02837"},"ShippingLocation":{"$ref":"#/components/schemas/AddShippingAccountLocationNewLocation"}},"additionalProperties":false,"description":"Add Shipping Account Location"},"AddShippingAccountLocationNewLocation":{"required":["Address","LocationAlias","Timezone"],"type":"object","properties":{"LocationAlias":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Alias\r<br />Your identifier for this shipping location","example":"Main Warehouse"},"Timezone":{"maxLength":100,"minLength":1,"type":"string","description":"Time zone","example":"Europe/London"},"IsDefaultLocation":{"type":"boolean","description":"Is Default Location\r<br />If true, this location is the default location used.\r<br />You must have 1 default location.\r<br />Set to false if not provided, or true if is the first location to be added.\r<br />If true, this will set this location as the default location.","nullable":true,"example":false},"Address":{"$ref":"#/components/schemas/AddShippingLocationAddress"}},"additionalProperties":false,"description":"Shipping Location\r<br />\r<br />Add a new shipping location to this account.\r<br />Either a Shipping Location Id must be provided, or the details of a new shipping location provided."},"AddShippingAccountResponse":{"type":"object","properties":{"ShippingAccountId":{"type":"string","description":"Shipping Account Id\r<br />The SAPIENT Identifier assigned to this shipping account.","format":"uuid"},"ShippingLocationId":{"type":"string","description":"Shipping Location Id\r<br />The SAPIENT Identifier assigned to the new location (only populated if new location added).","format":"uuid","nullable":true}},"additionalProperties":false,"description":"Add Shipping Account Response"},"AddShippingLocationAddress":{"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />If supplied all address fields will be ignored and the stored address will be used.","nullable":true,"example":"John Brown Default"},"Line1":{"maxLength":32,"type":"string","description":"First Line Address<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":32,"type":"string","description":"Second Line Address, if applicable","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":32,"type":"string","description":"Third Line Address, if applicable","nullable":true,"example":"Hills End"},"Town":{"maxLength":32,"type":"string","description":"Town<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":10,"type":"string","description":"Postcode / Zip<br />Required for United Kingdom addresses and some international addresses.<br />The Countries API can be used to check whether postcode/zip code is required for a country.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":32,"type":"string","description":"County / State / Province<br />May be required depending on the country.<br />For USA, Australia and Canada, if provided, must be a valid state code or name.<br />The Countries API can be used to check whether county/state is required for a country.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"},"ContactPhone":{"maxLength":20,"type":"string","description":"Contact Phone Number\r<br />If provided, and the shipper address is not provided for a create shipment request, this will be used as the shipper's contact phone number for this location, instead of the shipping account's contact phone number.","format":"tel","nullable":true,"example":"07123887422"}},"additionalProperties":false,"description":"Add Shipping Location Address"},"BusinessTransactionType":{"enum":["B2C","B2B","D2C","C2B"],"type":"string","description":"The Commercial Transaction type of the shipment.\r<br />\r<br />Valid values are:\r<br />**B2C** - Business to Consumer\r<br />**B2B** - Business to Business\r<br />**D2C** - Direct to Consumer\r<br />**C2B** -  Consumer to Business (i.e. a Returns shipment)\r<br />Defaults to B2C if not populated."},"ContentType":{"enum":["NDX","DOX","HV"],"type":"string","description":"Valid values are:\r<br />**NDX** - Non Documents\r<br />**DOX** - Documents\r<br />**HV** - Non Documents of High Value"},"CreateShipmentAction":{"enum":["Process","Create","Allocate"],"type":"string","description":"Indicates the operation to be performed for the shipment, determines the shipment status that is set on shipment creation and whether a shipment tracking number and labels are generated.   \r<br />Valid values are: \r<br />**Process** - Creates a shipment tracking number, generates and prints a label for each package in the shipment, and returns the labels in the createShipment response. With this action, the shipment status is set to Ready to Manifest.\r<br />**Create** - Creates the shipment but does not allocate a tracking number, print the labels or return them in the createShipment response. The label(s) must be printed before the shipment is ready to manifest.\r<br />**Allocate** - Creates the tracking number and label but does not print the labels or return them in the createShipment response. The label(s) must be printed before the shipment is ready to manifest.\r<br />**Note**: *By default, this field is set to Process.*"},"Customs":{"type":"object","properties":{"ReasonForExport":{"maxLength":250,"type":"string","description":"This field specifies the reason for which the international shipment is being sent. This information is essential for customs clearance and regulatory compliance, as it helps understand the nature of the shipment.","nullable":true,"example":"Sale of Goods"},"Incoterms":{"$ref":"#/components/schemas/TermsOfTrade"},"PreRegistrationNumber":{"maxLength":50,"type":"string","description":"Some countries operate a Tax Pre-Registration scheme (e.g., VOEC in Norway, GST in Australia). If you are registered for a Tax Pre-Registration scheme for the destination country and are shipping under the scheme rules then provide the pre-registration number for the destination country.\r<br />A pre-registration number is only relevant if the shipment Incoterms are DDU (Delivery Duty Unpaid).\r<br />If not provided and the shipment incoterms are set to DDU, any pre-registration numbers set up for your account in the Customs Settings GUI will be used.\r<br />**NOTE**: VAT and EORI numbers should be provided in the  Shipper VatNumber and Shipper EoriNumber fields, not in the preRegistrationNumber fields.","nullable":true,"example":"0123456789"},"PreRegistrationType":{"maxLength":18,"type":"string","description":"The type of pre-registration number provided in the PreRegistrationNumber element.\r<br />Required if a pre-registration number has been provided.\r<br />Ignored if there is no pre-registration number.\r<br />**NOTE:** VAT and EORI numbers should be provided in the  Shipper VatNumber and Shipper EoriNumber fields, not in the preRegistrationNumber and PreRegistrationType fields","nullable":true,"example":"GST"},"ShippingCharges":{"maximum":99999.99,"minimum":0,"type":"number","description":"Shipping Charges for International Shipments.\r<br />The postage amount paid by the customer. The amount can be 0.00 if the customer has been offered free delivery.\r<br />Used for the calculation of customs fees.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.","format":"double","nullable":true,"example":55.82},"OtherCharges":{"maximum":99999.99,"minimum":0,"type":"number","description":"Insurance and Other Costs for International Shipments.\r<br />Used to declare any costs the customer has been charged in addition to the standard shipping cost, such as insurance.\r<br />This field can be left blank, or be 0.00 if no other charges have been levied.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.","format":"double","nullable":true,"example":32},"QuotedLandedCost":{"maximum":99999.99,"minimum":0,"type":"number","description":"The total cost quoted to the customer for delivering the shipment. This includes shipping charges, other charges and any customs taxes and duties charges that were quoted.\r<br />Required for some international destinations when the shipment incoterms are DDP.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.","format":"double","nullable":true,"example":82.74},"InvoiceNumber":{"maxLength":35,"type":"string","description":"Invoice Number for International Shipments.\r<br />When sending an item to an overseas address and a Commercial or Proforma invoice is available, the Invoice Number and Date should be provided where possible. This supports customs processing in certain circumstances.\r<br />Required if Invoice Date is provided.\r<br />If provided, this will be displayed on commercial invoices generated for the shipment.","nullable":true},"InvoiceDate":{"type":"string","description":"If not provided, defaults to today's date.\r<br />Ignored if no Invoice Number provided.\r<br />Accepted Format: YYYY-MM-DD","format":"date","nullable":true},"ExportLicenceRequired":{"type":"boolean","description":"Used to flag shipments requiring an export license.\r<br />An export license is neeed for a specific type of goods used predominantly for military purposes.\r<br />You can find out more about the type of items requiring an export licence on the UK Government website.\r<br />If an export licence is required, it should be affixed to the outside of the package.","nullable":true,"example":false},"Airn":{"maxLength":20,"type":"string","description":" The AIRN (Addressee Identification Reference Number) is the generic name given to a national identification number for the overseas recipient of an item.\r<br />The AIRN, when available, should be provided for items being exported to a destination where the customs/tax authority requests one. E.g. Russia and Brazil.","nullable":true,"example":"231.002.999-00"}},"additionalProperties":false,"description":"Customs Information\r<br />Required for some international shipments, depending on the customs requirements of the destination country.\r<br />A shipment is considered to be international if the shipper country and destination country are different."},"Destination":{"required":["Address"],"type":"object","properties":{"EoriNumber":{"maxLength":17,"type":"string","description":"Receiver's Economic Operators and Registration Identification (EORI) number, if applicable (i.e. if the receiver is a business). If a Receiver EORI number is used for the shipment, it must be provided here and not in the Customs element. \r<br />Receiver's EORI number starts with the ISO Alpha-2 Country Code followed by a maximum 15 alphanumeric characters. For Northern Ireland starts with XI\r<br />Mandatory for B2B shipments from GB to Northern Ireland.","nullable":true,"example":"GB 123 4567 89 000"},"VatNumber":{"maxLength":15,"type":"string","description":"Receiver's Value-Added Tax (VAT) number, if applicable (i.e. if the receiver is a business). If a Receiver VAT number is used for the shipment, it must be provided here and not in the Customs element.","nullable":true,"example":"GB 123 4567 89"},"Address":{"$ref":"#/components/schemas/DestinationAddress"}},"additionalProperties":false,"description":"Used to provide details of the shipment destination, such as receiver address and contact details"},"DestinationAddress":{"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />If supplied all address fields will be ignored and the stored address will be used.","nullable":true,"example":"John Brown Default"},"PudoId":{"maxLength":20,"type":"string","description":"A unique identifier for a PUDO location. This ID is retrieved from the LocationId field of the Get PUDO Locations endpoint response and is essential for identifying the specific collection point for a Royal Mail shipment.\r<br />Note: Before providing the PudoId, keep in mind the following:\r<br />- The PudoId is only applicable for destination addresses when the shipment is being created as a collection shipment. Royal Mail does not utilise this ID for drop-off shipments.\r<br />- The destination contact name must be provided with either its contact email or phone number.\r<br />- The LocalCollect supplement code is not required - the system will automatically assign the relevant supplement codes based on the PudoId.","nullable":true},"ContactName":{"maxLength":50,"type":"string","description":"Either Contact Name or Company Name must be provided.","nullable":true,"example":"Jane Doe"},"CompanyName":{"maxLength":50,"type":"string","description":"Either Contact Name or Company Name must be provided.<br>For B2B shipments to Northern Ireland, Destination Company Name must be provided if Sender and Receiver EORI are not provided.","nullable":true,"example":"My Company Ltd."},"ContactEmail":{"maxLength":254,"type":"string","description":"Email address.","format":"email","nullable":true,"example":"jane@example.com"},"ContactPhone":{"maxLength":15,"type":"string","description":"Phone number.","nullable":true,"example":"07123887422"},"Line1":{"maxLength":32,"type":"string","description":"First Line Address<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":32,"type":"string","description":"Second Line Address, if applicable","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":32,"type":"string","description":"Third Line Address, if applicable","nullable":true,"example":"Hills End"},"Town":{"maxLength":32,"type":"string","description":"Town<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":10,"type":"string","description":"Postcode / Zip<br />Required for United Kingdom addresses and some international addresses.<br />The Countries API can be used to check whether postcode/zip code is required for a country.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":32,"type":"string","description":"County / State / Province<br />May be required depending on the country.<br />For USA, Australia and Canada, if provided, must be a valid state code or name.<br />The Countries API can be used to check whether county/state is required for a country.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"}},"additionalProperties":false,"description":"Destination address and contact details."},"Dimensions":{"required":["Height","Length","Width"],"type":"object","properties":{"Length":{"minimum":0.1,"type":"number","description":"The length of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum length accepted is dependent on the service and package type.","format":"double","example":35},"Width":{"minimum":0.1,"type":"number","description":"The width of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum width accepted is dependent on the service and package type.","format":"double","example":25},"Height":{"minimum":0.1,"type":"number","description":"The height of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum height accepted is dependent on the service and package type.","format":"double","example":20}},"additionalProperties":false,"description":"The package dimensions.\r<br />**The presence of the Dimensions element in the request is optional, but if it is provided, then all of the fields in the element (width, length and height) must be populated.** The maximum dimensions accepted are dependent on the service and the package type."},"DimensionsUnitOfMeasure":{"enum":["CM","MM"],"type":"string","description":"The unit of measurement used for the dimensions provided in the **MaxDimensions** object. These values are commonly defined in centimeters or millimeters.\r<br />**Note**: *By default, this field is set to CM.*"},"DocumentFormat":{"enum":["PDF","PNG","ZPL203DPI","ZPL300DPI"],"type":"string","description":"Document Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />\r<br />Defaults To PDF"},"ErrorDetail":{"type":"object","properties":{"Message":{"type":"string","nullable":true},"Cause":{"type":"string","nullable":true},"ErrorCode":{"type":"string","description":"<br /><br />**E1000** - System error<br />**E1001** - Required field<br />**E1002** - Invalid field<br />**E1003** - Invalid action<br />**E1004** - Item not found<br />","nullable":true}},"additionalProperties":false},"ErrorResponse":{"required":["Errors","Message"],"type":"object","properties":{"Message":{"minLength":1,"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"}}},"additionalProperties":false},"EvriAddShippingAccountRequest":{"required":["AccountAlias","AccountNumber","AccountType","ContactName","ContactNumber","Password","ShippingLocations","Username"],"type":"object","properties":{"AccountNumber":{"maxLength":10,"minLength":1,"type":"string","description":"Carrier Account Number\r<br />The account number given by the carrier.\r<br />The Client ID allocated by Evri.","example":"9912347707"},"AccountType":{"$ref":"#/components/schemas/AccountType"},"AccountName":{"maxLength":32,"type":"string","description":"Account Name\r<br />The name on this Account.\r<br />Enter the Client Name allocated by Evri.\r<br />Defaults to your Customer name if not provided.","nullable":true,"example":"AB VideoGames"},"AccountAlias":{"maxLength":30,"minLength":1,"type":"string","description":"Account Alias\r<br />Your identifier for this account. Must be unique.","example":"RM-99112347707"},"ContactName":{"maxLength":100,"minLength":1,"type":"string","description":"Contact Name\r<br />Used in a create shipment request as the shipper's contact name if the shipper address is not provided.","example":"John Smith"},"ContactNumber":{"maxLength":20,"minLength":1,"type":"string","description":"Contact Number\r<br />Used in a create shipment request as the shipper's contact number if the shipper address is not provided, and the contact number is not set on the associated shipping location.","format":"tel","example":"0123456789"},"Username":{"maxLength":256,"minLength":1,"type":"string","description":"The username used for the Evri API.","example":"username"},"Password":{"maxLength":256,"minLength":1,"type":"string","description":"The password used for the Evri API.","example":"password"},"SmsAlertGroupCode":{"maxLength":4,"minLength":4,"type":"string","description":"The alert group code that is allocated by Evri. Required if you use the SMS notification enhancement.","nullable":true,"example":"1234"},"ShippingLocations":{"type":"array","items":{"$ref":"#/components/schemas/AddShippingAccountLocation"},"description":"Shipping Locations\r<br />At least one location is required when adding a shipping account.\r<br />If providing a new location when adding the account, only one location can be added."}},"additionalProperties":false,"description":"Evri Add Shipping Account Request"},"EvriEnhancementCode":{"enum":["Signed","SMS"],"type":"string","description":"Enhancement code of the service enhancement. Valid values are:\r<br />**Signed** - a signature is required on delivery of the shipment.\r<br />**SMS** - delivery updates will be sent via SMS."},"EvriServiceEnhancement":{"required":["Code"],"type":"object","properties":{"Code":{"$ref":"#/components/schemas/EvriEnhancementCode"}},"additionalProperties":false,"description":"Service Enhancement"},"EvriShipmentRequestCarrierSpecifics":{"type":"object","properties":{"ServiceEnhancements":{"type":"array","items":{"$ref":"#/components/schemas/EvriServiceEnhancement"},"description":"Service Enhancements\r<br />Any enhancements that you would like to add to the requested service.","nullable":true},"SpecialInstruction1":{"maxLength":32,"type":"string","description":"Special Instruction for Delivery","nullable":true},"SpecialInstruction2":{"maxLength":32,"type":"string","description":"Special Instruction for Delivery","nullable":true}},"additionalProperties":false,"description":"Evri - specific features that can be used when creating a Evri shipment."},"EvriShipmentRequestCarrierSpecificsPackageDetailsLabelFormatCreateShipmentRequest":{"required":["Destination","Packages","ShipmentInformation","Shipper"],"type":"object","properties":{"ShipmentInformation":{"$ref":"#/components/schemas/LabelFormatShipmentInformation"},"Shipper":{"$ref":"#/components/schemas/Shipper"},"Destination":{"$ref":"#/components/schemas/Destination"},"CarrierSpecifics":{"$ref":"#/components/schemas/EvriShipmentRequestCarrierSpecifics"},"Packages":{"type":"array","items":{"$ref":"#/components/schemas/PackageDetails"},"description":"Shipment Packages<br/>The packages that are being sent in this shipment.<br/>Only one package at a time is allowed."},"Items":{"type":"array","items":{"$ref":"#/components/schemas/Item"},"description":"Shipment Items\r<br />The items contained in the shipment, i.e. the goods/products being shipped \r<br />Item information is required for dutiable shipments for customs purposes.\r<br />Non-Dutiable shipments and 'Documents Only' (DOX) shipments do not require item information.\r<br />If Item Verification check on shipment creation is enabled, the maximum number of distinct items that will be verified in one shipment is 15.","nullable":true},"Customs":{"$ref":"#/components/schemas/Customs"},"ReturnToSender":{"$ref":"#/components/schemas/ReturnToSender"}},"additionalProperties":false,"description":"Create Shipment Request"},"EvriShippingAccount":{"required":["AccountAlias","AccountName","AccountStatus","AccountType","CarrierCode","ClientId","ClientName","ContactName","ContactNumber","LastUpdatedBy","LastUpdatedDateUtc","ShippingAccountId","Username"],"type":"object","properties":{"ShippingAccountId":{"type":"string","description":"Shipping Account Id\r<br />The system identifier for this account.\r<br />Use one of the Id or Alias in the Create Shipment Request to identify the account to use.","format":"uuid"},"CarrierCode":{"minLength":1,"type":"string","description":"Carrier Code\r<br />The carrier that this shipping account is for.","example":"RM"},"AccountNumber":{"type":"string","description":"Carrier Account Number\r<br />The account number given by the carrier.","nullable":true,"example":"0123456789"},"AccountType":{"$ref":"#/components/schemas/AccountType"},"AccountName":{"maxLength":35,"minLength":1,"type":"string","description":"Shipping Account Name\r<br />The name of the Shipping Account.\r<br />Defaults to your Customer name if not provided.","example":"AB VideoGames"},"AccountAlias":{"maxLength":30,"minLength":1,"type":"string","description":"Shipping Account Alias\r<br />Your identifier for this account. Must be unique.","example":"JSL"},"AccountStatus":{"minLength":1,"type":"string","description":"Account Status\r<br />The status of the shipping account.","example":"Enabled"},"ContactName":{"maxLength":100,"minLength":1,"type":"string","description":"Contact Name\r<br />Used in a create shipment request as the shipper's contact name if the shipper address is not provided.","example":"John Smith"},"ContactNumber":{"maxLength":20,"minLength":1,"type":"string","description":"Contact Number\r<br />Used in a create shipment request as the shipper's contact number if the shipper address is not provided, and the contact number is not set on the associated shipping location.","format":"tel","example":"0123456789"},"ClientId":{"maxLength":10,"minLength":1,"type":"string","description":"The ClientId used for the Evri API.","example":"1234567890"},"ClientName":{"maxLength":32,"minLength":1,"type":"string","description":"The Client Name used for the Evri API.","example":"Client name"},"Username":{"maxLength":256,"minLength":1,"type":"string","description":"The username used for the Evri API.","example":"username"},"SmsAlertGroupCode":{"maxLength":4,"minLength":4,"type":"string","description":"The alert group code that is allocated by Evri. Required if you use the SMS notification enhancement.","nullable":true,"example":"1234"},"LastUpdatedBy":{"minLength":1,"type":"string","description":"Last Updated By\r<br />The user that last updated the shipping account.","example":"User A"},"LastUpdatedDateUtc":{"type":"string","description":"Last Updated Date UTC\r<br />The system date and time when the shipping account was last updated.","format":"date-time"}},"additionalProperties":false,"description":"Shipping Account\r<br />An account that sends shipments. A shipping account is for a specified carrier.\r<br />You can have multiple shipping accounts.\r<br />A Shipping Account must have at least one Shipping Location."},"EvriShippingAccountShippingAccountsPagedResponse":{"required":["ShippingAccounts","TotalCount"],"type":"object","properties":{"ShippingAccounts":{"type":"array","items":{"$ref":"#/components/schemas/EvriShippingAccount"},"description":"Shipping Accounts\r<br />The shipping accounts for the requested page only."},"TotalCount":{"type":"integer","description":"Total Count\r<br />The total number of accounts available","format":"int32","example":303}},"additionalProperties":false,"description":"The paged response containing the entities for the requested page only, and the total number available."},"EvriUpdateShippingAccountRequest":{"required":["AccountAlias","AccountName","AccountNumber","AccountType","ContactName","ContactNumber","Password","Username"],"type":"object","properties":{"AccountNumber":{"maxLength":10,"minLength":1,"type":"string","description":"Carrier Account Number\r<br />The Client ID allocated by Evri.","example":"9912347707"},"AccountType":{"$ref":"#/components/schemas/AccountType"},"AccountName":{"maxLength":32,"minLength":1,"type":"string","description":"Account Name\r<br />The name on this Account.\r<br />The Client Name allocated by Evri.","example":"AB VideoGames"},"AccountAlias":{"maxLength":30,"minLength":1,"type":"string","description":"Account Alias\r<br />Your identifier for this account. Must be unique.","example":"RM-99112347707"},"ContactName":{"maxLength":100,"minLength":1,"type":"string","description":"Contact Name\r<br />Used in a create shipment request as the shipper's contact name if the shipper address is not provided.","example":"John Smith"},"ContactNumber":{"maxLength":20,"minLength":1,"type":"string","description":"Contact Number\r<br />Used in a create shipment request as the shipper's contact number if the shipper address is not provided, and the contact number is not set on the associated shipping location.","format":"tel","example":"0123456789"},"Username":{"maxLength":256,"minLength":1,"type":"string","description":"The username used for the Evri API.","example":"username"},"Password":{"maxLength":256,"minLength":1,"type":"string","description":"The password used for the Evri API.","example":"password"},"SmsAlertGroupCode":{"maxLength":4,"minLength":4,"type":"string","description":"The alert group code that is allocated by Evri. Required if you use the SMS notification enhancement.","nullable":true,"example":"1234"}},"additionalProperties":false,"description":"Evri Update Shipping Account Request"},"Hazmat":{"required":["Class","Quantity","UNCode","UnitOfMeasure"],"type":"object","properties":{"UNCode":{"maxLength":4,"minLength":4,"type":"string","description":"Mandatory if Hazmat information is present. UN Identification Number of the hazardous item.","example":"1002"},"ProperShippingName":{"maxLength":100,"type":"string","description":"Proper Shipping Name of the hazardous item being shipped.","nullable":true,"example":"Compressed Air"},"Class":{"maxLength":3,"minLength":1,"type":"string","description":"Mandatory if Hazmat information is provided. Used to provide the class number of the hazardous item being shipped.","example":"9"},"Id8000Category":{"type":"string","description":"If the hazardous goods class is 9, an applicable ID8000 category is required. \r<br />If ID8000 category is provided with any hazardous goods class other than class 9, it will be ignored.\r<br />Available values are:\r<br />- Medicines\r<br />- Perfume/Aftershave\r<br />- Nail Varnish\r<br />- Toiletry or Medicinal Aerosols\r<br />\r<br />If a customer sends a Create Shipment request with the ID8000Category field populated and the Class field is populated with any value other than class 9,\r<br />the ID8000Category will be ignored and the data will not be saved on the shipment record.\r<br />If a customer sends a Create Shipment request with the ID8000Category field populated and the Class field is populated with 9,\r<br />the system will behave as it does currently (create the Product and save the ID8000 data to the product record)","nullable":true,"example":"Nail Varnish"},"Quantity":{"maximum":9999999.99,"minimum":0.01,"type":"number","description":"Mandatory if Hazmat information is provided. The hazardous item quantity in the relevant unit of measure for one item.","format":"double","example":3.5},"UnitOfMeasure":{"$ref":"#/components/schemas/HazmatUnitOfMeasure"},"EmergencyActionCode":{"maxLength":4,"minLength":4,"type":"string","description":"Emergency Action Code of the hazardous item.","nullable":true,"example":"E012"},"HazchemNumber":{"maxLength":3,"minLength":3,"type":"string","description":"The Hazchem Number of the item.","nullable":true},"SpecialistAdviceContactNumber":{"maxLength":20,"type":"string","description":"The specialist advice phone number to contact if there are any issues with the hazardous item.\r<br />If not provided, when a hazardous stored product is used in create shipment request, the phone number will be set from the customer shipping account record.","nullable":true}},"additionalProperties":false,"description":"Hazmat Information"},"HazmatUnitOfMeasure":{"enum":["L","KG"],"type":"string","description":"Mandatory if Hazmat information is provided. The unit of measure for the dangerous goods, this is 'L' for liquids and gas and 'KG' for solids."},"Item":{"required":["Quantity"],"type":"object","properties":{"SkuCode":{"maxLength":30,"type":"string","description":"Stock Keeping Unit number of the item.","nullable":true,"example":"C604-25-035"},"PackageOccurrence":{"maximum":99,"minimum":1,"type":"integer","description":"Used to assign this item to a specific package.\r<br />The Package Occurrence provided here must exist on one of the packages in the Package element.       \r<br />Note: For Royal Mail dutiable multi-package shipments that are not using a consignment service, items must be assigned to a package so that accurate customs information is given.\r<br />Therefore, if the shipment contains more than one package, and it isn't using a consignment service, then Package Occurrence is required.","format":"int32","nullable":true,"example":1},"Quantity":{"maximum":2147483647,"minimum":1,"type":"integer","description":"The quantity of these items in the package.","format":"int32","example":1},"Description":{"maxLength":255,"type":"string","description":"Description of the item. This must describe the specific item being shipped rather than the general nature of the goods e.g. 'skirt' instead of 'ladies clothing'. \r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.","nullable":true,"example":"White Tee-shirt"},"Value":{"maximum":9999999.99,"minimum":0,"type":"number","description":"The value of a single instance of the item, in the currency provided for the shipment in the CurrencyCode field.\r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.","format":"double","nullable":true,"example":98.99},"Weight":{"maximum":1000000,"minimum":0,"type":"number","description":"The weight of a single instance of the item, in the unit of measure provided in the WeightUnitOfMeasure element (defaults to KG).\r<br />For non-dutiable shipments, a weight of 0 is accepted. For dutiable shipments, an item weight of 1 gram or greater must be provided. \r<br />The maximum weight accepted is 1000 KG.\r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.","format":"double","nullable":true,"example":145},"HSCode":{"type":"string","description":"The Harmonized Commodity Description and Coding System Code.\r<br />Used by Customs to calculate potential duties and taxes.\r<br />May be required for dutiable shipments, depending on the carrier and destination country.\r<br />The number of characters required for the HS Code may vary depending on the service and destination country.\r<br />Dots and spaces in the HS Code are accepted.\r<br />For more information on HS Codes and to find the correct HS Codes for your items, see https://www.gov.uk/trade-tariff","nullable":true,"example":"6109100010"},"CountryOfOrigin":{"maxLength":2,"minLength":2,"type":"string","description":"Country the item was produced/manufactured in. \r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />May be required on dutiable shipments, depending on the carrier and destination country.","nullable":true,"example":"GB"},"SupplementaryUnits":{"maximum":10000000000000000,"minimum":0.000001,"pattern":"^\\d+(\\.\\d{1,6})?$","type":"number","description":"This field specifies any additional unit of measurements that supplement the primary unit of measurements for the item being shipped.\r<br />For example: The HS code for PVC Black Flooring Roll 2.5mm is 391890. HMRC/Tariff determines that you provide a supplementary unit in square metres (MTK) with HS code 391890.\r<br />\r<br />*Note: For B2B shipments to Northern Ireland, this field is optional if the HMRC/Tariff determines that the Tariff/Harmonisation Code provided requires a supplementary unit.*\r<br />*You can enter values to a maximum of 6 decimal places.*","format":"double","nullable":true,"example":12.2}},"additionalProperties":false,"description":"Used to provide details of the items sent in the shipment package(s). \r<br />Item information is optional for domestic and non-dutiable shipments, but required for dutiable shipments. \r<br />If item information is provided, this element must be repeated for each unique item in the shipment."},"LabelFormat":{"enum":["PDF","PNG"],"type":"string","description":"Sets the label format that will be returned in the createShipment Response.\r<br />Valid values are:\r<br />**PDF** - returns a Base64-encoded PDF\r<br />**PNG** - returns a Base64-enconded PNG\r<br />Defaults to PDF if not populated."},"LabelFormatPackageResponseDetailsCreateShipmentResponse":{"type":"object","properties":{"ConsignmentShipmentId":{"type":"string","description":"Consignment Shipment Id\r<br />Only populated if the service is a consignment service.","format":"uuid","nullable":true,"example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"ConsignmentTrackingNumber":{"type":"string","description":"Consignment Tracking Number\r<br />Only populated if the service is a consignment service","nullable":true,"example":"DF12384739GB"},"ConsignmentCarrierTrackingUrl":{"type":"string","description":"Consignment Carrier Tracking URL\r<br />Only populated if the service is a consignment service and is available","format":"uri","nullable":true,"example":"http://shipmentcarrier.com/tracking/DF12384739GB"},"Labels":{"type":"string","description":"Labels\r<br />Populated if requested Action was 'Process'","nullable":true,"example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"},"LabelFormat":{"$ref":"#/components/schemas/LabelFormat"},"Packages":{"type":"array","items":{"$ref":"#/components/schemas/PackageResponseDetails"},"description":"Packages\r<br />The details of each package.","nullable":true},"Documents":{"type":"string","description":"Customs Documents\r<br />Populated if requested Action was 'Process' and shipment is dutiable","nullable":true,"example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"},"DocumentFormat":{"$ref":"#/components/schemas/DocumentFormat"}},"additionalProperties":false,"description":"Create Shipment Response"},"LabelFormatPrintLabelResponse":{"required":["LabelFormat","ShipmentId"],"type":"object","properties":{"ShipmentId":{"type":"string","description":"Shipment Id","format":"uuid","example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"TrackingNumber":{"type":"string","description":"Tracking Number","nullable":true,"example":"TT12384739GB"},"CarrierTrackingUrl":{"type":"string","description":"Carrier Tracking URL","format":"uri","nullable":true,"example":"http://shipmentcarrier.com/tracking/DF12384739GB"},"Label":{"type":"string","description":"Label\r<br />Base 64 Encoded String of the given label format.","nullable":true,"example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"},"LabelFormat":{"$ref":"#/components/schemas/LabelFormat"}},"additionalProperties":false,"description":"Print Label Response"},"LabelFormatShipmentInformation":{"required":["ContentType","DescriptionOfGoods","ServiceCode"],"type":"object","properties":{"Action":{"$ref":"#/components/schemas/CreateShipmentAction"},"LabelFormat":{"$ref":"#/components/schemas/LabelFormat"},"ContentType":{"$ref":"#/components/schemas/ContentType"},"ServiceCode":{"maxLength":10,"minLength":1,"type":"string","description":"The code of the shipping service used to deliver the shipment.","example":"CRL1"},"DescriptionOfGoods":{"maxLength":70,"minLength":1,"type":"string","description":"A general description of the type of goods being sent.","example":"Clothing"},"BusinessTransactionType":{"$ref":"#/components/schemas/BusinessTransactionType"},"ShipmentDate":{"type":"string","description":"The date the shipment packages will be shipped.\r<br />Shipment Date cannot be in the past and cannot be more than 28 days in the future.\r<br />Defaults to the current date if not populated.\r<br />Accepted Format: YYYY-MM-DD","format":"date","nullable":true},"DeclaredValue":{"maximum":9999999.99,"minimum":0,"type":"number","description":"The declared value of the total shipment in the currency specified.\r<br />If provided, the value must be equal to or greater than the sum of all item values.\r<br />If not provided it defaults to the sum of all item values.\r<br />Ignored for Non-Consignment Services where multiple packages are declared - use the Declared Value at package level instead.","format":"double","nullable":true,"example":98.99},"DeclaredWeight":{"minimum":0.001,"type":"number","description":"The declared weight of the total shipment in the unit of measure specified by WeightUnitOfMeasure (defaults to KG).\r<br />The minimum weight allowed is 1 gram.\r<br />The maximum weight is dependent on the carrier / service / destination.\r<br />The weight must be equal to or greater than the sum of all package weights and/or item weights.\r<br />Required for Consignment Services.\r<br />Ignored for Non-Consignment Services - use the Declared Weight at package level instead.","format":"double","nullable":true,"example":1.5},"CurrencyCode":{"maxLength":3,"minLength":3,"type":"string","description":"The currency code used for any monetary value related to the shipment.\r<br />3 letter ISO Currency Code.\r<br />*Required if any monetary values other than zero are provided.*","nullable":true,"example":"GBP"},"WeightUnitOfMeasure":{"$ref":"#/components/schemas/WeightUnitOfMeasure"},"DimensionsUnitOfMeasure":{"$ref":"#/components/schemas/DimensionsUnitOfMeasure"},"ContainerId":{"type":"string","description":"SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) for the container.\r<br />If a valid ContainerId is provided, the shipment(s) in the request will be allocated to the container automatically on creation.\r<br />If ContainerId is provided, then Process is the only valid action accepted in the Action field.\r<br />The container must have already been created for the same Carrier and Shipping Location as your shipment","nullable":true,"example":"South East"}},"additionalProperties":false,"description":"Used to provide shipment-level information such as service code, content type, general goods description, total shipment weight and value etc."},"OrderDirection":{"enum":["Ascending","Descending"],"type":"string","description":"Order Direction"},"PackageDetails":{"type":"object","properties":{"PackageOccurrence":{"maximum":99,"minimum":1,"type":"integer","description":"Used to match a returned Package ID to this package.\r<br />Can also be used to assign items to this package.\r<br />If provided, each package occurrence must be unique.\r<br />Note: For Royal Mail dutiable multi-package shipments that are not using a consignment service, items must be assigned to a package so that accurate customs information is given.\r<br />Therefore, if the shipment contains more than one package, and it isn't using a consignment service, then Package Occurrence is required.","format":"int32","nullable":true,"example":1},"DeclaredWeight":{"minimum":0.001,"type":"number","description":"The total weight of this package in the unit of measure specified by WeightUnitOfMeasure (defaults to KG).\r<br />The minimum weight allowed is 1 gram.\r<br />The maximum weight is dependent on the carrier / service / destination.\r<br />Mandatory for shipments using non-consignment services.","format":"double","nullable":true,"example":1.5},"DeclaredValue":{"maximum":9999999.99,"minimum":0.01,"type":"number","description":"The declared value of the total package in the currency specified.\r<br />If provided, the value must be equal or greater than the sum of all item values assigned to this package.\r<br />If not provided it defaults to the sum of all item values.\r<br />Used for shipment using non-consignment services, but not mandatory.","format":"double","nullable":true,"example":98.99},"Dimensions":{"$ref":"#/components/schemas/Dimensions"}},"additionalProperties":false,"description":"Shipment Package\r<br />Each shipment must have at least one package."},"PackageResponseDetails":{"type":"object","properties":{"ShipmentId":{"type":"string","description":"Shipment Id\r<br />Only populated if the service is a non-consignment service.","format":"uuid","nullable":true,"example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"PackageOccurrence":{"type":"integer","description":"Package Occurrence\r<br />The package occurrence you gave to the package, or if not provided, the default package occurrence.","format":"int32"},"TrackingNumber":{"type":"string","description":"Tracking Number\r<br />The tracking number for this package occurrence.","nullable":true,"example":"TT123456789GB"},"CarrierTrackingUrl":{"type":"string","description":"Tracking URL\r<br />The carrier's tracking URL.\r<br />Only present if available.","format":"uri","nullable":true}},"additionalProperties":false,"description":"Package Response On Create Details"},"QRCodeResponse":{"required":["QRCode","ShipmentId"],"type":"object","properties":{"ShipmentId":{"type":"string","description":"Shipment Id","format":"uuid","example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"QRCode":{"minLength":1,"type":"string","description":"QR Code\r<br />Base 64 Encoded PNG","example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"}},"additionalProperties":false,"description":"QR Code Response"},"ReturnToSender":{"type":"object","properties":{"Address":{"$ref":"#/components/schemas/ReturnToSenderAddress"}},"additionalProperties":false,"description":"Return To Sender information such as address and contact details\r<br />If not provided, the Shipping Location's address is used."},"ReturnToSenderAddress":{"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />If supplied all address fields will be ignored and the stored address will be used.","nullable":true,"example":"John Brown Default"},"PudoId":{"maxLength":20,"type":"string","description":"A unique identifier for a PUDO location. This ID is retrieved from the LocationId field of the Get PUDO Locations endpoint response and is essential for identifying the specific collection point for a Royal Mail shipment.\r<br />Note: Before providing the PudoId, keep in mind the following:\r<br />- The PudoId is only applicable for destination addresses when the shipment is being created as a collection shipment. Royal Mail does not utilise this ID for drop-off shipments.\r<br />- The destination contact name must be provided with either its contact email or phone number.\r<br />- The LocalCollect supplement code is not required - the system will automatically assign the relevant supplement codes based on the PudoId.","nullable":true},"ContactName":{"maxLength":50,"type":"string","description":"Either Contact Name or Company Name must be provided.","nullable":true,"example":"Jane Doe"},"CompanyName":{"maxLength":50,"type":"string","description":"Either Contact Name or Company Name must be provided.<br>For B2B shipments to Northern Ireland, Destination Company Name must be provided if Sender and Receiver EORI are not provided.","nullable":true,"example":"My Company Ltd."},"ContactEmail":{"maxLength":254,"type":"string","description":"Email address.","format":"email","nullable":true,"example":"jane@example.com"},"ContactPhone":{"maxLength":15,"type":"string","description":"Phone number.","nullable":true,"example":"07123887422"},"Line1":{"maxLength":32,"type":"string","description":"First Line Address<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":32,"type":"string","description":"Second Line Address, if applicable","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":32,"type":"string","description":"Third Line Address, if applicable","nullable":true,"example":"Hills End"},"Town":{"maxLength":32,"type":"string","description":"Town<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":10,"type":"string","description":"Postcode / Zip<br />Required for United Kingdom addresses and some international addresses.<br />The Countries API can be used to check whether postcode/zip code is required for a country.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":32,"type":"string","description":"County / State / Province<br />May be required depending on the country.<br />For USA, Australia and Canada, if provided, must be a valid state code or name.<br />The Countries API can be used to check whether county/state is required for a country.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"}},"additionalProperties":false,"description":"Return To Sender address and contact details."},"Shipper":{"required":["ShippingAccountId"],"type":"object","properties":{"ShippingAccountId":{"maxLength":36,"minLength":1,"type":"string","description":"Shipping Account the shipment is being created for. This can be populated with either the Shipping Account ID assigned by SAPIENT Shipping Account ID or the Shipping Account Alias set when the Shipping Account was created. Both can be viewed in the Shipping Account GUI.","example":"453"},"ShippingLocationId":{"maxLength":100,"type":"string","description":"Shipping Location the shipment is being shipped from. This can be populated with either the Shipping Location ID assigned by SAPIENT or the Shipping Location Alias set when the Shipping Location was created.Both can be viewed in the Shipping Location GUI.\r<br />Mandatory if there is more than one Shipping Location available for the Shipping Account.","nullable":true,"example":"938"},"Reference1":{"maxLength":30,"type":"string","description":"The shipper's reference for this shipment - this is usually the shipper's order number that was provided to the consumer at the time the order was made.","nullable":true,"example":"REF-12345-GB"},"Reference2":{"maxLength":30,"type":"string","description":"Optional second reference for this shipment.","nullable":true,"example":"EXTERNALREF-12345-GB"},"DepartmentNumber":{"maxLength":10,"type":"string","description":"Department Number<br>Evri: 3 characters<br>If provided for an Evri shipment, Department Number must match a Child Client ID configured in the Child Client Departments UI","nullable":true,"example":"0123456789"},"EoriNumber":{"maxLength":17,"type":"string","description":"Shipper's Economic Operators and Registration Identification (EORI) number. If a Shipper EORI number is used for the shipment, it must be provided here and not in the Customs element.\r<br />Shipper's EORI number starts with the ISO Alpha-2 Country Code followed by a maximum 15 alphanumeric characters. For Northern Ireland starts with XI.\r<br />Mandatory for B2B shipments from GB to Northern Ireland.","nullable":true,"example":"GB 123 4567 89 000"},"VatNumber":{"maxLength":15,"type":"string","description":"Shipper's Value Added Tax (VAT) Number. If a Shipper VAT number is used for the shipment, it must be provided here and not in the Customs element.","nullable":true,"example":"GB 123 4567 89"},"Address":{"$ref":"#/components/schemas/ShipperAddress"}},"additionalProperties":false,"description":"Used to provide shipper details such as address, contact details, VAT and EORI number etc."},"ShipperAddress":{"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />If supplied all address fields will be ignored and the stored address will be used.","nullable":true,"example":"John Brown Default"},"PudoId":{"maxLength":20,"type":"string","description":"A unique identifier for a PUDO location. This ID is retrieved from the LocationId field of the Get PUDO Locations endpoint response and is essential for identifying the specific collection point for a Royal Mail shipment.\r<br />Note: Before providing the PudoId, keep in mind the following:\r<br />- The PudoId is only applicable for destination addresses when the shipment is being created as a collection shipment. Royal Mail does not utilise this ID for drop-off shipments.\r<br />- The destination contact name must be provided with either its contact email or phone number.\r<br />- The LocalCollect supplement code is not required - the system will automatically assign the relevant supplement codes based on the PudoId.","nullable":true},"ContactName":{"maxLength":50,"type":"string","description":"Either Contact Name or Company Name must be provided.","nullable":true,"example":"Jane Doe"},"CompanyName":{"maxLength":50,"type":"string","description":"Either Contact Name or Company Name must be provided.<br>For B2B shipments to Northern Ireland, Destination Company Name must be provided if Sender and Receiver EORI are not provided.","nullable":true,"example":"My Company Ltd."},"ContactEmail":{"maxLength":254,"type":"string","description":"Email address.","format":"email","nullable":true,"example":"jane@example.com"},"ContactPhone":{"maxLength":15,"type":"string","description":"Phone number.","nullable":true,"example":"07123887422"},"Line1":{"maxLength":32,"type":"string","description":"First Line Address<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":32,"type":"string","description":"Second Line Address, if applicable","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":32,"type":"string","description":"Third Line Address, if applicable","nullable":true,"example":"Hills End"},"Town":{"maxLength":32,"type":"string","description":"Town<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":10,"type":"string","description":"Postcode / Zip<br />Required for United Kingdom addresses and some international addresses.<br />The Countries API can be used to check whether postcode/zip code is required for a country.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":32,"type":"string","description":"County / State / Province<br />May be required depending on the country.<br />For USA, Australia and Canada, if provided, must be a valid state code or name.<br />The Countries API can be used to check whether county/state is required for a country.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"}},"additionalProperties":false,"description":"Shipper Address\r<br />If not provided, the Shipping Location's address is used."},"ShippingAccountsSortBy":{"enum":["Name","Alias","LastModified","CarrierAccountNumber"],"type":"string","description":"Sort By"},"ShippingLocation":{"required":["Address","IsDefaultLocation","LastUpdatedBy","LastUpdatedDateUtc","LocationAlias","ShippingLocationId","Timezone"],"type":"object","properties":{"ShippingLocationId":{"type":"string","description":"Shipping Location Id\r<br />The system identifier for this shipping location.","format":"uuid"},"LocationAlias":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Alias\r<br />Your identifier for this shipping location. Must be unique.","example":"Main Warehouse"},"IsDefaultLocation":{"type":"boolean","description":"Is Default Location\r<br />If true, this location is the default location.","example":false},"Timezone":{"maxLength":100,"minLength":1,"type":"string","description":"Time zone","example":"Europe/London"},"LastUpdatedDateUtc":{"type":"string","description":"Last Updated Date UTC","format":"date-time","example":"2022-02-06T16:13:24.010Z"},"LastUpdatedBy":{"maxLength":100,"minLength":1,"type":"string","description":"Last Updated By","example":"User A"},"Address":{"$ref":"#/components/schemas/ShippingLocationAddress"}},"additionalProperties":false,"description":"Shipping Location\r<br />A location where the shipping account sends shipments from.\r<br />Every Shipping Account must have at least one Shipping Location.\r<br />A shipping account can have many shipping locations.\r<br />A shipping location can have many shipping accounts.\r<br />Each shipment created must be from an existing shipping location."},"ShippingLocationAddress":{"type":"object","properties":{"Line1":{"maxLength":32,"type":"string","description":"First Line Address<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":32,"type":"string","description":"Second Line Address, if applicable","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":32,"type":"string","description":"Third Line Address, if applicable","nullable":true,"example":"Hills End"},"Town":{"maxLength":32,"type":"string","description":"Town<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":10,"type":"string","description":"Postcode / Zip<br />Required for United Kingdom addresses and some international addresses.<br />The Countries API can be used to check whether postcode/zip code is required for a country.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":32,"type":"string","description":"County / State / Province<br />May be required depending on the country.<br />For USA, Australia and Canada, if provided, must be a valid state code or name.<br />The Countries API can be used to check whether county/state is required for a country.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"},"ContactPhone":{"maxLength":20,"type":"string","description":"Contact Phone Number\r<br />If provided, and the shipper address is not provided for a create shipment request, this will be used as the shipper's contact phone number for this location, instead of the shipping account's contact phone number.","format":"tel","nullable":true,"example":"07123887422"}},"additionalProperties":false,"description":"Shipping Location Address"},"ShippingLocationForAccount":{"required":["Address","LastUpdatedBy","LastUpdatedDateUtc","LocationAlias","ShippingLocationId","Timezone"],"type":"object","properties":{"ShippingLocationId":{"type":"string","description":"Shipping Location Id\r<br />The system identifier for this shipping location.","format":"uuid"},"LocationAlias":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Alias\r<br />Your identifier for this shipping location. Must be unique.","example":"Main Warehouse"},"Timezone":{"maxLength":100,"minLength":1,"type":"string","description":"Time zone","example":"Europe/London"},"LastUpdatedDateUtc":{"type":"string","description":"Last Updated Date UTC","format":"date-time","example":"2022-02-06T16:13:24.010Z"},"LastUpdatedBy":{"maxLength":100,"minLength":1,"type":"string","description":"Last Updated By","example":"User A"},"Address":{"$ref":"#/components/schemas/ShippingLocationAddress"}},"additionalProperties":false,"description":"Shipping Location\r<br />A location where the shipping account sends shipments from.\r<br />Every Shipping Account must have at least one Shipping Location.\r<br />A shipping account can have lots of shipping locations.\r<br />Each shipment created must be from an existing shipping location."},"ShippingLocationIdRequest":{"required":["ShippingLocationId"],"type":"object","properties":{"ShippingLocationId":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id(assigned by SAPIENT) or Alias(assigned by you).","example":"D94E8CFD-604B-4B87-83E9-3F20CAF02837"}},"additionalProperties":false,"description":"Shipping Location Id Request"},"ShippingLocationsForAccountPagedResponse":{"required":["ShippingLocations","TotalCount"],"type":"object","properties":{"ShippingLocations":{"type":"array","items":{"$ref":"#/components/schemas/ShippingLocationForAccount"},"description":"Shipping Locations\r<br />The shipping locations for the requested page only."},"TotalCount":{"type":"integer","description":"Total Count\r<br />The total number of accounts available","format":"int32","example":303}},"additionalProperties":false,"description":"The paged response containing the entities for the requested page only, and the total number available."},"ShippingLocationsSortBy":{"enum":["Name"],"type":"string","description":"Sort By"},"TermsOfTrade":{"enum":["DDU","DDP","DAP","DAT"],"type":"string","description":"International Commercial Terms (Incoterms) / Terms of Trade.\r<br />Valid values are:\r<br />**DDU** — Delivered Duty Unpaid. The receiver is responsible for paying customs duties and taxes.\r<br />**DDP** — Delivered Duty Paid. The seller is responsible for paying customs duties and taxes.\r<br />**DAP** — Delivered At Place. The receiver is responsible for paying customs duties and taxes.\r<br />**DAT** — Delivered At Terminal. The receiver is responsible for paying customs duties and taxes.\r<br />Defaults to DDU if not provided for dutiable shipments. Does not need to be provided for non-dutiable shipments."},"WeightUnitOfMeasure":{"enum":["KG","Grams"],"type":"string","description":"The unit of measurement used for the weight specified in the MaxWeight field, such as kilograms (kg). For example, if the WeightUnitOfMeasure is \"kg\", all weight limits must be interpreted in kilograms, indicating compliance with the carrier's specifications. The valid values for this field are KG and Grams.\r<br />**Note**: *By default, this field is set to KG.*"}},"securitySchemes":{"oauth2":{"type":"oauth2","description":"JSON Web Token (JWT) authorization header using the Bearer scheme.\r\n\r\nExample: \"bearer { token }\"","flows":{"clientCredentials":{"tokenUrl":"https://authentication.intersoftsapient.net/connect/token","scopes":{}}}}}},"security":[{"oauth2":[]}],"tags":[{"name":"Shipping Accounts","description":"This section provides information relating to managing shipping accounts.\n\nA shipping account is where you assign your carrier credentials and link them to the relevant shipping location/s."},{"name":"Shipments","description":"This section provides information relating to creating Evri shipments, printing shipping labels, the customs documentation."}]}