{
  "openapi": "3.0.1",
  "info": {
    "title": "SAPIENT ROYAL MAIL API",
    "description": "# Introduction\nHere you will find requirements for integrating with SAPIENT ROYAL MAIL API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe SAPIENT ROYAL MAIL API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n",
    "version": "v4.0-RM",
    "x-logo": {
      "url": "/Content/images/redoc-logo.png",
      "altText": "ReDoc"
    }
  },
  "servers": [
    {
      "url": "https://api.intersoftsapient.net/",
      "description": "Sapient Server"
    }
  ],
  "paths": {
    "/v4/shippingAccounts/rm": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Provides a list of Royal Mail shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts for the given carrier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailShippingAccountShippingAccountsPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Add Account",
        "description": "Add a shipping account for Royal Mail and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like Royal Mail account number, Posting Location, OBA access codes and receiving hub, so that you can use the account for shipping with Royal Mail.",
        "requestBody": {
          "description": "Add Shipping Account Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailAddShippingAccountRequest"
              },
              "examples": {
                "Add account to existing location": {
                  "value": {
                    "AccountNumber": "9912347707",
                    "AccountType": "Sandbox",
                    "AccountName": "AB VideoGames",
                    "AccountAlias": "RM-99112347707",
                    "ContactName": "John Smith",
                    "ContactNumber": "0123456789",
                    "AccountRegisteredEmail": "my.email@example.com",
                    "RegisteredBillingPostcode": "TW20 0HJ",
                    "ShippingLocations": [
                      {
                        "PostingLocationCode": "2345654321",
                        "ObaAccessCode": "123456",
                        "ReceivingHubCode": "002610",
                        "ShippingLocationId": "eba10228-f2f7-4ed2-84d5-f62b8c03435d"
                      }
                    ]
                  }
                },
                "Add account at new location": {
                  "value": {
                    "AccountNumber": "9912347707",
                    "AccountType": "Sandbox",
                    "AccountName": "AB VideoGames",
                    "AccountAlias": "RM-99112347707",
                    "ContactName": "John Smith",
                    "ContactNumber": "0123456789",
                    "AccountRegisteredEmail": "my.email@example.com",
                    "RegisteredBillingPostcode": "TW20 0HJ",
                    "ShippingLocations": [
                      {
                        "PostingLocationCode": "2345654321",
                        "ObaAccessCode": "123456",
                        "ReceivingHubCode": "002610",
                        "ShippingLocation": {
                          "LocationAlias": "Main Warehouse",
                          "Timezone": "Europe/London",
                          "IsDefaultLocation": false,
                          "Address": {
                            "ContactPhone": "07123887422",
                            "Line1": "Brown Cottage",
                            "Line2": "10 Sky Lane",
                            "Line3": "Hills End",
                            "Town": "Christchurch",
                            "Postcode": "TW20 0HJ",
                            "County": "Surrey",
                            "CountryCode": "GB"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShippingAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Account",
        "description": "Provides details for a Royal Mail account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shipping account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailShippingAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Account",
        "description": "Update shipping account details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Account Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailUpdateShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was updated successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/linkLocations": {
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Link Locations",
        "description": "Link one or more shipping locations with a Royal Mail shipping account.\r<br />Ensure to have required carrier details ready: Royal Mail Posting Location number, OBA access codes and receiving hub, so that you can link it successfully.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to associate with this shipping account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RoyalMailLinkShippingAccountLocation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping location(s) have been linked to the account successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipping location was not found",
                      "Cause": "[2].ShippingLocationId",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Locations",
        "description": "Provides a list of all shipping locations associated with a Royal Mail shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingLocationsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of associated shipping locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationsForAccountPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Location",
        "description": "Provides information for a specific shipping location linked to a Royal Mail shipping account including location alias, Royal Mail specific details, timezone, address, when it was last updated, and by who.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the associated shipping location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationForAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Associated Location",
        "description": "Update a shipping location associated with a specific Royal Mail shipping account with carrier specific details like Posting Location, OBA access code and receiving hub.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Location Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailUpdateShippingAccountLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates the shipping location"
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The posting location code is required.",
                      "Cause": "PostingLocationCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/rm": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create Shipment",
        "description": "Create a Royal Mail shipment. This will return an image of the shipping label in PDF, PNG or ZPL format.",
        "requestBody": {
          "description": "Shipment Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailShipmentRequestCarrierSpecificsRoyalMailPackageRoyalMailLabelFormatCreateShipmentRequest"
              },
              "examples": {
                "Domestic - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-03-18",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "901d4d9c-3ecd-4989-b913-1866c6958a74",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "DeclaredWeight": 1.5
                      }
                    ]
                  }
                },
                "Domestic - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceLevel": "01",
                      "EbayVtn": "ebay1234abc",
                      "ServiceEnhancements": [
                        {
                          "Code": "Signed"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-03-18",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "6b77064c-78e6-4e27-bbb9-b7a5fe8d746e",
                      "ShippingLocationId": "8bca9538-bd70-470a-b439-869d9fb09b8c",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "GB"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "GB"
                      }
                    ],
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "International - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "OLA",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-03-18",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "MM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "b852363d-a8ab-4e45-8038-0b413192706d",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Sale of Goods",
                      "Incoterms": "DDU"
                    }
                  }
                },
                "International - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceLevel": "02",
                      "EbayVtn": "ebay1234abc",
                      "ServiceEnhancements": [
                        {
                          "Code": "CustomsEmail"
                        },
                        {
                          "Code": "CustomsPhone"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "OLA",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-03-18",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "MM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "87c5326b-d583-4e70-8161-05998f79fac3",
                      "ShippingLocationId": "13da4676-6a28-40a9-a59f-2efca35ab952",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "CN"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "CN"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Sale Of Goods",
                      "Incoterms": "DDU",
                      "PreRegistrationNumber": "0123456789",
                      "PreRegistrationType": "GST",
                      "ShippingCharges": 55.82,
                      "OtherCharges": 32,
                      "QuotedLandedCost": 82.74,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-03-18",
                      "ExportLicenceRequired": false,
                      "Airn": "231.002.999-00"
                    },
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "Offline Barcode": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceEnhancements": [],
                      "OfflineBarcodes": [
                        {
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TK000505009GB",
                          "UniqueId": "4C006978600000074B117"
                        },
                        {
                          "PackageOccurrence": 2,
                          "TrackingNumber": "TK000568026GB",
                          "UniqueId": "4C006978600000074B125"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "52beef3b-d8e5-4575-b167-69f5e76a4d50",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 2,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                },
                "Pre-Allocated Tracking Number": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceEnhancements": [
                        {
                          "Code": "Signed"
                        }
                      ],
                      "PreAllocatedTrackingNumber": "TK000568036GB"
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "35",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                },
                "Hazmat Items": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "TPS",
                      "DescriptionOfGoods": "Aftershave",
                      "ShipmentDate": "2026-03-18",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "2c61e6e9-fd84-4142-bc0e-8dc2a8893ca0",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "DeclaredWeight": 1.5
                      }
                    ],
                    "Items": [
                      {
                        "Quantity": 1,
                        "Description": "Aftershave",
                        "Value": 1000,
                        "Weight": 0.2,
                        "HSCode": "3307100000",
                        "CountryOfOrigin": "IT",
                        "Hazmat": {
                          "UNCode": "1266",
                          "ProperShippingName": "Aftershave",
                          "Class": "9",
                          "Id8000Category": "Perfume/Aftershave",
                          "Quantity": 1.5,
                          "UnitOfMeasure": "L"
                        }
                      }
                    ]
                  }
                },
                "Using Address Book": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceEnhancements": [
                        {
                          "Code": "Signed"
                        }
                      ],
                      "PreAllocatedTrackingNumber": "TK123456789GB"
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "35",
                      "Reference1": "OrderRef56",
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "ReturnToSender": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    }
                  }
                },
                "ReturnLabelsAtPackageLevel": {
                  "value": {
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": true,
                      "ContentType": "NDX",
                      "ServiceCode": "OLA",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-03-18",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "MM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "87554883-298d-4091-80c8-fafb0b50cf6f",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99
                      },
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 2,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 2,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Sale of Goods",
                      "Incoterms": "DDU"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipment was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPackageResponseCreateShipmentResponse"
                },
                "examples": {
                  "Create": {
                    "value": {
                      "Packages": [
                        {
                          "ShipmentId": "ba85dd31-9684-457a-ab86-11bbf21406f5",
                          "PackageOccurrence": 1
                        }
                      ]
                    }
                  },
                  "Allocate": {
                    "value": {
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "3A07033860010000B2268"
                          },
                          "ShipmentId": "3a41dae2-d5d5-4f77-9d0a-5e5f0222e21a",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT123456785GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
                        }
                      ]
                    }
                  },
                  "Process - PDF": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39"
                          },
                          "ShipmentId": "9cdf6d60-3178-465c-92bf-04f28364ce78",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "EO000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/EO000250025GB"
                        }
                      ]
                    }
                  },
                  "Process - DATASTREAM": {
                    "value": {
                      "LabelFormat": "DATASTREAM",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "3A07033860010000B2268",
                            "DataStreamDetails": {
                              "Primary2DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                              "Primary2DBarcodeData": "u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA",
                              "FormattedUniqueId": "3A-070 338 6001-000 0B2 000",
                              "GazetteerCodes": {
                                "Part1": "Q25",
                                "Part2": "A9",
                                "Part3": "SE"
                              },
                              "SecondaryRoutingCode": "BGTK",
                              "Primary1DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                              "Primary1DBarcodeData": "TT123456785GB"
                            }
                          },
                          "ShipmentId": "b0998368-8c87-4328-bbe1-140659cd75bc",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT123456785GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
                        }
                      ]
                    }
                  },
                  "Process PDF - Dutiable Shipment": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39"
                          },
                          "ShipmentId": "d2b4e8fc-95ef-405e-8b60-3a555b923b8e",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "EO000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/EO000250025GB"
                        }
                      ],
                      "Documents": "..A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - PDF - Consignment Shipment": {
                    "value": {
                      "ConsignmentTrackingNumber": "AB123456789GB_CON",
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F2310202400000AF1E3E"
                          },
                          "ShipmentId": "7f34d328-fc68-4a5c-80dd-73e8a6214814",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "AB123456789GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/AB123456789GB"
                        },
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F2310202400000AF1E4C"
                          },
                          "ShipmentId": "d72ec4a4-b820-4572-b91a-f0c3c57640fe",
                          "PackageOccurrence": 2,
                          "TrackingNumber": "AB123456790GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/AB123456790GB"
                        }
                      ]
                    }
                  },
                  "Process PDF - Shipment with GLS Dual Label": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39",
                            "PartnerDetails": {
                              "PartnerName": "GLS",
                              "PartnerCode": "GLS",
                              "PartnerTrackingNumber": "999880948504",
                              "PartnerTrackingUrl": "https://gls-group.com/GROUP/en/parcel-tracking"
                            }
                          },
                          "ShipmentId": "51c04d75-0332-4bca-a279-1267173e3232",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "EO000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/EO000250025GB"
                        }
                      ]
                    }
                  },
                  "ReturnLabelsAtPackageLevel": {
                    "value": {
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39",
                            "PartnerDetails": {
                              "PartnerName": "GLS",
                              "PartnerCode": "GLS",
                              "PartnerTrackingNumber": "999880948504",
                              "PartnerTrackingUrl": "https://gls-group.com/GROUP/en/parcel-tracking"
                            }
                          },
                          "ShipmentId": "8b5e313b-66df-461d-b8e2-17e21512c15d",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "EO000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/EO000250025GB",
                          "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
                        },
                        {
                          "CarrierDetails": {
                            "UniqueId": "3AB06978600450137EB39",
                            "PartnerDetails": {
                              "PartnerName": "GLS",
                              "PartnerCode": "GLS",
                              "PartnerTrackingNumber": "999880948534",
                              "PartnerTrackingUrl": "https://gls-group.com/GROUP/en/parcel-tracking"
                            }
                          },
                          "ShipmentId": "ada6e2b0-5b53-432d-9163-7730f165f7f1",
                          "PackageOccurrence": 2,
                          "TrackingNumber": "EO000250458GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/EO000250458GB",
                          "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
                        }
                      ],
                      "Documents": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "DocumentFormat": "PDF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The name maximum length is 50 characters.",
                      "Cause": "Destination.Address.ContactName",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The service code is required.",
                      "Cause": "ShipmentInformation.ServiceCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The carrier was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printLabel/rm/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Label",
        "description": "This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "labelFormat",
            "in": "query",
            "description": "Label Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**DATASTREAM** - Label components broken down into a data-stream, for you to draw your own label\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />**PDF4X3** - Base 64 encoded PDF 4x3 format PDF\r<br />**PNG4X3** - Base 64 encoded PDF 4x3 format PNG\r<br />            \r<br />*DATASTREAM is only available if it has been activated on your account.*\r<br />            \r<br />Defaults To PDF",
            "schema": {
              "$ref": "#/components/schemas/RoyalMailLabelFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed label in the format specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPrintLabelResponse"
                },
                "examples": {
                  "PDF": {
                    "value": {
                      "ShipmentId": "00000000-0000-0000-0000-000000000000",
                      "TrackingNumber": "TT123456785GB",
                      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB",
                      "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "CarrierDetails": {
                        "UniqueId": "3A07033860010000B2268"
                      }
                    }
                  },
                  "DATASTREAM": {
                    "value": {
                      "ShipmentId": "00000000-0000-0000-0000-000000000000",
                      "TrackingNumber": "TT123456785GB",
                      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB",
                      "LabelFormat": "DATASTREAM",
                      "CarrierDetails": {
                        "UniqueId": "3A07033860010000B2268",
                        "DataStreamDetails": {
                          "Primary2DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                          "Primary2DBarcodeData": "u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA",
                          "FormattedUniqueId": "3A-070 338 6001-000 0B2 000",
                          "GazetteerCodes": {
                            "Part1": "L55",
                            "Part2": "G43",
                            "Part3": "SE"
                          },
                          "SecondaryRoutingCode": "NORW",
                          "Primary1DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                          "Primary1DBarcodeData": "TT123456785GB"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipment has already been manifested and cannot be reprinted.",
                      "Cause": "ShipmentStatus",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printMyLabelQRCode/rm/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print My Label QR Code",
        "description": "Request associated QR Code for the associated label in the print label call.\r<br />This is only available for Royal Mail Tracked Return Services.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed QR Code as a Base 64 encoded PNG.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The service code for this shipment does not support QR Code generation",
                      "Cause": "ShipmentId",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/collections/rm/{shipmentId}": {
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Book Collection",
        "description": "Books a Royal Mail collection request for an existing shipment. The service used to create the shipment must allow for the shipment to be collected. If no timeslot is sent in the request, then the first available collection date will be automatically selected.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create Collection Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionRequest"
              },
              "examples": {
                "Create Collection With Timeslot ID": {
                  "value": {
                    "SlotReservationId": "22ff8a2a-791c-4331-a92e-03fde07ca425",
                    "SlotDate": "2026-03-18",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false,
                    "CollectionSafePlace": "Safe place description"
                  }
                },
                "Create Collection Without Timeslot ID": {
                  "value": {
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false,
                    "CollectionSafePlace": "Safe place description"
                  }
                },
                "Create Collection With Opt Out From RM Notifications": {
                  "value": {
                    "SlotReservationId": "57c4d0ee-75ef-4152-9449-a654f6d5b23e",
                    "SlotDate": "2026-03-18",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": true,
                    "CollectionSafePlace": "Safe place description"
                  }
                },
                "Create Collection Without Collection Safe Place": {
                  "value": {
                    "SlotReservationId": "d1c1f284-4cc0-42f1-b555-c93fdfc0b7ff",
                    "SlotDate": "2026-03-18",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false
                  }
                },
                "Create Collection With Collection Safe Place": {
                  "value": {
                    "SlotReservationId": "3d7ada0c-fca1-400f-ac56-8bbbda20ca8e",
                    "SlotDate": "2026-03-18",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false,
                    "CollectionSafePlace": "Safe place description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the collection date and its unique identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/collections/rm/{shipmentId}/cancel": {
      "put": {
        "tags": [
          "Collections"
        ],
        "summary": "Cancel Collection",
        "description": "Cancels a Royal Mail collection request for an existing shipment.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection has been cancelled successfully."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/collections/rm/timeslots/{shipmentId}": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get Collections Timeslots",
        "description": "Returns all available collection dates based on a shipment tracking number or uniqueId. The shipment must have been created using Royal Mail.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available dates for collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollectionsTimeslotsResponse"
                },
                "example": {
                  "ShipmentId": "072d80e4-8f9f-42e4-9c03-6b81a3597ce6",
                  "SlotReservationId": "cc08bc48-8078-4b63-9e28-e288cab858e7",
                  "SlotReservationExpiryTime": "2026-03-18T09:45:20.119Z",
                  "Slots": [
                    {
                      "SlotDate": "2026-03-19",
                      "EstimatedWindow": "14:30-16:30"
                    },
                    {
                      "SlotDate": "2026-03-20",
                      "EstimatedWindow": "14:30-16:30"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/internationalArrivalsContainers/rm": {
      "post": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Add Container",
        "description": "Create and name (with and ID or alias) a new international arrivals container to be used for manifesting a specific group of shipments. Define which carrier and shipping location the container should be linked to.",
        "requestBody": {
          "description": "Add Container Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInternationalArrivalsContainerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The container has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddInternationalArrivalsContainerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "An open container with the containerId already exists for this location.",
                      "Cause": "ContainerId",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Get Containers",
        "description": "Provides a list of all international arrivals containers set up on the system.\r<br />Information about the shipping location, total weight, number of shipments and packages in the containers will be returned.",
        "parameters": [
          {
            "name": "shippingLocationId",
            "in": "query",
            "description": "Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: CreatedDateUtc",
            "schema": {
              "$ref": "#/components/schemas/ContainersSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          },
          {
            "name": "containerStatus",
            "in": "query",
            "description": "The status of the container\r<br />Default: Active",
            "schema": {
              "$ref": "#/components/schemas/ContainerStatusForFiltering"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of containers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternationalArrivalsContainersPagedResponse"
                },
                "example": {
                  "Containers": [
                    {
                      "ContainerId": "South East",
                      "ContainerBarcode": "TT12345678GB",
                      "CreatedDateUtc": "2026-03-18T09:30:20.500Z",
                      "ShippingLocationAlias": "Northern Warehouse",
                      "ShippingLocationId": "93f6d928-9456-434a-9d69-60f3b7dea091",
                      "ContainerStatus": "Manifested",
                      "DestinationCountryCode": "GB",
                      "ExportDate": "2026-03-18",
                      "Mawb": "125-12345678",
                      "RmService": "P",
                      "RmProduct": "T",
                      "RmContentFormat": "P",
                      "RmOeCode": "GBR",
                      "ContainerLabel": "Base64EncodedString…",
                      "TotalWeight": 12,
                      "WeightUnitOfMeasure": "KG",
                      "TotalShipments": 2,
                      "TotalPackages": 1
                    },
                    {
                      "ContainerId": "South West",
                      "ContainerBarcode": "TT12345679GB",
                      "CreatedDateUtc": "2026-03-17T09:30:20.500Z",
                      "ShippingLocationAlias": "Northern Warehouse",
                      "ShippingLocationId": "93f6d928-9456-434a-9d69-60f3b7dea091",
                      "ContainerStatus": "Active",
                      "DestinationCountryCode": "GB",
                      "ExportDate": "2026-03-18",
                      "Mawb": "125-12345678",
                      "RmService": "S",
                      "RmProduct": "O",
                      "RmContentFormat": "G",
                      "RmOeCode": "GBR",
                      "ContainerLabel": "Base64EncodedString…",
                      "TotalWeight": 14,
                      "WeightUnitOfMeasure": "KG",
                      "TotalShipments": 3,
                      "TotalPackages": 1
                    }
                  ],
                  "TotalCount": 2
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/internationalArrivalsContainers/rm/update/{containerId}": {
      "put": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Update Container",
        "description": "Allows the details of the International Arrivals container to be updated.",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update International Arrivals Container Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInternationalArrivalsContainerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The container has been successfully updated."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The carrier of the shipment must match the Container carrier.",
                      "Cause": "ShipmentIds[0]",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The Shipping Location of the shipment must match the Container Shipping Location.",
                      "Cause": "ShipmentIds[0]",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The shipment is not on hold or does not have label printed status.",
                      "Cause": "ShipmentIds[2]",
                      "ErrorCode": "E1003"
                    },
                    {
                      "Message": "The shipment does not exist.",
                      "Cause": "ShipmentIds[10]",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The container does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/internationalArrivalsContainers/rm/{containerId}": {
      "put": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Add/Remove Shipments",
        "description": "Allocate shipments to a container or remove them from it before the container will be manifested.",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update Container Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContainerRequest"
              },
              "example": {
                "ShipmentIds": [
                  "TT123456783GB",
                  "e3239e85-ddf8-4323-9064-b83c38eff927",
                  "072d80e4-8f9f-42e4-9c03-6b81a3597ce6",
                  "e9848731-e65c-4a9b-a86d-bbbbfbe7d93a",
                  "d8d6ca51-a0d1-4dc1-845d-f24ea2dc117d",
                  "TT382749386GB",
                  "3A00697860000000B6824"
                ],
                "Mode": "Add"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The container has been successfully updated."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The carrier of the shipment must match the Container carrier.",
                      "Cause": "ShipmentIds[0]",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The Shipping Location of the shipment must match the Container Shipping Location.",
                      "Cause": "ShipmentIds[0]",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The shipment is not on hold or does not have label printed status.",
                      "Cause": "ShipmentIds[2]",
                      "ErrorCode": "E1003"
                    },
                    {
                      "Message": "The shipment does not exist.",
                      "Cause": "ShipmentIds[10]",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The container does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Delete Container",
        "description": "Delete a specific container.\r<br />Only containers with Active status can be deleted.",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The container has been successfully deleted."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The container has already been manifested therefore this cannot be deleted. Only containers with Active status can be deleted.",
                      "Cause": "ContainerId",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The container does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Get Container",
        "description": "Provides details for a specific container.\r<br />Information about the shipping location, total weight, number of shipments and packages in the containers will be returned.",
        "parameters": [
          {
            "name": "containerId",
            "in": "path",
            "description": "Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnShipments",
            "in": "query",
            "description": "If set to True, the response will return a list of the shipments allocated to the container.\r<br />Defaults to False if not provided.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a details of the container.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalArrivalsContainerResponse"
                },
                "examples": {
                  "Without Shipments": {
                    "value": {
                      "ContainerId": "South East",
                      "ContainerBarcode": "TT12345678GB",
                      "CreatedDateUtc": "2026-03-18T09:30:20.798Z",
                      "ShippingLocationAlias": "Northern Warehouse",
                      "ShippingLocationId": "93f6d928-9456-434a-9d69-60f3b7dea091",
                      "ContainerStatus": "Active",
                      "DestinationCountryCode": "GB",
                      "ExportDate": "2026-03-18",
                      "Mawb": "125-12345678",
                      "RmService": "P",
                      "RmProduct": "T",
                      "RmContentFormat": "P",
                      "RmOeCode": "GBR",
                      "ContainerLabel": "Base64EncodedString…",
                      "TotalWeight": 12,
                      "WeightUnitOfMeasure": "KG",
                      "TotalShipments": 2,
                      "TotalPackages": 1
                    }
                  },
                  "With Shipments": {
                    "value": {
                      "ContainerId": "South East",
                      "ContainerBarcode": "TT12345678GB",
                      "CreatedDateUtc": "2026-03-18T09:30:20.798Z",
                      "ShippingLocationAlias": "Northern Warehouse",
                      "ShippingLocationId": "93f6d928-9456-434a-9d69-60f3b7dea091",
                      "ContainerStatus": "Active",
                      "DestinationCountryCode": "GB",
                      "ExportDate": "2026-03-18",
                      "Mawb": "125-12345678",
                      "RmService": "P",
                      "RmProduct": "T",
                      "RmContentFormat": "P",
                      "RmOeCode": "GBR",
                      "ContainerLabel": "Base64EncodedString…",
                      "TotalWeight": 12,
                      "WeightUnitOfMeasure": "KG",
                      "TotalShipments": 2,
                      "TotalPackages": 1,
                      "Shipments": [
                        {
                          "TrackingNumber": "TT000860906GB",
                          "BarcodeNumber": "4C0069786000000014AC0",
                          "Reference1": "OrderRef71",
                          "ManifestNumber": "COS0000016"
                        }
                      ],
                      "ManifestNumbers": [
                        "COS0000016"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The container does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/offlineBarcodeNumberRange/rm": {
      "post": {
        "tags": [
          "Offline Barcoding"
        ],
        "summary": "Get Barcode Range",
        "description": "Get barcode ranges for offline barcoding.\r<br />Offline Barcoding is only available if it has been activated on your customer account in the GUI.",
        "requestBody": {
          "description": "The request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailGetOfflineBarcodingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the offline barcode ranges successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoyalMailGetOfflineBarcodingResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/preallocateTrackingNumber/rm": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Pre Allocate Tracking Number",
        "description": "This service can be used to receive a Royal Mail Tracking Number that will be pre-allocated to the service and destination supplied in the request. No shipment or label will be produced from this service.\r<br />This service can only be used for services that are assigned a tracking number.\r<br />This service must be used in conjunction with CreateShipment service populating the TrackingNumber in the CarrierSpecifics /PreAllocatedBarcode section with the pre-allocated TrackingNumber returned in this service response.",
        "requestBody": {
          "description": "The request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreAllocateTrackingNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the pre allocated tracking number successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreAllocateTrackingNumberResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
[...]
