{
  "openapi": "3.0.1",
  "info": {
    "title": "SAPIENT DPD NETHERLANDS API",
    "description": "# Introduction\nHere you will find requirements for integrating with INTERSOFT SAPIENT API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe SAPIENT CORE API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n",
    "version": "v4.0-DPDNL",
    "x-logo": {
      "url": "/Content/images/redoc-logo.png",
      "altText": "ReDoc"
    }
  },
  "servers": [
    {
      "url": "https://api.intersoftsapient.net/",
      "description": "Sapient Server"
    }
  ],
  "paths": {
    "/v4/shippingAccounts/dpdnl": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Provides a list of DPD Netherlands shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts for the given carrier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpdNetherlandsShippingAccountShippingAccountsPagedResponse"
                },
                "example": {
                  "ShippingAccounts": [
                    {
                      "ShippingAccountId": "c5ad86eb-3547-480e-9249-c52a6b71bc0b",
                      "CarrierCode": "DPDNL",
                      "AccountNumber": "DP0000001",
                      "AccountType": "Sandbox",
                      "AccountName": "AB VideoGames",
                      "AccountAlias": "DpdNl-9912346902",
                      "AccountStatus": "Enabled",
                      "ContactName": "John Smith",
                      "ContactNumber": "0123456789",
                      "UserId": "UserId01",
                      "DepotNumber": "0522",
                      "NotificationLanguage": "English",
                      "LastUpdatedBy": "User A",
                      "LastUpdatedDateUtc": "2026-05-20T08:54:28.798Z"
                    },
                    {
                      "ShippingAccountId": "46d58272-5f6a-405d-a947-c46c9caea56f",
                      "CarrierCode": "DPDNL",
                      "AccountNumber": "DP0000002",
                      "AccountType": "Sandbox",
                      "AccountName": "KG Pet Shop",
                      "AccountAlias": "DpdNl-9917584966",
                      "AccountStatus": "Enabled",
                      "ContactName": "Joan Smith",
                      "ContactNumber": "0123456789",
                      "UserId": "UserId02",
                      "DepotNumber": "2141",
                      "NotificationLanguage": "Dutch",
                      "LastUpdatedBy": "User B",
                      "LastUpdatedDateUtc": "2026-05-20T08:54:28.799Z"
                    }
                  ],
                  "TotalCount": 2
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Add Account",
        "description": "Add a shipping account for DPD Netherlands and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like DPD Netherlands account name (client name allocated by DPD Netherlands), username and password so that you can use the account for shipping with DPD Netherlands.",
        "requestBody": {
          "description": "Add Shipping Account Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpdNetherlandsAddShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShippingAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpdnl/{shippingAccountId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Account",
        "description": "Provides details for a DPD Netherlands account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shipping account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpdNetherlandsShippingAccount"
                },
                "example": {
                  "ShippingAccountId": "c5ad86eb-3547-480e-9249-c52a6b71bc0b",
                  "CarrierCode": "DPDNL",
                  "AccountNumber": "DP0000001",
                  "AccountType": "Sandbox",
                  "AccountName": "AB VideoGames",
                  "AccountAlias": "DpdNl-9912346902",
                  "AccountStatus": "Enabled",
                  "ContactName": "John Smith",
                  "ContactNumber": "0123456789",
                  "UserId": "UserId01",
                  "DepotNumber": "0522",
                  "NotificationLanguage": "English",
                  "LastUpdatedBy": "User A",
                  "LastUpdatedDateUtc": "2026-05-20T08:54:29.275Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Account",
        "description": "Update shipping account details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Account Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpdNetherlandsUpdateShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was updated successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpdnl/{shippingAccountId}/linkLocations": {
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Link Locations",
        "description": "Link one or more shipping locations with a DPD Netherlands shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to associate with this shipping account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShippingLocationIdRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping location(s) have been linked to the account successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipping location was not found",
                      "Cause": "[2].ShippingLocationId",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpdnl/{shippingAccountId}/shippingLocations": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Locations",
        "description": "Provides a list of all shipping locations associated with a DPD Netherlands shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingLocationsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of associated shipping locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingLocationsForAccountPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpdnl/{shippingAccountId}/shippingLocations/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Location",
        "description": "Provides information for a specific shipping location linked to a DPD Netherlands shipping account including location alias, timezone, address, when it was last updated, and by who.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the associated shipping location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingLocation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/dpdnl": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create Shipment",
        "description": "Create a DPD Netherlands shipment. This will return an image of the shipping label in PDF or PNG format.",
        "requestBody": {
          "description": "Shipment Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpdNetherlandsShipmentRequestCarrierSpecificsPackageDetailsDpdNetherlandsLabelFormatCreateShipmentRequest"
              },
              "examples": {
                "Domestic - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "327",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-05-20",
                      "DeclaredWeight": 1.5,
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "97042ffd-d42e-468a-babf-f2c58086a88e",
                      "Reference1": "OrderRef56",
                      "Address": {
                        "ContactName": "Jane Smith",
                        "ContactEmail": "email@server.com",
                        "Line1": "10 Sky Lane",
                        "Town": "Utrecht",
                        "Postcode": "3511 AZ",
                        "CountryCode": "NL"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "Keizersgracht 241",
                        "Town": "Amsterdam",
                        "Postcode": "1016 EA",
                        "CountryCode": "NL"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                },
                "Domestic - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "Email"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PNG",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "327",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-05-20",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "f884e541-34cb-4d1a-ac95-8aeff3511fca",
                      "ShippingLocationId": "e14a0b35-9776-4f71-ba32-eefc0f08d759",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Keizersgracht 241",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Utrecht",
                        "Postcode": "3511 AZ",
                        "County": "Surrey",
                        "CountryCode": "NL"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "Oudegracht 112",
                        "Town": "Amsterdam",
                        "Postcode": "1016 EA",
                        "CountryCode": "NL"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "61091000",
                        "CountryOfOrigin": "CN"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "61101130",
                        "CountryOfOrigin": "CN"
                      }
                    ]
                  }
                },
                "International - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "327",
                      "DescriptionOfGoods": "Clothes",
                      "BusinessTransactionType": "B2C",
                      "ShipmentDate": "2026-05-20",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "f188569a-1beb-469f-9868-2501ae54d347",
                      "Reference1": "OrderRef56",
                      "Reference2": "OrderRef57",
                      "EoriNumber": "GB12345",
                      "VatNumber": "VA12345",
                      "Address": {
                        "ContactName": "Jane Smith",
                        "ContactEmail": "email@server.com",
                        "Line1": "Keizersgracht 241",
                        "Town": "Utrecht",
                        "Postcode": "3511 AZ",
                        "CountryCode": "NL"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.5,
                        "HSCode": "61101130",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "01",
                      "Incoterms": "DDP",
                      "InvoiceNumber": "INV-12345"
                    }
                  }
                },
                "International - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "Email"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "327",
                      "DescriptionOfGoods": "Clothes",
                      "BusinessTransactionType": "B2C",
                      "ShipmentDate": "2026-05-20",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "a36cbedf-bf53-43b3-ad64-ca6fae81246b",
                      "ShippingLocationId": "4365f581-9377-410f-96cd-14287a009c15",
                      "Reference1": "OrderRef56",
                      "Reference2": "OrderRef57",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Keizersgracht 241",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Amsterdam",
                        "Postcode": "1016 EA",
                        "County": "Surrey",
                        "CountryCode": "NL"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "CN"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.5,
                        "HSCode": "61101130",
                        "CountryOfOrigin": "CN"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "01",
                      "Incoterms": "DDP",
                      "PreRegistrationNumber": "0123456789",
                      "PreRegistrationType": "IOSS",
                      "ShippingCharges": 55.82,
                      "OtherCharges": 32,
                      "QuotedLandedCost": 82.74,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-05-20",
                      "ExportLicenceRequired": false,
                      "Airn": "231.002.999-00"
                    },
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "NL"
                      }
                    }
                  }
                },
                "Using Address Book": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "327",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-05-20",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "fe9dc8d8-2fc2-47ba-b575-3143d0ecd636",
                      "Reference1": "OrderRef56",
                      "Reference2": "OrderRef57",
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipment was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpdNetherlandsLabelFormatPackageResponseDetailsCreateShipmentResponse"
                },
                "examples": {
                  "Create": {
                    "value": {
                      "Packages": [
                        {
                          "ShipmentId": "ef7445af-601f-4225-9496-f0a02ed0d5f2",
                          "PackageOccurrence": 1
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Allocate": {
                    "value": {
                      "Packages": [
                        {
                          "ShipmentId": "51421621-4269-493f-a5b2-5bc3da8d6420",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "H03TCA0000000118",
                          "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118"
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - PDF": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "Pdf",
                      "Packages": [
                        {
                          "ShipmentId": "42b176c8-1088-4a4e-9345-56e9a398abab",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "H03TCA0000000118",
                          "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118"
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - ZPL203DPI": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "Zpl203Dpi",
                      "Packages": [
                        {
                          "ShipmentId": "155cb29f-69be-4aa0-8871-408524b7e3e7",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "H03TCA0000000118",
                          "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118"
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - ZPL300DPI": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "Zpl300Dpi",
                      "Packages": [
                        {
                          "ShipmentId": "97c74682-33d4-4e56-888c-742386b55619",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "H03TCA0000000118",
                          "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118"
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - QRCode": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "Qrcode",
                      "Packages": [
                        {
                          "ShipmentId": "c54f120c-8ef4-471a-8c0f-a57de6dcaf82",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "H03TCA0000000118",
                          "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118"
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - QRCodeAndPDF": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "QrcodeAndPdf",
                      "Packages": [
                        {
                          "ShipmentId": "e3cb9a15-1fb5-451a-ba68-c06c1a58ea91",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "H03TCA0000000118",
                          "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118"
                        }
                      ],
                      "DocumentFormat": "PDF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The name maximum length is 50 characters.",
                      "Cause": "Destination.Address.ContactName",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The service code is required.",
                      "Cause": "ShipmentInformation.ServiceCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The carrier was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printLabel/dpdnl/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Label",
        "description": "This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment ID\r<br />The Shipment ID may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "labelFormat",
            "in": "query",
            "description": "Label Format\r<br />            \r<br />**PDF** - Base 64 encoded PDF\r<br />**PNG** - Base 64 encoded PNG\r<br />**ZPL203DPI** - Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** - Base 64 encoded text for Zebra printer at 300 DPI\r<br />**QRCode** - DPD Netherlands specific QR code label\r<br />**QRCodeAndPDF** - DPD Netherlands specific QR code label with PDF label\r<br />            \r<br />Defaults to PDF if not populated.",
            "schema": {
              "$ref": "#/components/schemas/DpdNetherlandsLabelFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed label in the format specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpdNetherlandsLabelFormatPrintLabelResponse"
                },
                "examples": {
                  "PDF": {
                    "value": {
                      "ShipmentId": "bf197086-0d19-4d41-929b-89dd18f4b72b",
                      "TrackingNumber": "H03TCA0000000118",
                      "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118",
                      "Label": "JVBERi0xLjQKJeLjz9MKMSAwI.....T4+CnN0YXJ0eHJlZgo0MTQ5OAolJUVPRgo=",
                      "LabelFormat": "PDF"
                    }
                  },
                  "ZPL203DPI": {
                    "value": {
                      "ShipmentId": "42ca82e3-a227-4ba7-bd0f-2d022e027094",
                      "TrackingNumber": "H03TCA0000000118",
                      "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118",
                      "Label": "XlhBXlBPTl5QUTEsMCwwLE5eT.....DcyMyAxNTIxIDQzMjggNTI4UV5GU15YWg==",
                      "LabelFormat": "ZPL203DPI"
                    }
                  },
                  "ZPL300DPI": {
                    "value": {
                      "ShipmentId": "e17ca4f9-7c26-4496-874d-741f8f34885b",
                      "TrackingNumber": "H03TCA0000000118",
                      "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118",
                      "Label": "XlhBXlBPTl5QUTEsMCwwLE5eT.....DcyMyAxNTIxIDUzMjggNTI4RF5GU15YWg==",
                      "LabelFormat": "ZPL300DPI"
                    }
                  },
                  "QRCode": {
                    "value": {
                      "ShipmentId": "edbb5775-4c31-49ce-9227-2993c068fad9",
                      "TrackingNumber": "H03TCA0000000118",
                      "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118",
                      "Label": "iVBORw0KGgoAAAANSUhEUgAAB.....XRFWHRQaXhlbFVuaXRzAG1ldGVyc5RC83Y=",
                      "LabelFormat": "QRCode"
                    }
                  },
                  "QRCodeAndPDF": {
                    "value": {
                      "ShipmentId": "1cf00395-4573-4743-b73e-1c8468af3bd2",
                      "TrackingNumber": "H03TCA0000000118",
                      "CarrierTrackingUrl": "https://www.dpdgroup.com/nl/mydpd/my-parcels/search?lang=en&parcelNumber=H03TCA0000000118",
                      "Label": "JVBERi0xLjQKJdP0zOEKMSAwI.....jAKc3RhcnR4cmVmCjEyNjE5MAolJUVPRgo=",
                      "LabelFormat": "QRCodeAndPDF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipment has already been manifested and cannot be reprinted.",
                      "Cause": "ShipmentStatus",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountType": {
        "enum": [
          "Sandbox",
          "Production"
        ],
        "type": "string",
        "description": "Indicates whether the account is set up as a \"sandbox\" or \"production\" account. A **Sandbox** account is for testing and development, while a **Production** account is used for live shipments and transactions."
      },
      "AddShippingAccountLocation": {
        "type": "object",
        "properties": {
          "ShippingLocationId": {
            "maxLength": 100,
            "type": "string",
            "description": "This field is used to link an existing shipping location to the new shipping account that is being created, and either the shipping location Id or alias can be provided to link the shipping location to the shipping account.",
            "nullable": true,
            "example": "D94E8CFD-604B-4B87-83E9-3F20CAF02837"
          },
          "ShippingLocation": {
            "$ref": "#/components/schemas/AddShippingAccountLocationNewLocation"
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Location"
      },
      "AddShippingAccountLocationAddress": {
        "type": "object",
        "properties": {
          "AddressId": {
            "maxLength": 70,
            "type": "string",
            "description": "A unique identifier for the new shipping location that will be associated with the shipping account being added.\r<br />\r<br />***Note:** If this information is provided, then all the address fields will be ignored and the relevant information will be used from the addresses stored in the **Address Book**.*",
            "nullable": true,
            "example": "John Brown Default"
          },
          "Line1": {
            "maxLength": 0,
            "type": "string",
            "description": "The first line of the address, typically containing the primary address information such as house number and street name.",
            "nullable": true,
            "example": "Brown Cottage"
          },
          "Line2": {
            "maxLength": 50,
            "type": "string",
            "description": "An optional second line for the address, often used for additional details like apartment numbers or suite designations.",
            "nullable": true,
            "example": "10 Sky Lane"
          },
          "Line3": {
            "maxLength": 50,
            "type": "string",
            "description": "A third optional line in the address to include any further address specifications, allowing for more detailed address information if necessary.",
            "nullable": true,
            "example": "Hills End"
          },
          "Town": {
            "maxLength": 50,
            "type": "string",
            "description": "The town or city, indicating the specific locality where the shipping location is situated. <br/> <br/> ***Note:** This information is required if the address is not used from the stored addresses in the **Address Book**.*",
            "nullable": true,
            "example": "Christchurch"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "The postal or ZIP code corresponding to the shipping location, used for mail sorting and to identify specific geographic areas.<br/> <br/> ***Note:** This information is only required for the addresses in the UK and for some outside it. To check for the postcode requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "TW20 0HJ"
          },
          "County": {
            "maxLength": 50,
            "type": "string",
            "description": "The county, state, or province in which the shipping location resides, providing additional geographical context for the address.<br/> <br/> ***Note:** This information may be required depending on the country. If the country is USA, Australia, or Canada, then it must be a valid state code or name, respectively. To check for the county/state/province requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "Surrey"
          },
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "An abbreviation representing the country of the shipping location, following the ISO 3166-1 alpha-2 standard, for example, \"GB\" for the United Kingdom.\r<br />\r<br />***Note**: This information is only required if the address is not used from the stored addresses in the  **Address Book***",
            "nullable": true,
            "example": "GB"
          },
          "What3Words": {
            "type": "string",
            "description": "A three-word location identifier provided by the What3words service, offering a precise way to define locations using a unique combination of three words, for example, the front door of 10 Downing Street in London is identified by slurs.this.shark.",
            "nullable": true,
            "example": "brick.space.employ"
          },
          "ContactPhone": {
            "maxLength": 20,
            "type": "string",
            "description": "The contact phone number associated with the shipping location, facilitating communication regarding shipments or deliveries.\r<br />            \r<br />***Note:** If the shipper address is not provided for the **Create Shipment** request, this information is used as the shipper's contact phone number for this location, instead of the shipping account contact phone number. Characters like +, /, -, or space are supported.*",
            "format": "tel",
            "nullable": true,
            "example": "07123887422"
          }
        },
        "additionalProperties": false,
        "description": "The complete address of the shipping location, consisting of multiple components including street information, locality, and so on."
      },
      "AddShippingAccountLocationNewLocation": {
        "required": [
          "Address",
          "LocationAlias",
          "Timezone"
        ],
        "type": "object",
        "properties": {
          "LocationAlias": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "A unique user-defined identifier for the shipping location, providing a convenient way to identify it, for example, Home or Warehouse.",
            "example": "Main Warehouse"
          },
          "IsDefaultLocation": {
            "type": "boolean",
            "description": "A boolean value indicating whether the shipping location is set as the default for shipping operations.\r<br />\r<br />***Note:** If true, then this location is set as the default one. Otherwise, it is set to false. The shipping account must have at least one default location.*",
            "nullable": true,
            "example": false
          },
          "Address": {
            "$ref": "#/components/schemas/AddShippingAccountLocationAddress"
          },
          "Timezone": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The timezone in which the shipping location is located, important for scheduling and logistical considerations.",
            "example": "Europe/London"
          }
        },
        "additionalProperties": false,
        "description": "This object is used to create a new shipping location that will be linked to the shipping account that is being created."
      },
      "AddShippingAccountResponse": {
        "type": "object",
        "properties": {
          "ShippingAccountId": {
            "type": "string",
            "description": "A unique identifier for the shipping account assigned by the system, allowing for efficient reference and management of individual accounts within the system.",
            "format": "uuid"
          },
          "ShippingLocationId": {
            "type": "string",
            "description": "A unique identifier assigned to the new shipping location by the system. This ID is used to distinguish between different shipping locations within the system, facilitating, referencing and operations, such as updates, deletions, or specific queries related to that location.\r<br />\r<br />***Note:** This field is only populated if the details of a new location were provided in the request.*",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Response"
      },
      "BusinessTransactionType": {
        "enum": [
          "B2C",
          "B2B",
          "D2C",
          "C2B"
        ],
        "type": "string",
        "description": "Specifies the nature of the commercial transaction type associated with the shipment.\r<br />\r<br />Valid values are:\r<br />\r<br />**B2C** - Business to Consumer\r<br />**B2B** - Business to Business\r<br />**D2C** - Direct to Consumer\r<br />**C2B** - Consumer to Business (that is, a returns shipment)\r<br /> \r<br />***Note:** By default, this field is set to B2C.*"
      },
      "ContentType": {
        "enum": [
          "NDX",
          "DOX",
          "HV"
        ],
        "type": "string",
        "description": "Defines the type of contents being shipped. This helps the carrier manage the shipment according to its content type.\r<br />\r<br />Valid values are:\r<br /><ul><li>**NDX** - Non Documents</li><li>**DOX** - Documents</li><li>**HV** - Non Documents of High Value</li></ul>"
      },
      "CreateShipmentAction": {
        "enum": [
          "Process",
          "Create",
          "Allocate"
        ],
        "type": "string",
        "description": "Indicates the operation to be performed for the shipment, determines the shipment status that is set on shipment creation and whether a shipment tracking number and labels are generated.\r<br />\r<br />Valid values are:\r<br /><ul><li>**Process:** Creates a shipment tracking number, generates and prints a label for each package in the shipment, and returns the labels in the **createShipment** response. With this action, the shipment status is set to **Ready to Manifest**.</li><li>**Create:** Creates the shipment but does not allocate a tracking number, print the labels or return them in the **createShipment** response. The label(s) must be printed before the shipment is ready to manifest.</li><li>**Allocate:** Creates the tracking number and label but does not print the labels or return them in the **createShipment** response. The label(s) must be printed before the shipment is ready to manifest.</li></ul>\r<br />***Note:** By default, this field is set to Process.*"
      },
      "Customs": {
        "type": "object",
        "properties": {
          "ReasonForExport": {
            "maxLength": 250,
            "type": "string",
            "description": "This field is mandatory for DPD Netherlands international shipments.</br>The value must be one of the following two-digit codes:</br><ul><li>01 - sales</li><li>02 - return/replacement</li><li>03 - gift</li></ul>",
            "nullable": true,
            "example": "Sale of Goods"
          },
          "Incoterms": {
            "$ref": "#/components/schemas/TermsOfTrade"
          },
          "PreRegistrationNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "A number for tax pre-registration in countries where required for compliance during DDU shipments.<br />\r<br />If applicable, this number is required for countries operating a Tax Pre-Registration scheme (for example, VOEC in Norway, GST in Australia) when shipping under DDU Incoterms. If not provided and DDU is specified, any pre-registration numbers configured in the Customs Settings GUI for the account will be used.\r<br />\r<br />***Note:** VAT and EORI numbers should be provided in the Shipper and receiver **VatNumber** and **EoriNumber** fields, not in this field.*",
            "nullable": true,
            "example": "0123456789"
          },
          "PreRegistrationType": {
            "maxLength": 18,
            "type": "string",
            "description": "The type of pre-registration number provided in the **PreRegistrationNumber** element, specifying the registration scheme type. This field is mandatory if a **PreRegistrationNumber** is provided. Otherwise, it is ignored.\r<br />\r<br />***Note:** VAT and EORI numbers should be provided in the Shipper and receiver **VatNumber** and **EoriNumber** fields, not in this field.*",
            "nullable": true,
            "example": "GST"
          },
          "ShippingCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The postage amount paid by the customer for the international shipments, which can be 0.00 if free delivery is offered. This amount is used for calculating customs fees and should be in the currency specified in the **ShipmentInformation** > **Currency** field.",
            "format": "double",
            "nullable": true,
            "example": 55.82
          },
          "OtherCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The additional costs charged to the customer beyond standard shipping, such as insurance fees. This field can be left blank or set to 0.00 if no additional charges apply. Values should be in the currency specified in the **ShipmentInformation** > **Currency** field.",
            "format": "double",
            "nullable": true,
            "example": 32
          },
          "QuotedLandedCost": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The total cost quoted to the customer when the shipment reaches the destination, including duties and taxes, and must be expressed in the currency specified in the **ShipmentInformation** > **Currency** field.\r<br />\r<br />***Note:** This information is required for some international destinations when the shipment incoterms are DDP.*",
            "format": "double",
            "nullable": true,
            "example": 82.74
          },
          "InvoiceNumber": {
            "maxLength": 35,
            "type": "string",
            "description": "A specific number that is associated with a shipment. This is useful for tracking, billing, and reconciliation purposes.\r<br />\r<br />***Note:** When sending an item to an overseas address and a Commercial or Proforma invoice is available, the **InvoiceNumber** and **InvoiceDate** should be provided to support customs processing.If provided, it will be displayed on commercial invoices generated for the shipment. Please be advised that this field is required if the **InvoiceDate** is provided.*",
            "nullable": true
          },
          "InvoiceDate": {
            "type": "string",
            "description": "The date on which the invoice was created. This information is useful for record-keeping, billing cycles, and tracking payment due dates. \r<br />\r<br />***Note:** The **InvoiceDate** must be in the YYYY-MM-DD format. This field is ignored if the **InvoiceNumber** is not provided. If the **InvoiceNumber** is provided without the invoice date, then the **InvoiceDate** defaults to today's date.*",
            "format": "date",
            "nullable": true
          },
          "ExportLicenceRequired": {
            "type": "boolean",
            "description": "A boolean flag indicating whether an export licence is needed for the shipment, particularly for goods predominantly used for military purposes. If required, the export licence should be affixed to the outside of the package.\r<br />\r<br />***Note:** To learn more about the types of items requiring an export licence, refer to the UK Government website.*",
            "nullable": true,
            "example": false
          },
          "Airn": {
            "maxLength": 20,
            "type": "string",
            "description": "The AIRN (Address Identification Reference Number) is the generic name given to a national identification number for the overseas recipient of an item. This is required by certain countries for customs clearance.\r<br />\r<br />***Note:** If the AIRN is available, then it should be provided for items being exported to countries where the customs/tax authority requests one, such as Russia and Brazil.*",
            "nullable": true,
            "example": "231.002.999-00"
          }
        },
        "additionalProperties": false,
        "description": "Used to provide information for customs clearance related to the shipment. This includes, reasons for export, applicable incoterms, any pre-registration numbers and type required, shipping and other charges, as well as details about the invoice and whether an export licence is needed. It ensures compliance with international shipping regulations."
      },
      "Destination": {
        "required": [
          "Address"
        ],
        "type": "object",
        "properties": {
          "EoriNumber": {
            "maxLength": 17,
            "type": "string",
            "description": "The EORI (Economic Operators Registration and Identification) number for the receiver, which must start with the ISO Alpha-2 Country Code followed by up to 15 alphanumeric characters. For Northern Ireland, it starts with XI. \r<br />\r<br />***Note:** This field is mandatory for B2B shipments from GB to Northern Ireland or if the receiver is a business. Make sure to provide this information here—not in the **Customs** object.*",
            "nullable": true,
            "example": "GB 123 4567 89 000"
          },
          "VatNumber": {
            "maxLength": 15,
            "type": "string",
            "description": "The VAT (Value Added Tax) number for the receiver, which, if applicable, is used for tax compliance. \r<br />\r<br />***Note:** This field is mandatory if the receiver is a business. Make sure to provide this information here—not in the **Customs** object.*",
            "nullable": true,
            "example": "GB 123 4567 89"
          },
          "Address": {
            "$ref": "#/components/schemas/DestinationAddress"
          }
        },
        "additionalProperties": false,
        "description": "An object providing details on the shipment destination, such as receiver and contact details."
      },
      "DestinationAddress": {
        "type": "object",
        "properties": {
          "AddressId": {
            "maxLength": 70,
            "type": "string",
            "description": "A unique identifier for the address. This information ensures that each address can be distinctly referenced and managed within the system.\r<br />\r<br />***Note:** If this information is provided, then all the fields under the **Address** object are ignored and the stored address in the **Address Book** will be used.*",
            "nullable": true,
            "example": "John Brown Default"
          },
          "ContactName": {
            "maxLength": 50,
            "type": "string",
            "description": "The name of the primary contact person for the shipment at the address. <br /><br />***Note:** Either the **Contact Name** or **Company Name** must be provided.*",
            "nullable": true,
            "example": "Jane Doe"
          },
          "CompanyName": {
            "maxLength": 50,
            "type": "string",
            "description": "The name of the company associated with the shipment at the address.<br /><br />***Note:** Either the **Contact Name** or **Company Name** must be provided.*",
            "nullable": true,
            "example": "My Company Ltd."
          },
          "ContactEmail": {
            "maxLength": 254,
            "type": "string",
            "description": "The email address of the contact person for any communication regarding the shipment at the address.",
            "format": "email",
            "nullable": true,
            "example": "jane@example.com"
          },
          "ContactPhone": {
            "maxLength": 20,
            "type": "string",
            "description": "The contact phone number associated with the receiver, facilitating communication regarding shipments or deliveries.\r<br />\r<br />***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "07123887422"
          },
          "Line1": {
            "maxLength": 50,
            "type": "string",
            "description": "The first line of the address, typically containing the primary address information such as house number and street name. <br/> <br/> ***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "Brown Cottage"
          },
          "Line2": {
            "maxLength": 50,
            "type": "string",
            "description": "An optional second line for the address, often used for additional details like apartment numbers or suite designations.",
            "nullable": true,
            "example": "10 Sky Lane"
          },
          "Line3": {
            "maxLength": 50,
            "type": "string",
            "description": "A third optional line in the address to include any further address specifications, allowing for more detailed address information if necessary.",
            "nullable": true,
            "example": "Hills End"
          },
          "Town": {
            "maxLength": 50,
            "type": "string",
            "description": "The town or city, indicating the specific locality where the shipping location is situated. <br/> <br/> ***Note:** This information is required if the address is not used from the stored addresses in the **Address Book**.*",
            "nullable": true,
            "example": "Christchurch"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "The postal or ZIP code corresponding to the shipping location, used for mail sorting and to identify specific geographic areas.<br/> <br/> ***Note:** This information is only required for the addresses in the UK and for some outside it. To check for the postcode requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "TW20 0HJ"
          },
          "County": {
            "maxLength": 50,
            "type": "string",
            "description": "The county, state, or province in which the shipping location resides, providing additional geographical context for the address.<br/> <br/> ***Note:** This information may be required depending on the country. If the country is USA, Australia, or Canada, then it must be a valid state code or name, respectively. To check for the county/state/province requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "Surrey"
          },
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "An abbreviation representing the country of the shipping location, following the ISO 3166-1 alpha-2 standard, for example, \"GB\" for the United Kingdom.\r<br />\r<br />***Note**: This information is only required if the address is not used from the stored addresses in the  **Address Book***",
            "nullable": true,
            "example": "GB"
          },
          "What3Words": {
            "type": "string",
            "description": "A three-word location identifier provided by the What3words service, offering a precise way to define locations using a unique combination of three words, for example, the front door of 10 Downing Street in London is identified by slurs.this.shark.",
            "nullable": true,
            "example": "brick.space.employ"
          }
        },
        "additionalProperties": false,
        "description": "The complete address of the receiver's location, consisting of multiple components including street information, locality, and so on."
      },
      "Dimensions": {
        "required": [
          "Height",
          "Length",
          "Width"
        ],
        "type": "object",
        "properties": {
          "Length": {
            "minimum": 0.1,
            "type": "number",
            "description": "The length of the shipment package in the unit of measure specified in the **UnitOfMeasure** field.\r<br />\r<br />***Note:** The maximum accepted length is dependent on the service and package type.*",
            "format": "double",
            "example": 35
          },
          "Width": {
            "minimum": 0.1,
            "type": "number",
            "description": "The width of the shipment package in the unit of measure specified in the **UnitOfMeasure** field.\r<br />\r<br />***Note:** The maximum accepted width is dependent on the service and package type.*",
            "format": "double",
            "example": 25
          },
          "Height": {
            "minimum": 0.1,
            "type": "number",
            "description": "The height of the shipment package in the unit of measure specified in the **UnitOfMeasure** field.\r<br />\r<br />***Note:** The maximum accepted height is dependent on the service and package type.*",
            "format": "double",
            "example": 20
          }
        },
        "additionalProperties": false,
        "description": "Used to provide the maximum allowable dimensions for packages. It specifies the limits that must not be exceeded for packages to be eligible for the shipping service and package type.\r<br />\r<br />***Note:** The Dimensions object in the request is optional, but if it is provided, then all of the fields in the object (width, length, and height) must be populated. The maximum dimensions accepted are dependent on the service and the package type.*"
      },
      "DimensionsUnitOfMeasure": {
        "enum": [
          "CM",
          "MM"
        ],
        "type": "string",
        "description": "The unit of measure used for all the dimensions (length, width, height) values of the packages being shipped, allowing for measurements in millimeters and centimeters. This ensures consistency in how dimensions are handled.\r<br />\r<br />***Note:** By default, this field is set to CM.*"
      },
      "DocumentFormat": {
        "enum": [
          "PDF",
          "PNG",
          "ZPL203DPI",
          "ZPL300DPI"
        ],
        "type": "string",
        "description": "Specifies the format in which the documents related to the shipment are provided. For example, a Base 64 encoded PDF, PNG or ZPL203DPI, and ZPL300DPI.\r<br />\r<br />This format is crucial for ensuring that the documents can be easily accessed, printed, and utilised during shipping and customs processes."
      },
      "DpdNetherlandsAddShippingAccountRequest": {
        "required": [
          "AccountAlias",
          "AccountType",
          "ContactName",
          "ContactNumber",
          "DepotNumber",
          "NotificationLanguage",
          "Password",
          "ShippingLocations",
          "UserId"
        ],
        "type": "object",
        "properties": {
          "AccountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "AccountName": {
            "maxLength": 35,
            "type": "string",
            "description": "The official name of the shipping account as designated by the user or organisation, aiding in easy identification and reference of accounts.\r<br />\r<br />***Note:** By default, this value is set to the customer name if not provided in the request.*",
            "nullable": true,
            "example": "AB VideoGames"
          },
          "AccountAlias": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "A unique, user-defined name for the shipping account, providing a convenient way to reference the account in a more memorable manner.",
            "example": "RM-99112347707"
          },
          "ContactName": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The name of the primary contact person for the shipping account, facilitating communication regarding shipping and account-related matters.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact name, if provided.*",
            "example": "John Smith"
          },
          "ContactNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The phone number associated with the shipping account's primary contact person, facilitating communication regarding shipping inquiries, account management, and issue resolution.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact phone number, if provided. Characters like +, /, -, or space are supported.*",
            "format": "tel",
            "example": "0123456789"
          },
          "UserId": {
            "maxLength": 10,
            "minLength": 8,
            "type": "string",
            "description": "The unique identifier for the user account associated with DPD Netherlands.",
            "example": "dpd_user_1"
          },
          "Password": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The secure password used to authenticate the user account with DPD Netherlands.",
            "example": "password123"
          },
          "DepotNumber": {
            "minLength": 1,
            "pattern": "^\\d{4}$",
            "type": "string",
            "description": "The identifier for the specific depot or location where the shipment will be processed.",
            "example": "0547"
          },
          "NotificationLanguage": {
            "$ref": "#/components/schemas/DpdNetherlandsNotificationLanguage"
          },
          "ShippingLocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddShippingAccountLocation"
            },
            "description": "An object that allows the customer to specify the shipping location(s) that will be associated with the new shipping account. Within this object, the customer can either link the existing shipping location(s) or add a new one.\r<br />\r<br />***Note:** While adding a shipping account, make sure to provide at least one shipping location.If you are providing a new shipping location, then only one location can be added.*"
          }
        },
        "additionalProperties": false,
        "description": "DPD Netherlands Add Shipping Account Request"
      },
      "DpdNetherlandsEnhancementCode": {
        "enum": [
          "Email",
          "Sms"
        ],
        "type": "string",
        "description": "This object specifies the particular enhancement code that is being applied to the shipment, allowing customers to select multiple enhancements that can modify the shipping experience according to their preferences.\r<br />\r<br />Valid values are the following:\r<br /><ul><li>**Email:** Delivery updates are sent via email. To use this enhancement code, the destination **ContactEmail** must be provided with a valid email address.</li><li>**SMS:** Delivery updates are sent via SMS. To use this enhancement code, the destination **ContactPhone** field must be provided with a valid phone number.</li></ul>"
      },
      "DpdNetherlandsLabelFormat": {
        "enum": [
          "PDF",
          "PNG",
          "ZPL203DPI",
          "ZPL300DPI",
          "QRCode",
          "QRCodeAndPDF"
        ],
        "type": "string",
        "description": "Sets the label format that will be returned in the createShipment Response.\r<br />Valid values are:\r<br />**PDF** - returns a Base64-encoded PDF\r<br />**PNG** - returns a Base64-encoded PNG\r<br />**ZPL203DPI** - returns Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** - returns Base 64 encoded text for Zebra printer at 300 DPI\r<br />**QRCode** - returns the DPD Netherlands specific QR code label\r<br />**QRCodeAndPDF** - returns the DPD Netherlands specific QR code label with PDF label\r<br />Defaults to PDF if not populated."
      },
      "DpdNetherlandsLabelFormatPackageResponseDetailsCreateShipmentResponse": {
        "type": "object",
        "properties": {
          "ConsignmentShipmentId": {
            "type": "string",
            "description": "A unique identifier assigned to the shipment by the carrier. This ID is useful for tracking and managing the shipment throughout its transit journey and can be used in future queries or to reference the specific shipment.\r<br />\r<br />***Note:** This field is only populated if a consignment service was used in the request.*",
            "format": "uuid",
            "nullable": true,
            "example": "c4e60776-288f-464e-b35b-ff0f3252c0f0"
          },
          "ConsignmentTrackingNumber": {
            "type": "string",
            "description": "A unique identifier assigned to the entire consignment shipment by the carrier. This number allows shippers and recipients to track the status and location of the entire shipment throughout its transit. It is useful for monitoring progress, ensuring timely delivery, and addressing any issues that may arise during transportation.\r<br />\r<br />***Note:** This field is only populated if the service is a consignment service.*",
            "nullable": true,
            "example": "DF12384739GB"
          },
          "ConsignmentCarrierTrackingUrl": {
            "type": "string",
            "description": "A URL link provided by the carrier that allows the shipper and recipients to access real-time tracking information about the consignment shipment. This link directs users to the carrier's website where they can view detailed status updates and current location of the shipment.\r<br />\r<br />***Note:** This field is only populated if this feature is available and the service is a consignment service.*",
            "format": "uri",
            "nullable": true,
            "example": "http://shipmentcarrier.com/tracking/DF12384739GB"
          },
          "Labels": {
            "type": "string",
            "description": "Returns the generated shipping labels for the shipment. This field is populated only if the requested action was \"Process.\" The labels include the necessary barcodes and shipping information required for effective transit and delivery of the packages.\n\n***Note:** This field returns the labels only if the **ReturnLabelsAtPackageLevel** field is set to false.*",
            "nullable": true
          },
          "LabelFormat": {
            "$ref": "#/components/schemas/DpdNetherlandsLabelFormat"
          },
          "Packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageResponseDetails"
            },
            "description": "An array that details information about each package included in the shipment. This includes essential data, such as package occurrence and tracking information. Each package is clearly documented to facilitate tracking and handling.",
            "nullable": true
          },
          "Documents": {
            "type": "string",
            "description": "This object is only returned if the shipment is dutiable and the requested action was \"Process.\"  This object includes any requisite documentation necessary for customs clearance and compliance, ensuring that all regulatory requirements are met for international shipments.",
            "nullable": true,
            "example": "iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
          },
          "DocumentFormat": {
            "$ref": "#/components/schemas/DocumentFormat"
          }
        },
        "additionalProperties": false,
        "description": "Create Shipment Response"
      },
      "DpdNetherlandsLabelFormatPrintLabelResponse": {
        "required": [
          "LabelFormat",
          "ShipmentId"
        ],
        "type": "object",
        "properties": {
          "ShipmentId": {
            "type": "string",
            "description": "A unique identifier assigned to the shipment by the carrier for which the label is requested. This reaffirms the specific shipment being referenced.",
            "format": "uuid",
            "example": "c4e60776-288f-464e-b35b-ff0f3252c0f0"
          },
          "TrackingNumber": {
            "type": "string",
            "description": "A unique number assigned to the shipment that allows both the sender and the receiver to track the shipment's status and location throughout its transit. This number is essential for monitoring the delivery progress.",
            "nullable": true,
            "example": "TT12384739GB"
          },
          "CarrierTrackingUrl": {
            "type": "string",
            "description": "A URL link provided by the carrier that directs users to a webpage where they can track the shipment in real-time. This link provides detailed status updates and visibility into the shipment's journey.",
            "format": "uri",
            "nullable": true,
            "example": "http://shipmentcarrier.com/tracking/DF12384739GB"
          },
          "Label": {
            "type": "string",
            "description": "The generated base64-encoded string of the shipping label in the format requested in the **LabelFormat** field. This label includes essential shipping information, barcodes, and addresses, necessary for the proper handling and delivery of the shipment.",
            "nullable": true,
            "example": "iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
          },
          "LabelFormat": {
            "$ref": "#/components/schemas/DpdNetherlandsLabelFormat"
          }
        },
        "additionalProperties": false,
        "description": "Print Label Response"
      },
      "DpdNetherlandsLabelFormatShipmentInformation": {
        "required": [
          "ContentType",
          "DescriptionOfGoods",
          "ServiceCode"
        ],
        "type": "object",
        "properties": {
          "Action": {
            "$ref": "#/components/schemas/CreateShipmentAction"
          },
          "LabelFormat": {
            "$ref": "#/components/schemas/DpdNetherlandsLabelFormat"
          },
          "ContentType": {
            "$ref": "#/components/schemas/ContentType"
          },
          "ServiceCode": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "description": "A valid unique code identifying the service selected for the shipment's delivery and collection address, which determines pricing, delivery speed, and other service attributes.",
            "example": "CRL1"
          },
          "DescriptionOfGoods": {
            "maxLength": 70,
            "minLength": 1,
            "type": "string",
            "description": "A general description of the items being shipped, which may include details such as type, quantity, and specifications. This field provides clarity about the contents for customs and handling purposes.",
            "example": "Clothing"
          },
          "BusinessTransactionType": {
            "$ref": "#/components/schemas/BusinessTransactionType"
          },
          "ShipmentDate": {
            "type": "string",
            "description": "The scheduled date for the shipment to be shipped, which cannot be in the past and must not exceed 28 days into the future. If omitted, it defaults to the current date.",
            "format": "date",
            "nullable": true
          },
          "DeclaredValue": {
            "maximum": 9999999.99,
            "minimum": 0,
            "type": "number",
            "description": "The declared monetary value assigned to the shipment in the specified currency. If provided, it must equal or exceed the sum of all item values. If not provided, it defaults to the sum of all item values.\r<br />\r<br />***Note:** For Non-Consignment Services where multiple packages are declared, use the declared value at the package level instead.*",
            "format": "double",
            "nullable": true,
            "example": 98.99
          },
          "DeclaredWeight": {
            "minimum": 0.001,
            "type": "number",
            "description": "The total weight of the shipment in the unit of measure specified in the **WeightUnitOfMeasure** field. This weight should meet or exceed the weight of all packages or items and is required for consignment services. The minimum allowed weight is 0.001 Kg and the maximum is dependent on the carrier, service, and destination.\r<br />\r<br />***Note:** For all Non-Consignment Services, use the declared weight at the package level instead.*",
            "format": "double",
            "nullable": true,
            "example": 1.5
          },
          "CurrencyCode": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "The three-letter ISO code indicating the currency in which any monetary value is specified (for example, USD, EUR). This ensures clarity for payment and invoicing purposes.",
            "nullable": true,
            "example": "GBP"
          },
          "WeightUnitOfMeasure": {
            "$ref": "#/components/schemas/WeightUnitOfMeasure"
          },
          "DimensionsUnitOfMeasure": {
            "$ref": "#/components/schemas/DimensionsUnitOfMeasure"
          },
          "ContainerId": {
            "type": "string",
            "description": "A unique identifier assigned by the system or by you (alias) to the container in a shipment, so that the shipment can be added to the existing container when the shipment is created.\r<br />\r<br />If a valid **ContainerId** is specified, the shipments in the request will be automatically allocated to that container upon creation. If the **ContainerId** is provided, then the **Process** action is required.<br /> \r<br />***Note:** The container must already exist for the same Carrier and Shipping Location as the shipment.*",
            "nullable": true,
            "example": "South East"
          }
        },
        "additionalProperties": false,
        "description": "Used to provide shipment-level information such as service code, content type, general goods description, total shipment weight and value etc."
      },
      "DpdNetherlandsNotificationLanguage": {
        "enum": [
          "English",
          "Dutch",
          "French"
        ],
        "type": "string",
        "description": "The language code used for DPD Netherlands delivery notifications to be sent via Email or SMS.\r<br />\r<br />***Note:** The notifications are only sent if either the **Email** or **SMS** enhancement code is provided in the create shipment request.*"
      },
      "DpdNetherlandsServiceEnhancement": {
        "required": [
          "Code"
        ],
        "type": "object",
        "properties": {
          "Code": {
            "$ref": "#/components/schemas/DpdNetherlandsEnhancementCode"
          }
        },
        "additionalProperties": false,
        "description": "Service Enhancement"
      },
      "DpdNetherlandsShipmentRequestCarrierSpecifics": {
        "type": "object",
        "properties": {
          "Enhancements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DpdNetherlandsServiceEnhancement"
            },
            "description": "An array of objects that specifies the particular enhancement code that is being applied to the shipment, allowing customers to select the desired enhancement that can modify the shipping experience according to their preferences.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "DPD Netherlands-specific features that can be used when creating a DPD NL shipment."
      },
      "DpdNetherlandsShipmentRequestCarrierSpecificsPackageDetailsDpdNetherlandsLabelFormatCreateShipmentRequest": {
        "required": [
          "Destination",
          "Packages",
          "ShipmentInformation",
          "Shipper"
        ],
        "type": "object",
        "properties": {
          "ShipmentInformation": {
            "$ref": "#/components/schemas/DpdNetherlandsLabelFormatShipmentInformation"
          },
          "Shipper": {
            "$ref": "#/components/schemas/Shipper"
          },
          "Destination": {
            "$ref": "#/components/schemas/Destination"
          },
          "CarrierSpecifics": {
            "$ref": "#/components/schemas/DpdNetherlandsShipmentRequestCarrierSpecifics"
          },
          "Packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageDetails"
            },
            "description": "Used to provide information on the packages that are being sent in this shipment.<br />\r<br />***Note:**  You must add at least one package to the shipment.*"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "description": "Used to provide information on the individual goods/products being shipped within the package. This includes vital details, such as SKU code for inventory tracking, quantity of each item, description for clarity, and shipping specifics like weight, customs classifications (HS Code), and country of origin.\r<br />\r<br />***Note:** The item information is only required for dutiable shipments. Non-Dutiable and Documents Only (DOX) shipments do not require item information. Please be advised that the item verification on a shipment is done via Hurricane services; therefore, it should be enabled. The maximum number of distinct items that will be verified in a single shipment is 15.*",
            "nullable": true
          },
          "Customs": {
            "$ref": "#/components/schemas/Customs"
          },
          "ReturnToSender": {
            "$ref": "#/components/schemas/ReturnToSender"
          }
        },
        "additionalProperties": false,
        "description": "Create Shipment Request"
      },
      "DpdNetherlandsShippingAccount": {
        "required": [
          "AccountAlias",
          "AccountName",
          "AccountStatus",
          "AccountType",
          "CarrierCode",
          "ContactName",
          "ContactNumber",
          "DepotNumber",
          "LastUpdatedBy",
          "LastUpdatedDateUtc",
          "NotificationLanguage",
          "ShippingAccountId",
          "UserId"
        ],
        "type": "object",
        "properties": {
          "ShippingAccountId": {
            "type": "string",
            "description": "A unique identifier for each shipping account assigned by the system (ShippingAccountId), allowing for efficient reference and management of individual accounts within the system.",
            "format": "uuid"
          },
          "CarrierCode": {
            "minLength": 1,
            "type": "string",
            "description": "A unique identifier for the carrier associated with the shipping account. This code is typically alphanumeric and helps in identifying the specific carrier linked to the shipping account.",
            "example": "RM"
          },
          "AccountNumber": {
            "type": "string",
            "description": "The account number generated by the system.",
            "nullable": true,
            "example": "0123456789"
          },
          "AccountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "AccountName": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "The official name of the shipping account as designated by the user or organisation, aiding in easy identification and reference of accounts.",
            "example": "AB VideoGames"
          },
          "AccountAlias": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "A unique, user-defined name for the shipping account, providing a convenient way to reference the account in a more memorable manner.",
            "example": "JSL"
          },
          "AccountStatus": {
            "minLength": 1,
            "type": "string",
[...]
