{
  "openapi": "3.0.1",
  "info": {
    "title": "SAPIENT ROYAL MAIL API",
    "description": "# Introduction\nHere you will find requirements for integrating with SAPIENT ROYAL MAIL API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe SAPIENT ROYAL MAIL API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n",
    "version": "v4.0-RM",
    "x-logo": {
      "url": "/Content/images/redoc-logo.png",
      "altText": "ReDoc"
    }
  },
  "servers": [
    {
      "url": "https://api.intersoftsapient.net/",
      "description": "Sapient Server"
    }
  ],
  "paths": {
    "/v4/shippingAccounts/rm": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Retrieves a list of Royal Mail shipping accounts created on your customer account. With this endpoint, you can view and manage multiple shipping accounts by using various query parameters for filtering, pagination, and sorting the list of accounts, making it easier for users to find specific accounts.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "A string representing the term or keywords used to filter shipping accounts. This can be an account name or identifier that you are interested in to narrow down the list based on the input.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "An integer that defines the number of account entries (records) returned per page in the response. For instance, if **pageSize** is set to 20, the API will return up to 20 accounts in each response.\r<br />\r<br />***Note:** By default, this value is set to 100.*",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "An integer indicating the specific page of results to retrieve, allowing for pagination of larger datasets. For example, if **pageNumber** is set to 3, the API will return the results corresponding to the third page of accounts based on the specified **pageSize**.\r<br />\r<br />***Note:** By default, this value is set to 1.*",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "A string specifying the field by which to organise the search results. For instance, \"Name\" could be used to sort accounts alphabetically, arranging the results in a more user-friendly order.\r<br />\r<br />***Note:** By default, this value is set to Name.*",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "A string indicating the direction in which to sort the results, typically set to \"ascending\" or \"descending.\" For example, setting **sortDir** to \"Ascending\" while using \"Name\" as **sortBy** would arrange the locations from A to Z.\r<br />\r<br />***Note:** By default, this value is set to Ascending.*",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts for the given carrier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailShippingAccountShippingAccountsPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Add Account",
        "description": "Add a shipping account for Royal Mail and either link it with an existing shipping location or add a new shipping location that will be associated with the shipping account. \r<br />            \r<br />***Note:** Before adding a shipping account with Royal Mail, ensure to have the required carrier details, such as the Royal Mail account number, posting location, OBA access code, and receiving hub, so that you can seamlessly use the account for shipping with Royal Mail.*",
        "requestBody": {
          "description": "Add Shipping Account Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailAddShippingAccountRequest"
              },
              "examples": {
                "Add account to existing location": {
                  "value": {
                    "AccountNumber": "9912347707",
                    "AccountType": "Sandbox",
                    "AccountName": "AB VideoGames",
                    "AccountAlias": "RM-99112347707",
                    "ContactName": "John Smith",
                    "ContactNumber": "0123456789",
                    "AccountRegisteredEmail": "my.email@example.com",
                    "RegisteredBillingPostcode": "TW20 0HJ",
                    "ShippingLocations": [
                      {
                        "PostingLocationCode": "2345654321",
                        "ObaAccessCode": "123456",
                        "ReceivingHubCode": "002610",
                        "ShippingLocationId": "1766a456-dda3-4eac-b6b8-cba859a08438"
                      }
                    ]
                  }
                },
                "Add account at new location": {
                  "value": {
                    "AccountNumber": "9912347707",
                    "AccountType": "Sandbox",
                    "AccountName": "AB VideoGames",
                    "AccountAlias": "RM-99112347707",
                    "ContactName": "John Smith",
                    "ContactNumber": "0123456789",
                    "AccountRegisteredEmail": "my.email@example.com",
                    "RegisteredBillingPostcode": "TW20 0HJ",
                    "ShippingLocations": [
                      {
                        "PostingLocationCode": "2345654321",
                        "ObaAccessCode": "123456",
                        "ReceivingHubCode": "002610",
                        "ShippingLocation": {
                          "LocationAlias": "Main Warehouse",
                          "IsDefaultLocation": false,
                          "Address": {
                            "ContactPhone": "07123887422",
                            "Line1": "Brown Cottage",
                            "Line2": "10 Sky Lane",
                            "Line3": "Hills End",
                            "Town": "Christchurch",
                            "Postcode": "TW20 0HJ",
                            "County": "Surrey",
                            "CountryCode": "GB"
                          },
                          "Timezone": "Europe/London"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShippingAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Account",
        "description": "Retrieves details of a specific Royal Mail shipping account created on your customer account. With this endpoint, you can access relevant details of that shipping account. This is useful for managing individual shipping accounts or verifying specific account attributes.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "A unique identifier for the shipping account assigned by the system (ShippingAccountId) or by you (AccountAlias), allowing for efficient reference and management of individual accounts within the system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shipping account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailShippingAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Account",
        "description": "Update the details of an existing shipping account. With this endpoint, you can modify various attributes of the shipping account, such as contact information, service options, and others. This helps maintain current and accurate information for effective shipping operations.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "A unique identifier for the shipping account assigned by the system (ShippingAccountId) or by you (AccountAlias), allowing for efficient reference and management of individual accounts within the system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Account Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailUpdateShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was updated successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/linkLocations": {
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Link Locations",
        "description": "Link one or more shipping locations with a Royal Mail shipping account.\r<br />Ensure to have required carrier details ready: Royal Mail Posting Location number, OBA access codes and receiving hub, so that you can link it successfully.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "A unique identifier for the shipping account assigned by the system (ShippingAccountId) or by you (AccountAlias), allowing for efficient reference and management of individual accounts within the system.\r<br />\r<br />***Note:** The information provided in this field and the **ShippingLocationId** field are being linked with each other.*",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to associate with this shipping account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RoyalMailLinkShippingAccountLocation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping location(s) have been linked to the account successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipping location was not found",
                      "Cause": "[2].ShippingLocationId",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Locations",
        "description": "Retrieves a list of shipping locations that are linked to a specific Royal Mail shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "A unique identifier for the shipping account assigned by the system (ShippingAccountId) or by you (AccountAlias), allowing for efficient reference and management of individual accounts within the system. The response will return the shipping locations linked to the shipping account ID provided here.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "A string representing the term or keywords used to filter location results. For example, a search term like \"Manchester\" would return locations associated with that city, helping to narrow down the list based on the user input.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "An integer that defines the number of location entries (records) returned per page in the response. For instance, if **pageSize** is set to 20, the API will return up to 20 accounts in each response.\r<br />\r<br />***Note:** By default, this value is set to 100.*",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "An integer indicating the specific page of results to retrieve, allowing for pagination of larger datasets. For example, if **pageNumber** is set to 3, the API will return the results corresponding to the third page of accounts based on the specified **pageSize**.\r<br />\r<br />***Note:** By default, this value is set to 1.*",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "A string specifying the field by which to organise the search results. For instance, \"Name\" could be used to sort locations alphabetically, arranging the results in a more user-friendly order.\r<br />\r<br />***Note:** By default, this value is set to Name.*",
            "schema": {
              "$ref": "#/components/schemas/ShippingLocationsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "A string indicating the direction in which to sort the results, typically set to \"ascending\" or \"descending.\" For example, setting sortDir to \"Ascending\" while using \"Name\" as sortBy would arrange the locations from A to Z.\r<br />\r<br />***Note:** By default, this value is set to Ascending.*",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of associated shipping locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationsForAccountPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Location",
        "description": "Retrieve detailed information about a specific shipping location that is associated with a Royal Mail shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "A unique identifier for the shipping account assigned by the system (ShippingAccountId) or by you (AccountAlias), allowing for efficient reference and management of individual accounts within the system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "A unique identifier for the shipping location assigned by the system or by you (alias), allowing users to reference and manage specific locations effectively.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the associated shipping location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationForAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Associated Location",
        "description": "Update the details of an existing shipping location associated with a specific Royal Mail shipping account with carrier specific details, such as posting location, OBA access code, and receiving hub code.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "A unique identifier for the shipping account assigned by the system (ShippingAccountId) or by you (AccountAlias), allowing for efficient reference and management of individual accounts within the system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "A unique identifier for the shipping location assigned by the system or by you (alias), allowing users to reference and manage specific locations effectively.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Location Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailUpdateShippingAccountLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates the shipping location"
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The posting location code is required.",
                      "Cause": "PostingLocationCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/rm": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create Shipment",
        "description": "Create a new Royal Mail shipment by submitting the shipment details in your request and returning an image of the shipping label in PDF, PNG, or ZPL format.",
        "requestBody": {
          "description": "Shipment Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoyalMailShipmentRequestCarrierSpecificsRoyalMailPackageRoyalMailLabelFormatCreateShipmentRequest"
              },
              "examples": {
                "Domestic - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-06-10",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "98f91af0-3db5-4d71-9a1f-35f23021330e",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "DeclaredWeight": 1.5
                      }
                    ]
                  }
                },
                "Domestic - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceLevel": "01",
                      "EbayVtn": "ebay1234abc",
                      "ServiceEnhancements": [
                        {
                          "Code": "Signed"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-06-10",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "1fcb49fe-e11d-4a29-bd14-09440e4b5b33",
                      "ShippingLocationId": "fc6e6ca6-70ff-4ded-b4d1-1a30ef144715",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "GB"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "GB"
                      }
                    ],
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "International - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "OLA",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-06-10",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "MM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "1f210cd0-3c24-4094-a737-ac4884ca6744",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Sale of Goods",
                      "Incoterms": "DDU"
                    }
                  }
                },
                "International - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceLevel": "02",
                      "EbayVtn": "ebay1234abc",
                      "ServiceEnhancements": [
                        {
                          "Code": "CustomsEmail"
                        },
                        {
                          "Code": "CustomsPhone"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "OLA",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-06-10",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "MM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "3d0e2047-a3d1-4830-a1cf-4041fd88292c",
                      "ShippingLocationId": "747f1cac-70e1-4c31-843c-e53b50bffac3",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "CN"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "CN"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Sale Of Goods",
                      "Incoterms": "DDU",
                      "PreRegistrationNumber": "0123456789",
                      "PreRegistrationType": "GST",
                      "ShippingCharges": 55.82,
                      "OtherCharges": 32,
                      "QuotedLandedCost": 82.74,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-06-10",
                      "ExportLicenceRequired": false,
                      "Airn": "231.002.999-00"
                    },
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "Offline Barcode": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceEnhancements": [],
                      "OfflineBarcodes": [
                        {
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TK000505009GB",
                          "UniqueId": "4C006978600000074B117"
                        },
                        {
                          "PackageOccurrence": 2,
                          "TrackingNumber": "TK000568026GB",
                          "UniqueId": "4C006978600000074B125"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "52beef3b-d8e5-4575-b167-69f5e76a4d50",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 2,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                },
                "Pre-Allocated Tracking Number": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceEnhancements": [
                        {
                          "Code": "Signed"
                        }
                      ],
                      "PreAllocatedTrackingNumber": "TK000568036GB"
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "35",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                },
                "Hazmat Items": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "TPS",
                      "DescriptionOfGoods": "Aftershave",
                      "ShipmentDate": "2026-06-10",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "4be0b2be-ba46-4bfb-ae76-13a6c32d5d01",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "DeclaredWeight": 1.5
                      }
                    ],
                    "Items": [
                      {
                        "Quantity": 1,
                        "Description": "Aftershave",
                        "Value": 1000,
                        "Weight": 0.2,
                        "HSCode": "3307100000",
                        "CountryOfOrigin": "IT",
                        "Hazmat": {
                          "UNCode": "1266",
                          "ProperShippingName": "Aftershave",
                          "Class": "9",
                          "Id8000Category": "Perfume/Aftershave",
                          "Quantity": 1.5,
                          "UnitOfMeasure": "L"
                        }
                      }
                    ]
                  }
                },
                "Using Address Book": {
                  "value": {
                    "CarrierSpecifics": {
                      "ServiceEnhancements": [
                        {
                          "Code": "Signed"
                        }
                      ],
                      "PreAllocatedTrackingNumber": "TK123456789GB"
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "CRL1",
                      "DescriptionOfGoods": "Clothes",
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "35",
                      "Reference1": "OrderRef56",
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "ReturnToSender": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    }
                  }
                },
                "ReturnLabelsAtPackageLevel": {
                  "value": {
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": true,
                      "ContentType": "NDX",
                      "ServiceCode": "OLA",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-06-10",
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "MM",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "f62db0f3-6787-4e2f-b297-fcfe2675b8f3",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99
                      },
                      {
                        "PackageType": "Parcel",
                        "PackageOccurrence": 2,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 98.99
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 2,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Sale of Goods",
                      "Incoterms": "DDU"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipment was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPackageResponseCreateShipmentResponse"
                },
                "examples": {
                  "Create": {
                    "value": {
                      "Packages": [
                        {
                          "ShipmentId": "b57677de-9731-4b79-89a4-1f4688b83fa5",
                          "PackageOccurrence": 1
                        }
                      ]
                    }
                  },
                  "Allocate": {
                    "value": {
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "3A07033860010000B2268"
                          },
                          "ShipmentId": "ca5fc0ed-cd38-49d8-a239-c5f1ec42b31d",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT123456785GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
                        }
                      ]
                    }
                  },
                  "Process - PDF": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39"
                          },
                          "ShipmentId": "2870d8f0-8989-4508-9c42-8593cb1869d2",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250025GB"
                        }
                      ]
                    }
                  },
                  "Process - DATASTREAM": {
                    "value": {
                      "LabelFormat": "DATASTREAM",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "3A07033860010000B2268",
                            "DataStreamDetails": {
                              "Primary2DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                              "Primary2DBarcodeData": "u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA",
                              "FormattedUniqueId": "3A-070 338 6001-000 0B2 000",
                              "GazetteerCodes": {
                                "Part1": "Q25",
                                "Part2": "A9",
                                "Part3": "SE"
                              },
                              "SecondaryRoutingCode": "BGTK",
                              "Primary1DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                              "Primary1DBarcodeData": "TT123456785GB"
                            }
                          },
                          "ShipmentId": "4d7fca88-c496-4e74-9a25-d742d5de018f",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT123456785GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"
                        }
                      ]
                    }
                  },
                  "Process PDF - Dutiable Shipment": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39"
                          },
                          "ShipmentId": "d2b4e8fc-95ef-405e-8b60-3a555b923b8e",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250025GB"
                        }
                      ],
                      "Documents": "..A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "DocumentFormat": "PDF"
                    }
                  },
                  "Process - PDF - Consignment Shipment": {
                    "value": {
                      "ConsignmentTrackingNumber": "TT000250025GB_CON",
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F2310202400000AF1E3E"
                          },
                          "ShipmentId": "48a07808-9867-48d5-bc64-9e90a1599d9a",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250025GB"
                        },
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F2310202400000AF1E4C"
                          },
                          "ShipmentId": "3f806172-0157-4590-b2c1-b84a2443cea9",
                          "PackageOccurrence": 2,
                          "TrackingNumber": "TT000250026GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250026GB"
                        }
                      ]
                    }
                  },
                  "Process PDF - Shipment with GLS Dual Label": {
                    "value": {
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39",
                            "PartnerDetails": {
                              "PartnerName": "GLS",
                              "PartnerCode": "GLS",
                              "PartnerTrackingNumber": "999880948504",
                              "PartnerTrackingUrl": "https://gls-group.com/GROUP/en/parcel-tracking"
                            }
                          },
                          "ShipmentId": "93efccb1-f5ee-4b3d-abb9-cc63d297ba70",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250025GB"
                        }
                      ]
                    }
                  },
                  "ReturnLabelsAtPackageLevel": {
                    "value": {
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "CarrierDetails": {
                            "UniqueId": "4F006978600000137EB39",
                            "PartnerDetails": {
                              "PartnerName": "GLS",
                              "PartnerCode": "GLS",
                              "PartnerTrackingNumber": "999880948534",
                              "PartnerTrackingUrl": "https://gls-group.com/GROUP/en/parcel-tracking"
                            }
                          },
                          "ShipmentId": "3e207889-64c6-422a-b5e2-b0ac14af4834",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "TT000250025GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250025GB",
                          "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
                        },
                        {
                          "CarrierDetails": {
                            "UniqueId": "3AB06978600450137EB39",
                            "PartnerDetails": {
                              "PartnerName": "GLS",
                              "PartnerCode": "GLS",
                              "PartnerTrackingNumber": "999880948534",
                              "PartnerTrackingUrl": "https://gls-group.com/GROUP/en/parcel-tracking"
                            }
                          },
                          "ShipmentId": "b84245ae-93b0-4796-a076-0a28e54eae8c",
                          "PackageOccurrence": 2,
                          "TrackingNumber": "TT000250026GB",
                          "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT000250026GB",
                          "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"
                        }
                      ],
                      "Documents": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "DocumentFormat": "PDF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The name maximum length is 50 characters.",
                      "Cause": "Destination.Address.ContactName",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The service code is required.",
                      "Cause": "ShipmentInformation.ServiceCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The carrier was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printLabel/rm/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Label",
        "description": "Generate and return the label for the Royal Mail shipment. This endpoint is utilised after a Royal Mail shipment has been created and is meant to facilitate the printing of the label required for that shipment. \r<br />\r<br />***Note:** This endpoint changes the status of the shipment to label printed. This endpoint should be called at the time of actual printing or label creation, depending on how your business operates. Shipments must be updated to label printed status prior to manifesting.*",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "A unique identifier (shipmentId) or tracking number returned in the Create shipment response. This ID is used to reference and track specific shipments within the system.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "labelFormat",
            "in": "query",
            "description": "Specifies the format of the shipping label that will be returned in the createShipment response.\r<br />\r<br />The following are the accepted values:\r<br /> \r<br />• **PDF** - returns a Base64-encoded PDF\r<br />• **PNG** - returns a Base64-enconded PNG\r<br />• **ZPL203DPI** - returns Base 64 encoded text for Zebra printer at 203 DPI\r<br />• **ZPL300DPI** - returns Base 64 encoded text for Zebra printer at 300 DPI\r<br />• **DATASTREAM** - returns essential label elements in a structured format, including the tracking URL, barcode number, and 2D barcode image. Instead of providing a pre-printed label image This format allows you to create and customise shipment labels within your own systems.\r<br />• **PDF4X3** - returns a Base64-encoded 4x3 format PDF\r<br />• **PNG4X3** - returns a Base64-enconded 4x3 format PNG\r<br />\r<br />***Note:** By default, this field is set to PDF.*",
            "schema": {
              "$ref": "#/components/schemas/RoyalMailLabelFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed label in the format specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoyalMailLabelFormatResponseRoyalMailShipmentResponseCarrierSpecificsPrintLabelResponse"
                },
                "examples": {
                  "PDF": {
                    "value": {
                      "ShipmentId": "00000000-0000-0000-0000-000000000000",
                      "TrackingNumber": "TT123456785GB",
                      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB",
                      "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF",
                      "CarrierDetails": {
                        "UniqueId": "3A07033860010000B2268"
                      }
                    }
                  },
                  "DATASTREAM": {
                    "value": {
                      "ShipmentId": "00000000-0000-0000-0000-000000000000",
                      "TrackingNumber": "TT123456785GB",
                      "CarrierTrackingUrl": "https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB",
                      "LabelFormat": "DATASTREAM",
                      "CarrierDetails": {
                        "UniqueId": "3A07033860010000B2268",
                        "DataStreamDetails": {
                          "Primary2DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                          "Primary2DBarcodeData": "u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA",
                          "FormattedUniqueId": "3A-070 338 6001-000 0B2 000",
                          "GazetteerCodes": {
                            "Part1": "L55",
                            "Part2": "G43",
                            "Part3": "SE"
                          },
                          "SecondaryRoutingCode": "NORW",
                          "Primary1DBarcodeImage": "iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA",
                          "Primary1DBarcodeData": "TT123456785GB"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipment has already been manifested and cannot be reprinted.",
                      "Cause": "ShipmentStatus",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printMyLabelQRCode/rm/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print My Label QR Code",
        "description": "Enhance the shipping and delivery process by generating an easy-to-scan QR code for the associated label specified in the **PrintLabel** API endpoint.\r<br />\r<br />For example, you can take the QR code to your nearest post office and scan it to generate the label image instead of the label itself without the need for having a printer.\r<br />\r<br />***Note:** This endpoint can only be used for Royal Mail Tracked Return services.*",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "A unique identifier (shipmentId) or tracking number returned in the Create shipment response. This ID is used to reference and track a specific shipment for which the QR is being generated.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed QR Code as a Base 64 encoded PNG.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The service code for this shipment does not support QR Code generation",
                      "Cause": "ShipmentId",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/collections/rm/{shipmentId}": {
      "post": {
        "tags": [
          "Collections"
        ],
        "summary": "Book Collection",
        "description": "Schedule a collection of your shipments from a specified location. This endpoint is particularly useful for customers who need to return the parcel and prefer the convenience of having Royal Mail collect the items directly from their address rather than dropping them off at a postal center.\r<br />\r<br />***Note:** The service used to create the shipment must allow for the shipment to be collected. If no timeslot is sent in the request, then by default, the first available collection date will be selected.*",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "A unique identifier (shipmentId) or tracking number returned in the Create shipment response. This ID is used to specify the shipment that is being collected.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create Collection Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionRequest"
              },
              "examples": {
                "Create Collection With Timeslot ID": {
                  "value": {
                    "SlotReservationId": "329fee2e-f56b-4ee8-a2c3-cad66f78deb4",
                    "SlotDate": "2026-06-10",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false,
                    "CollectionSafePlace": "Safe place description"
                  }
                },
                "Create Collection Without Timeslot ID": {
                  "value": {
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false,
                    "CollectionSafePlace": "Safe place description"
                  }
                },
                "Create Collection With Opt Out From RM Notifications": {
                  "value": {
                    "SlotReservationId": "18ec4fd3-e343-4f0a-832a-571e93a92e13",
                    "SlotDate": "2026-06-10",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": true,
                    "CollectionSafePlace": "Safe place description"
                  }
                },
                "Create Collection Without Collection Safe Place": {
                  "value": {
                    "SlotReservationId": "b61ab267-4880-4852-9a49-3a29390fa8cc",
                    "SlotDate": "2026-06-10",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false
                  }
                },
                "Create Collection With Collection Safe Place": {
                  "value": {
                    "SlotReservationId": "0c7b4ffa-38ad-445b-a846-6d790b4c3b1c",
                    "SlotDate": "2026-06-10",
                    "BringMyLabel": false,
                    "OptOutFromRmNotifications": false,
                    "CollectionSafePlace": "Safe place description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the collection date and its unique identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/collections/rm/{shipmentId}/cancel": {
      "put": {
        "tags": [
          "Collections"
        ],
        "summary": "Cancel Collection",
        "description": "Cancel a Royal Mail collection request for an existing shipment.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "A unique identifier (shipmentId) or tracking number returned in the Create shipment response. This ID is used to specify the shipment for which the collection is being cancelled.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection has been cancelled successfully."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/collections/rm/timeslots/{shipmentId}": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get Collections Timeslots",
        "description": "Retrieve all available time slots for shipment collection based on a shipment tracking number or uniqueId. This endpoint is essential for customers who wish to schedule a collection and need to know which dates and times are available for their specific shipment.\r<br />\r<br />***Note:** Before using this endpoint, make sure your shipment has been created using Royal Mail.*",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "A unique identifier (shipmentId) or tracking number returned in the Create shipment response. This ID is used to reference and track specific shipments within the system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available dates for collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollectionsTimeslotsResponse"
                },
                "example": {
                  "ShipmentId": "072d80e4-8f9f-42e4-9c03-6b81a3597ce6",
                  "SlotReservationId": "d25b1a61-5cbf-46d2-a142-06bebed33617",
                  "SlotReservationExpiryTime": "2026-06-10T08:21:53.183Z",
                  "Slots": [
                    {
                      "SlotDate": "2026-06-11",
                      "EstimatedWindow": "14:30-16:30"
                    },
                    {
                      "SlotDate": "2026-06-12",
                      "EstimatedWindow": "14:30-16:30"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/internationalArrivalsContainers/rm": {
      "post": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Add Container",
        "description": "Create and name (with and ID or alias) a new international arrivals container to be used for manifesting a specific group of shipments. Define which carrier and shipping location the container should be linked to.\r<br />\r<br />Unlike the common **Containers** API, the International arrival Containers endpoint is used for Royal Mail shipments that are being imported into GB only. For shipments in these containers, a Data Solution file is generated and sent to Royal Mail, which allows them to associate the shipments in the container with the container ID of the container, for better tracking and visibility purposes.",
        "requestBody": {
          "description": "Add Container Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInternationalArrivalsContainerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The container has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddInternationalArrivalsContainerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "An open container with the containerId already exists for this location.",
                      "Cause": "ContainerId",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "International Arrivals Containers"
        ],
        "summary": "Get Containers",
        "description": "Retrieve detailed information on all the international arrivals containers set up on the customer's account. With this endpoint, you can gain insights into the international containerised shipments, including current statuses, weights, and other relevant details.",
        "parameters": [
          {
            "name": "shippingLocationId",
            "in": "query",
            "description": "A unique identifier for the shipping location assigned by the system or by you (alias), allowing users to filter the data by the shipping location.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "An integer that defines the number of container entries (records) returned per page in the response. For instance, if **pageSize** is set to 20, the API will return up to 20 containers in each response.\r<br />\r<br />***Note:** By default, this value is set to 100.*",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "An integer indicating the specific page of results to retrieve, allowing for pagination of larger datasets. For example, if **pageNumber** is set to 3, the API will return the results corresponding to the third page of containers based on the specified **pageSize**.\r<br />\r<br />***Note:** By default, this value is set to 1.*",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "A string specifying the field by which to organise the search results. For instance, \"CreatedDateUtc\" could be used to sort containers chronologically, arranging the results in a more user-friendly order.\r<br />\r<br />***Note:** By default, this value is set to CreatedDateUtc.*",
            "schema": {
              "$ref": "#/components/schemas/ContainersSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "A string indicating the direction in which to sort the results, typically set to \"ascending\" or \"descending.\" For example, setting **sortDir** to \"Ascending\" while using \"CreatedDateUtc\" as **sortBy** would arrange the container from latest creation date to oldest creation date.\r<br />\r<br />***Note:** By default, this value is set to Ascending.*",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          },
          {
            "name": "containerStatus",
            "in": "query",
            "description": "Indicates the current status of the container, helping customers quickly find the containers that meet their specific criteria.\r<br />\r<br />***Note:** By default, this field is set to Active.*",
            "schema": {
              "$ref": "#/components/schemas/ContainerStatusForFiltering"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of containers.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "Containers",
                    "TotalCount"
                  ],
                  "type": "object",
                  "properties": {
                    "Containers": {
                      "type": "array",
                      "items": {
                        "required": [
                          "DestinationCountryCode",
                          "RmContentFormat"
                        ],
                        "type": "object",
                        "properties": {
                          "ContainerId": {
                            "maxLength": 50,
                            "type": "string",
                            "description": "The unique identifier assigned to the container. This ID can be the name or alias assigned to it, if the user assigned alias was not provided in the request, then the **ContainerId** will be returned, ensuring that each container can be distinctly referenced.",
                            "nullable": true,
                            "example": "South East 1234"
                          },
                          "ContainerBarcode": {
                            "type": "string",
                            "description": "The barcode assigned to the container, which is used for tracking and managing the container in the system. This barcode is essential for scanning and identifying the container during transit.",
                            "nullable": true,
                            "example": "CA00000027GB"
                          },
                          "CreatedDateUtc": {
                            "type": "string",
                            "description": "The date and time, in UTC format, when the container was created. This information is useful for historical tracking and understanding the timeline of shipments.",
                            "format": "date-time"
                          },
                          "ShippingLocationAlias": {
                            "type": "string",
                            "description": "The name or alias of the shipping location associated with the container. Only shipments created for this specific location can be added to this container, ensuring proper handling and organization.",
                            "nullable": true,
                            "example": "Northern Warehouse"
                          },
                          "ShippingLocationId": {
                            "type": "string",
                            "description": "A unique identifier for the shipping location assigned by the system, allowing users to reference and manage specific locations effectively.",
                            "nullable": true,
                            "example": "93f6d928-9456-434a-9d69-60f3b7dea091"
                          },
                          "ContainerStatus": {
                            "enum": [
                              "Active",
                              "Manifested"
                            ],
                            "type": "string",
                            "description": "Indicates the current status of the container, providing information on whether it is active or manifested."
                          },
                          "DestinationCountryCode": {
                            "maxLength": 2,
                            "minLength": 2,
                            "type": "string",
                            "description": "An abbreviation representing the destination country to which this container will be shipped, typically following the ISO 3166-1 alpha-2 standard, for example, \"US\" for the United States of America.",
                            "example": "GB"
                          },
                          "ExportDate": {
                            "type": "string",
                            "description": "The date provided by the customer or automatically set by the system when the container is finalised and ready for export. If the container is finalised on a different date, then this date will be overwritten.",
                            "format": "date",
                            "nullable": true
                          },
                          "Mawb": {
                            "type": "string",
                            "description": "A unique identifier assigned to a specific air freight shipment.",
                            "nullable": true,
                            "example": "125-12345678"
                          },
                          "RmService": {
                            "enum": [
                              "P",
                              "E",
                              "S"
                            ],
                            "type": "string",
                            "description": "Indicates the Royal Mail service associated with the shipment. \r<br />\r<br />***Note:** This field must be populated with P.*"
                          },
                          "RmProduct": {
                            "enum": [
                              "T",
                              "R",
                              "O"
                            ],
                            "type": "string",
                            "description": "Indicates the Royal Mail product type for the shipment.<br><br>The accepted values are the following:<ul><li><b>T</b> - International Tracked</li><li><b>R</b> - International Tracked Signed, International Signed</li><li><b>O</b> - International Max Sort</li></ul>"
                          },
                          "RmContentFormat": {
                            "enum": [
                              "G",
                              "P"
                            ],
                            "type": "string",
                            "description": "Indicates the content format of the shipments within the container.\r<br />\r<br />The accepted values are the following: \r<br /><ul><li>**G** - Large letters and parcels</li><li>**P** - Small letters</li></ul>"
                          },
                          "RmOeCode": {
                            "maxLength": 3,
                            "minLength": 3,
                            "type": "string",
                            "description": "Indicates the Royal Mail OE Code which is used for proper identification and classification of shipments destined for export.",
                            "nullable": true,
                            "example": "GBR"
                          },
                          "ContainerLabel": {
                            "type": "string",
                            "description": "The printed label for the container, which typically contains the container barcode number.",
                            "nullable": true
                          },
                          "TotalWeight": {
                            "type": "number",
                            "description": "The total weight of the shipments contained within the shipping container. This value is essential for understanding the logistics and capacity of the container.",
                            "format": "double",
                            "example": 12.5
                          },
                          "WeightUnitOfMeasure": {
                            "enum": [
                              "KG",
                              "Grams"
                            ],
                            "type": "string",
                            "description": "The unit of measurement used for specifying <b>TotalWeight</b>, indicating whether the weight is expressed in kilograms (kg) or grams (g). This provides clarity for weight-related logistics."
                          },
                          "TotalShipments": {
                            "type": "integer",
                            "description": "The total number of shipments that are currently included within the container, providing an overview of its capacity and contents.",
                            "format": "int32",
                            "example": 23
                          },
                          "TotalPackages": {
                            "type": "integer",
                            "description": "The total number of individual packages that are currently within the container, allowing customers to navigate the specifics of their shipments.",
                            "format": "int32",
                            "example": 23
                          }
                        },
                        "description": "International Arrivals Container"
                      },
                      "description": "Provides a list of all the containers that match the specified query parameters."
                    },
                    "TotalCount": {
                      "type": "integer",
                      "description": "An integer indicating the total number of containers that match the query criteria. This count provides you with an overview of how many container records are available in the system based on the filters applied.",
                      "format": "int32",
                      "example": 32
                    }
                  },
                  "description": "The paged response containing the entities for the requested page only, and the total number available."
                },
                "example": {
                  "Containers": [
                    {
                      "ContainerId": "South East",
                      "ContainerBarcode": "TT12345678GB",
                      "CreatedDateUtc": "2026-06-10T08:06:53.820Z",
                      "ShippingLocationAlias": "Northern Warehouse",
                      "ShippingLocationId": "93f6d928-9456-434a-9d69-60f3b7dea091",
                      "ContainerStatus": "Manifested",
                      "DestinationCountryCode": "GB",
                      "ExportDate": "2026-06-10",
                      "Mawb": "125-12345678",
                      "RmService": "P",
                      "RmProduct": "T",
                      "RmContentFormat": "P",
                      "RmOeCode": "GBR",
                      "ContainerLabel": "Base64EncodedString…",
                      "TotalWeight": 12,
                      "WeightUnitOfMeasure": "KG",
                      "TotalShipments": 2,
                      "TotalPackages": 1
                    },
                    {
                      "ContainerId": "South West",
                      "ContainerBarcode": "TT12345679GB",
                      "CreatedDateUtc": "2026-06-09T08:06:53.820Z",
                      "ShippingLocationAlias": "Northern Warehouse",
                      "ShippingLocationId": "93f6d928-9456-434a-9d69-60f3b7dea091",
                      "ContainerStatus": "Active",
                      "DestinationCountryCode": "GB",
                      "ExportDate": "2026-06-10",
                      "Mawb": "125-12345678",
                      "RmService": "S",
                      "RmProduct": "O",
                      "RmContentFormat": "G",
                      "RmOeCode": "GBR",
                      "ContainerLabel": "Base64EncodedString…",
                      "TotalWeight": 14,
                      "WeightUnitOfMeasure": "KG",
                      "TotalShipments": 3,
                      "TotalPackages": 1
                    }
                  ],
                  "TotalCount": 2
                }
              }
            }
          },
          "400": {
[...]
