{
  "openapi": "3.0.1",
  "info": {
    "title": "SAPIENT DPD UK API",
    "description": "# Introduction\nHere you will find requirements for integrating with SAPIENT CORE API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe SAPIENT CORE API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n",
    "version": "v4.0-DPDUK",
    "x-logo": {
      "url": "/Content/images/redoc-logo.png",
      "altText": "ReDoc"
    }
  },
  "servers": [
    {
      "url": "https://api.intersoftsapient.net/",
      "description": "Sapient Server"
    }
  ],
  "paths": {
    "/v4/shippingAccounts/dpduk": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Provides a list of DPD UK shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By. Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction. Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts for the given carrier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpdUkShippingAccountShippingAccountsPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Add Account",
        "description": "Add a shipping account for DPD UK and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like the account number so that you can use the account for shipping with DPD UK.",
        "requestBody": {
          "description": "Add Shipping Account Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpdUkAddShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShippingAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpduk/{shippingAccountId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Account",
        "description": "Provides details for a DPD UK account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shipping account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DpdUkShippingAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Account",
        "description": "Update shipping account details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Account Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpdUkUpdateShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was updated successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpduk/{shippingAccountId}/shippingLocations": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Locations",
        "description": "Provides a list of all shipping locations associated with a DPD UK shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingLocationsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of associated shipping locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingLocationsForAccountPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpduk/{shippingAccountId}/shippingLocations/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Location",
        "description": "Provides information for a specific shipping location linked to a DPD UK shipping account including location alias, timezone, address, when it was last updated, and by who.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the associated shipping location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingLocation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dpduk/{shippingAccountId}/linkLocations": {
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Link Locations",
        "description": "Link one or more shipping locations with a DPD UK shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />\r<br />***Note:** The information provided in this field and the ShippingLocationId field are being linked with each other.*",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to associate with this shipping account.\r\n\r\n***Note:** The information provided in this field and the ShippingAccountId field are being linked with each other.*",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShippingLocationIdRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping location(s) have been linked to the account successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipping location was not found",
                      "Cause": "[2].ShippingLocationId",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/dpduk": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create Shipment",
        "description": "Create a DPD UK shipment. This will return an image of the shipping label in PDF format.",
        "requestBody": {
          "description": "Shipment Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DpdUkShipmentRequestCarrierSpecificsPackageDetailsLabelFormatCreateShipmentRequest"
              },
              "examples": {
                "Domestic - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "11",
                      "DescriptionOfGoods": "Clothing",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "74032199-a408-485e-a600-1ef85d94b6dd",
                      "ShippingLocationId": "aaf0ff06-b69b-4e7a-8a2a-7ed4c4e6b237",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactName": "John Smith",
                        "Line1": "10/14 Cheapside",
                        "Line2": " ",
                        "Line3": " ",
                        "Town": " Lancaster",
                        "Postcode": " LA1 1LZ",
                        "County": " Lancashire",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 15,
                          "Width": 20,
                          "Height": 15
                        }
                      }
                    ]
                  }
                },
                "Domestic - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "DeliveryInstructions": "Leave at front door",
                      "ContainsBatteries": false,
                      "ContainsLiquids": false,
                      "ServiceEnhancements": [
                        "ID",
                        "AGE"
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "11",
                      "DescriptionOfGoods": "Clothing",
                      "ShipmentDate": "2026-03-18",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "8afc4baa-f2c9-445d-b6ad-6ba3b95039e1",
                      "ShippingLocationId": "b3c72f3e-c5ae-450e-894e-eba281071e56",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactName": "John Smith",
                        "Line1": "10/14 Cheapside",
                        "Line2": " ",
                        "Line3": " ",
                        "Town": " Lancaster",
                        "Postcode": " LA1 1LZ",
                        "County": " Lancashire",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 15,
                          "Width": 20,
                          "Height": 15
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "GB"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "GB"
                      }
                    ],
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "International - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "50",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-03-18",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP"
                    },
                    "Shipper": {
                      "ShippingAccountId": "e04eb3c4-7300-4451-beb7-dc4c4e0f327a",
                      "ShippingLocationId": "e6e8714c-82e2-4308-a51e-e4101d635512",
                      "Reference1": "OrderRef56",
                      "EoriNumber": "GB12345",
                      "VatNumber": "GB12345"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "61091000",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "61101130",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "01",
                      "Incoterms": "DAP",
                      "PreRegistrationNumber": "ARN1234567890",
                      "PreRegistrationType": "GST"
                    }
                  }
                },
                "International - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "DeliveryInstructions": "Leave at front door",
                      "ContainsBatteries": false,
                      "ContainsLiquids": false,
                      "ServiceEnhancements": [
                        "ID",
                        "PIN"
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "50",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-03-18",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "ContainerId": "South East"
                    },
                    "Shipper": {
                      "ShippingAccountId": "bbdddaa5-9c62-4932-b56c-47b29f011f6e",
                      "ShippingLocationId": "0fdc4d4a-b63a-4402-9de4-8de586477e23",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "AU123456789000",
                      "VatNumber": "AU123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "61091000",
                        "CountryOfOrigin": "CN"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "61101130",
                        "CountryOfOrigin": "CN"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "01",
                      "Incoterms": "DAP",
                      "PreRegistrationNumber": "ARN1234567890",
                      "PreRegistrationType": "GST",
                      "ShippingCharges": 55.82,
                      "OtherCharges": 32,
                      "QuotedLandedCost": 82.74,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-03-18",
                      "ExportLicenceRequired": false,
                      "Airn": "231.002.999-00"
                    },
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "Using Address Book": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "SMHER24",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-03-18",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "46388670-7518-4c7e-9567-6fdca3fbb166",
                      "Reference1": "OrderRef56",
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipment was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelFormatPackageResponseDetailsCreateShipmentResponse"
                },
                "examples": {
                  "Create": {
                    "value": {
                      "ConsignmentShipmentId": "3dea1e1d-0f2c-4246-b982-cc7c222efe44",
                      "Packages": [
                        {
                          "PackageOccurrence": 1
                        }
                      ]
                    }
                  },
                  "Allocate": {
                    "value": {
                      "ConsignmentShipmentId": "bc4ea55f-95f5-4a7e-a18d-874a90a4b9a1",
                      "ConsignmentTrackingNumber": "UZ 123 456 789 IE",
                      "ConsignmentCarrierTrackingUrl": "https://track.dpd.co.uk/search?reference=UZ 123 456 789 IE",
                      "Packages": [
                        {
                          "PackageOccurrence": 1,
                          "TrackingNumber": "UZ 123 456 789 IE",
                          "CarrierTrackingUrl": "https://track.dpd.co.uk/search?reference=UZ 123 456 789 IE"
                        }
                      ]
                    }
                  },
                  "Process - PDF": {
                    "value": {
                      "ConsignmentShipmentId": "63de6225-bc2f-421f-8e0b-d07caf37080e",
                      "ConsignmentTrackingNumber": "UZ 123 456 789 IE",
                      "ConsignmentCarrierTrackingUrl": "https://track.dpd.co.uk/search?reference=UZ 123 456 789 IE",
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "Pdf",
                      "Packages": [
                        {
                          "PackageOccurrence": 1,
                          "TrackingNumber": "UZ 123 456 789 IE",
                          "CarrierTrackingUrl": "https://track.dpd.co.uk/search?reference=UZ 123 456 789 IE"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The name maximum length is 50 characters.",
                      "Cause": "Destination.Address.ContactName",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The service code is required.",
                      "Cause": "ShipmentInformation.ServiceCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The carrier was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printLabel/DpdUk/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Label",
        "description": "This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "labelFormat",
            "in": "query",
            "description": "Label Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />            \r<br />Defaults To PDF",
            "schema": {
              "$ref": "#/components/schemas/LabelFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed label in the format specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelFormatPrintLabelResponse"
                },
                "examples": {
                  "PDF": {
                    "value": {
                      "ShipmentId": "8cf66846-34e2-4a3f-9aba-7423fb15f430",
                      "TrackingNumber": "UZ 123 456 789 IE",
                      "CarrierTrackingUrl": "https://track.dpd.co.uk/search?reference=UZ 123 456 789 IE",
                      "Label": "jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4",
                      "LabelFormat": "PDF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipment has already been manifested and cannot be reprinted.",
                      "Cause": "ShipmentStatus",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountType": {
        "enum": [
          "Sandbox",
          "Production"
        ],
        "type": "string",
        "description": "Indicates whether the account is set up as a \"sandbox\" or \"production\" account. A **Sandbox** account is for testing and development, while a **Production** account is used for live shipments and transactions."
      },
      "AddShippingAccountLocation": {
        "type": "object",
        "properties": {
          "ShippingLocationId": {
            "maxLength": 100,
            "type": "string",
            "description": "This field is used to link an existing shipping location to the new shipping account that is being created, and either the shipping location Id or alias can be provided to link the shipping location to the shipping account.",
            "nullable": true,
            "example": "D94E8CFD-604B-4B87-83E9-3F20CAF02837"
          },
          "ShippingLocation": {
            "$ref": "#/components/schemas/AddShippingAccountLocationNewLocation"
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Location"
      },
      "AddShippingAccountLocationNewLocation": {
        "required": [
          "Address",
          "LocationAlias",
          "Timezone"
        ],
        "type": "object",
        "properties": {
          "LocationAlias": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "A user-defined identifier for the shipping location. This information allows greater flexibility in recognising and referring to the location.",
            "example": "Main Warehouse"
          },
          "Timezone": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The timezone in which the shipping location is located, important for scheduling and logistical considerations.",
            "example": "Europe/London"
          },
          "IsDefaultLocation": {
            "type": "boolean",
            "description": "A boolean value indicating whether the shipping location is set as the default for shipping operations, streamlining the selection process during shipments.\r<br />If the location is set as the default one, the customers no longer need to specify the location for every shipment request, reducing the risk of errors and delays. It enhances consistency by ensuring that all shipments are directed to the same default location.\r<br />\r<br />***Note:** If true, then this location is set as the default one. Otherwise, it is set to false.*\r<br />\r<br /> Enum [true, false]",
            "nullable": true,
            "example": false
          },
          "Address": {
            "$ref": "#/components/schemas/AddShippingLocationAddress"
          }
        },
        "additionalProperties": false,
        "description": "This object is used to create a new shipping location that will be linked to the shipping account that is being created."
      },
      "AddShippingAccountResponse": {
        "type": "object",
        "properties": {
          "ShippingAccountId": {
            "type": "string",
            "description": "A unique identifier for the shipping account assigned by the system, allowing for efficient reference and management of individual accounts within the system.",
            "format": "uuid"
          },
          "ShippingLocationId": {
            "type": "string",
            "description": "A unique identifier assigned to the new shipping location by the system. This ID is used to distinguish between different shipping locations within the system, facilitating, referencing and operations, such as updates, deletions, or specific queries related to that location.\r<br />\r<br />***Note:** This field is only populated if the details of a new location were provided in the request.*",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Response"
      },
      "AddShippingLocationAddress": {
        "type": "object",
        "properties": {
          "AddressId": {
            "maxLength": 70,
            "type": "string",
            "description": "A unique identifier for the address associated with the shipping location. This ID serves as a reference point, allowing users to easily access, manage, and differentiate between different addresses stored in the system.\r<br />\r<br />***Note:** This ID is stored in the system's address book. If this information is provided, then all the fields under the **Address** object are ignored and the stored address in the **Address Book** will be used.*",
            "nullable": true,
            "example": "John Brown Default"
          },
          "Line1": {
            "maxLength": 50,
            "type": "string",
            "description": "The first line of the address, typically containing the primary address information such as house number and street name. <br/> <br/> ***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "Brown Cottage"
          },
          "Line2": {
            "maxLength": 50,
            "type": "string",
            "description": "An optional second line for the address, often used for additional details like apartment numbers or suite designations.",
            "nullable": true,
            "example": "10 Sky Lane"
          },
          "Line3": {
            "maxLength": 50,
            "type": "string",
            "description": "A third optional line in the address to include any further address specifications, allowing for more detailed address information if necessary.",
            "nullable": true,
            "example": "Hills End"
          },
          "Town": {
            "maxLength": 50,
            "type": "string",
            "description": "The town or city, indicating the specific locality where the shipping location is situated. <br/> <br/> ***Note:** This information is required if the address is not used from the stored addresses in the **Address Book**.*",
            "nullable": true,
            "example": "Christchurch"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "The postal or ZIP code corresponding to the shipping location, used for mail sorting and to identify specific geographic areas.<br/> <br/> ***Note:** This information is only required for the addresses in the UK and for some outside it. To check for the postcode requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "TW20 0HJ"
          },
          "County": {
            "maxLength": 50,
            "type": "string",
            "description": "The county, state, or province in which the shipping location resides, providing additional geographical context for the address.<br/> <br/> ***Note:** This information may be required depending on the country. If the country is USA, Australia, or Canada, then it must be a valid state code or name, respectively. To check for the county/state/province requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "Surrey"
          },
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "An abbreviation representing the country of the shipping location, following the ISO 3166-1 alpha-2 standard, for example, \"GB\" for the United Kingdom.\r<br />\r<br />***Note**: This information is only required if the address is not used from the stored addresses in the  **Address Book***",
            "nullable": true,
            "example": "GB"
          },
          "What3Words": {
            "type": "string",
            "description": "A three-word location identifier provided by the What3words service, offering a precise way to define locations using a unique combination of three words, for example, the front door of 10 Downing Street in London is identified by slurs.this.shark.",
            "nullable": true,
            "example": "brick.space.employ"
          },
          "ContactPhone": {
            "maxLength": 20,
            "type": "string",
            "description": "The contact phone number associated with the shipping location, facilitating communication regarding shipments or deliveries.\r<br />\r<br />***Note:** Characters like +, /, -, or space are supported.*",
            "format": "tel",
            "nullable": true,
            "example": "07123887422"
          }
        },
        "additionalProperties": false,
        "description": "The complete address of the shipping location, consisting of multiple components including street information, locality, and so on."
      },
      "BusinessTransactionType": {
        "enum": [
          "B2C",
          "B2B",
          "D2C",
          "C2B"
        ],
        "type": "string",
        "description": "Specifies the nature of the commercial transaction type associated with the shipment.\r<br />\r<br />Valid values are: \r<br /><ul><li>**B2C** - Business to Consumer</li><li>**B2B** - Business to Business</li><li>**D2C** - Direct 2 Consumer</li><li>**C2B** - Consumer to Business</li></ul>"
      },
      "ContentType": {
        "enum": [
          "NDX",
          "DOX",
          "HV"
        ],
        "type": "string",
        "description": "Defines the type of contents being shipped. This helps the carrier manage the shipment according to its content type.\r<br />\r<br />Valid values are: <br />\r<br />**NDX** (Non Documents)\r<br />**DOX** (Documents)\r<br />**HV** (Non Documents of High Value)"
      },
      "CreateShipmentAction": {
        "enum": [
          "Process",
          "Create",
          "Allocate"
        ],
        "type": "string",
        "description": "Indicates the operation to be performed for the shipment, determines the shipment status that is set on shipment creation and whether a shipment tracking number and labels are generated.\r<br />            \r<br />Valid values are:\r<br /><ul><li>**Process:** Creates a shipment tracking number, generates and prints a label for each package in the shipment, and returns the labels in the createShipment response. With this action, the shipment status is set to Ready to Manifest.</li><li>**Create:** Creates the shipment but does not allocate a tracking number, print the labels or return them in the createShipment response. The label(s) must be printed before the shipment is ready to manifest.</li><li>**Allocate:**  Creates the tracking number and label but does not print the labels or return them in the createShipment response. The label(s) must be printed before the shipment is ready to manifest.</li></ul>\r<br />***Note**: By default, this field is set to Process.*"
      },
      "Customs": {
        "type": "object",
        "properties": {
          "ReasonForExport": {
            "maxLength": 250,
            "type": "string",
            "description": "Identifies the purpose of the export, such as sale, gift, or return. This information is useful for customs processing to determine the appropriate tariffs and requirements.",
            "nullable": true,
            "example": "Sale of Goods"
          },
          "Incoterms": {
            "$ref": "#/components/schemas/TermsOfTrade"
          },
          "PreRegistrationNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "A number for tax pre-registration in countries where required for compliance during DDU shipments.<br />\r<br />If applicable, this number is required for countries operating a Tax Pre-Registration scheme(for example, VOEC in Norway, GST in Australia) when shipping under DDU Incoterms.If not provided and DDU is specified, any pre-registration numbers configured in the Customs Settings GUI for the account will be used.\r<br />\r<br />***Note:** VAT and EORI numbers should be provided in the Shipper and receiver **VatNumber** and **EoriNumber** fields, not in this field.*",
            "nullable": true,
            "example": "0123456789"
          },
          "PreRegistrationType": {
            "maxLength": 18,
            "type": "string",
            "description": "The type of pre-registration number provided in the PreRegistrationNumber element, specifying the registration scheme type. This field is mandatory if a PreRegistrationNumber is provided. Otherwise, it is ignored.\r<br />\r<br />***Note:** VAT and EORI numbers should be provided in the Shipper and receiver **VatNumber** and **EoriNumber** fields, not in this field.*",
            "nullable": true,
            "example": "GST"
          },
          "ShippingCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The postage amount paid by the customer for the international shipments, which can be 0.00 if free delivery is offered. This amount is used for calculating customs fees and should be in the currency specified in the **ShipmentInformation** > **Currency** field.",
            "format": "double",
            "nullable": true,
            "example": 55.82
          },
          "OtherCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The additional costs charged to the customer beyond standard shipping, such as insurance fees. This field can be left blank or set to 0.00 if no additional charges apply. Values should be in the currency specified in the **ShipmentInformation** > **Currency** field.",
            "format": "double",
            "nullable": true,
            "example": 32
          },
          "QuotedLandedCost": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The total cost quoted to the customer when the shipment reaches the destination, including duties and taxes, and must be expressed in the currency specified in the **ShipmentInformation** > **Currency** field.\r<br />\r<br />***Note:** This information is required for some international destinations when the shipment incoterms are DDP.*",
            "format": "double",
            "nullable": true,
            "example": 82.74
          },
          "InvoiceNumber": {
            "maxLength": 35,
            "type": "string",
            "description": "A specific number that is associated with a shipment. This is useful for tracking, billing, and reconcilliation purposes.\r<br />\r<br />***Note:** When sending an item to an overseas address and a Commercial or Proforma invoice is available, the **InvoiceNumber** and **InvoiceDate** should be provided to support customs processing.If provided, it will be displayed on commercial invoices generated for the shipment.Please be advised that this field is required if the **InvoiceDate** is provided.*",
            "nullable": true
          },
          "InvoiceDate": {
            "type": "string",
            "description": "The date on which the invoice was created. This information is useful for record-keeping, billing cycles, and tracking payment due dates. \r<br />\r<br />***Note:** The InvoiceDate must be in the YYYY-MM-DD format.This field is ignored if the **InvoiceNumber** is not provided. If the **InvoiceNumber** is provided without the invoice date, then the **InvoiceDate** defaults to today's date.*",
            "format": "date",
            "nullable": true
          },
          "ExportLicenceRequired": {
            "type": "boolean",
            "description": "A boolean flag indicating whether an export license is needed for the shipment, particularly for goods predominantly used for military purposes. If required, the export license should be affixed to the outside of the package.\r<br />\r<br />***Note:** To learn more about the types of items requiring an export license, refer to the UK Government website.*",
            "nullable": true,
            "example": false
          },
          "Airn": {
            "maxLength": 20,
            "type": "string",
            "description": "The AIRN (Address Identification Reference Number) is the generic name given to a national identification number for the overseas recipient of an item. This is required by certain countries for customs clearance.\r<br />\r<br />***Note:** If the AIRN is available, then it should be provided for items being exported to countries where the customs/tax authority requests one, such as Russia and Brazil.*",
            "nullable": true,
            "example": "231.002.999-00"
          }
        },
        "additionalProperties": false,
        "description": "Used to provide information for customs clearance related to the shipment. This includes, reasons for export, applicable incoterms, any pre-registration numbers and type required, shipping and other charges, as well as details about the invoice and whether an export license is needed. It ensures compliance with international shipping regulations."
      },
      "Destination": {
        "required": [
          "Address"
        ],
        "type": "object",
        "properties": {
          "EoriNumber": {
            "maxLength": 17,
            "type": "string",
            "description": "The EORI (Economic Operators Registration and Identification) number for the receiver, which must start with the ISO Alpha-2 Country Code followed by up to 15 alphanumeric characters. For Northern Ireland, it starts with XI. \r<br />\r<br />***Note:** Make sure to provide this information here—not in the **Customs** object.*",
            "nullable": true,
            "example": "GB 123 4567 89 000"
          },
          "VatNumber": {
            "maxLength": 15,
            "type": "string",
            "description": "The VAT (Value Added Tax) number for the receiver, which, if applicable, is used for tax compliance. \r<br />\r<br />***Note:** Make sure to provide this information here—not in the **Customs** object.*",
            "nullable": true,
            "example": "GB 123 4567 89"
          },
          "Address": {
            "$ref": "#/components/schemas/DestinationAddress"
          }
        },
        "additionalProperties": false,
        "description": "An object providing details on the shipment destination, such as receiver and contact details."
      },
      "DestinationAddress": {
        "type": "object",
        "properties": {
          "AddressId": {
            "maxLength": 70,
            "type": "string",
            "description": "A unique identifier for the address. This information ensures that each address can be distinctly referenced and managed within the system.\r<br />\r<br />***Note:**  If this information is provided, then all the fields under the **Address** object are ignored and the stored address in the **Address Book** will be used.*",
            "nullable": true,
            "example": "John Brown Default"
          },
          "PudoId": {
            "maxLength": 20,
            "type": "string",
            "description": "A unique identifier for a PUDO location. This ID is retrieved from the LocationId field of the Get PUDO Locations endpoint response and is essential for identifying the specific collection point for a Royal Mail shipment.\r<br />Note: Before providing the PudoId, keep in mind the following:\r<br />- The PudoId is only applicable for destination addresses when the shipment is being created as a collection shipment. Royal Mail does not utilise this ID for drop-off shipments.\r<br />- The destination contact name must be provided with either its contact email or phone number.\r<br />- The LocalCollect supplement code is not required - the system will automatically assign the relevant supplement codes based on the PudoId.",
            "nullable": true
          },
          "ContactName": {
            "maxLength": 50,
            "type": "string",
            "description": "The name of the primary contact person for the shipment at the address. <br /><br />***Note:** Either the **Contact Name** or **Company Name** must be provided.*",
            "nullable": true,
            "example": "Jane Doe"
          },
          "CompanyName": {
            "maxLength": 50,
            "type": "string",
            "description": "The name of the company associated with the shipment at the address.<br /><br />***Note:** Either the **Contact Name** or **Company Name** must be provided.*",
            "nullable": true,
            "example": "My Company Ltd."
          },
          "ContactEmail": {
            "maxLength": 254,
            "type": "string",
            "description": "The email address of the contact person for any communication regarding the shipment at the address.",
            "format": "email",
            "nullable": true,
            "example": "jane@example.com"
          },
          "ContactPhone": {
            "maxLength": 20,
            "type": "string",
            "description": "The contact phone number associated with the receiver, facilitating communication regarding shipments or deliveries.\r<br />\r<br />***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "07123887422"
          },
          "Line1": {
            "maxLength": 50,
            "type": "string",
            "description": "The first line of the address, typically containing the primary address information such as house number and street name. <br/> <br/> ***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "Brown Cottage"
          },
          "Line2": {
            "maxLength": 50,
            "type": "string",
            "description": "An optional second line for the address, often used for additional details like apartment numbers or suite designations.",
            "nullable": true,
            "example": "10 Sky Lane"
          },
          "Line3": {
            "maxLength": 50,
            "type": "string",
            "description": "A third optional line in the address to include any further address specifications, allowing for more detailed address information if necessary.",
            "nullable": true,
            "example": "Hills End"
          },
          "Town": {
            "maxLength": 50,
            "type": "string",
            "description": "The town or city, indicating the specific locality where the shipping location is situated. <br/> <br/> ***Note:** This information is required if the address is not used from the stored addresses in the **Address Book**.*",
            "nullable": true,
            "example": "Christchurch"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "The postal or ZIP code corresponding to the shipping location, used for mail sorting and to identify specific geographic areas.<br/> <br/> ***Note:** This information is only required for the addresses in the UK and for some outside it. To check for the postcode requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "TW20 0HJ"
          },
          "County": {
            "maxLength": 50,
            "type": "string",
            "description": "The county, state, or province in which the shipping location resides, providing additional geographical context for the address.<br/> <br/> ***Note:** This information may be required depending on the country. If the country is USA, Australia, or Canada, then it must be a valid state code or name, respectively. To check for the county/state/province requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "Surrey"
          },
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "An abbreviation representing the country of the shipping location, following the ISO 3166-1 alpha-2 standard, for example, \"GB\" for the United Kingdom.\r<br />\r<br />***Note**: This information is only required if the address is not used from the stored addresses in the  **Address Book***",
            "nullable": true,
            "example": "GB"
          },
          "What3Words": {
            "type": "string",
            "description": "A three-word location identifier provided by the What3words service, offering a precise way to define locations using a unique combination of three words, for example, the front door of 10 Downing Street in London is identified by slurs.this.shark.",
            "nullable": true,
            "example": "brick.space.employ"
          }
        },
        "additionalProperties": false,
        "description": "The complete address of the receiver's location, consisting of multiple components including street information, locality, and so on."
      },
      "Dimensions": {
        "required": [
          "Height",
          "Length",
          "Width"
        ],
        "type": "object",
        "properties": {
          "Length": {
            "minimum": 0.1,
            "type": "number",
            "description": "The length of the shipment package in the unit of measure specified in the **UnitOfMeasure** field.\r<br />\r<br />***Note:** The maximum accepted length is dependent on the service and package type.*",
            "format": "double",
            "example": 35
          },
          "Width": {
            "minimum": 0.1,
            "type": "number",
            "description": "The width of the shipment package in the unit of measure specified in the UnitOfMeasure field.\r<br />\r<br />***Note:** The maximum accepted width is dependent on the service and package type.*",
            "format": "double",
            "example": 25
          },
          "Height": {
            "minimum": 0.1,
            "type": "number",
            "description": "The length of the shipment package in the unit of measure specified in the **UnitOfMeasure** field.\r<br />\r<br />***Note:** The maximum accepted length is dependent on the service and package type.*",
            "format": "double",
            "example": 20
          }
        },
        "additionalProperties": false,
        "description": "Used to provide the maximum allowable dimensions for packages. It specifies the limits that must not be exceeded for packages to be eligible for the shipping service and package type.\r<br />\r<br />***Note:** The Dimensions object in the request is optional, but if it is provided, then all of the fields in the object (width, length, and height) must be populated.The maximum dimensions accepted are dependent on the service and the package type.*"
      },
      "DimensionsUnitOfMeasure": {
        "enum": [
          "CM",
          "MM"
        ],
        "type": "string",
        "description": "The unit of measure used for all the dimensions (length, width, height) values of the packages being shipped, allowing for measurements in millimeters and centimeters. This ensures consistency in how dimensions are handled.\r<br />\r<br />***Note:** By Default, this field is set to CM.*"
      },
      "DocumentFormat": {
        "enum": [
          "PDF",
          "PNG",
          "ZPL203DPI",
          "ZPL300DPI"
        ],
        "type": "string",
        "description": "Document Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />\r<br />Defaults To PDF"
      },
      "DpdUkAddShippingAccountRequest": {
        "required": [
          "AccountAlias",
          "AccountNumber",
          "AccountType",
          "AuthorisationCode",
          "ContactName",
          "ContactNumber",
          "ShippingLocations",
          "Slid"
        ],
        "type": "object",
        "properties": {
          "AccountNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Carrier Account Number\r<br />The account number given by the carrier.",
            "example": "123456789"
          },
          "AccountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "AuthorisationCode": {
            "minLength": 1,
            "pattern": "^\\d{8}$",
            "type": "string",
            "description": "Authorisation Code.\r<br />A unique 8-digit identifier used as an authentication code for DPD UK.\r<br />This code validates or links the manifest to the correct shipper or contract.\r<br />            \r<br /><i><b>Note:</b> This identifier is included in the manifest file names.</i>",
            "example": "12345678"
          },
          "AccountName": {
            "maxLength": 35,
            "type": "string",
            "description": "The official name of the shipping account as designated by the user or organisation, aiding in easy identification and reference of accounts.\r<br />\r<br />***Note:** By default, this value is set to the customer name if not provided in the request.*",
            "nullable": true,
            "example": "AB VideoGames"
          },
          "Slid": {
            "minLength": 1,
            "pattern": "^\\d{4}$",
            "type": "string",
            "description": "A customer identifier used in the barcode range and manifest files.",
            "example": "1234"
          },
          "AccountAlias": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "A unique, user-defined name for the shipping account, providing a convenient way to reference the account in a more memorable manner.",
            "example": "RM-99112347707"
          },
          "ContactName": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The name of the primary contact person for the shipping account, facilitating communication regarding shipping and account-related matters.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact name, if provided.*",
            "example": "John Smith"
          },
          "ContactNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The phone number associated with the shipping account's primary contact person, facilitating communication regarding shipping inquiries, account management, and issue resolution.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact phone number, if provided. Characters like +, /, -, or space are supported.*",
            "format": "tel",
            "example": "0123456789"
          },
          "ShippingLocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddShippingAccountLocation"
            },
            "description": "An object that allows the customer to specify the shipping location(s) that will be associated with the new shipping account. Within this object, the customer can either link the existing shipping location(s) or add a new one.\r<br />\r<br />***Note:** While adding a shipping account, make sure to provide at least one shipping location.If you are providing a new shipping location, then only one location can be added.*"
          }
        },
        "additionalProperties": false,
        "description": "DPD UK Add Shipping Account Request"
      },
      "DpdUkEnhancement": {
        "enum": [
          "ID",
          "AGE",
          "PIN"
        ],
        "type": "string",
        "description": "Enhancement code of the service enhancement."
      },
      "DpdUkShipmentRequestCarrierSpecifics": {
        "required": [
          "ContainsBatteries",
          "ContainsLiquids"
        ],
        "type": "object",
        "properties": {
          "DeliveryInstructions": {
            "maxLength": 256,
            "type": "string",
            "description": "A field to provide special instructions or requests to the carrier for handling the shipment, such as handling procedures or delivery preferences.",
            "nullable": true
          },
          "ContainsBatteries": {
            "type": "boolean",
            "description": "Indicates whether the shipment contains any type of batteries. This is used to determine any special handling for restricted items.\r<br />\r<br />The accepted values are the following:\r<br /><ul><li>**True** - Contains batteries</li><li>**False** - Does not contain batteries</li></ul>\r<br />***Note:** By default, this field is set to false.*"
          },
          "ContainsLiquids": {
            "type": "boolean",
            "description": "Indicates whether the shipment contains any type of liquid items, aiding in correct labeling and packaging of potentially spillable or regulated liquid materials for transportation.\r<br />\r<br />The accepted values are the following:\r<br /><ul><li>**True** - Contains liquids</li><li>**False** - Does not contain liquids</li></ul>\r<br />***Note:** By default, this field is set to false.*"
          },
          "ServiceEnhancements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DpdUkEnhancement"
            },
            "description": "An array of objects that allows shippers to specify any additional service enhancements they would like to apply to the requested shipping service,\r<br />offering flexibility in how the shipment is handled based on specific requirements or preferences.\r<br />            \r<br />This object specifies the particular enhancement code that is being applied to the shipment,\r<br />allowing customers to select multiple enhancements that can modify the shipping experience according to their preferences.\r<br />\r<br />Valid values are the following:\r<br /><ul><li>**ID** Requires the receiver to present valid identification at the point of delivery.</li><li>**Age** Ensures the recipient meets a minimum age requirement, like for age-restricted goods.</li><li>**PIN** A secure PIN is sent to the receiver, which must be provided upon delivery.</li></ul>\r<br />***Note:** The Age and PIN enhancement codes can be used together to require both age verification and pin confirmation upon delivery.*",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Used to provide specific information related to the DPD UK shipment. This includes service enhancements and special handling instructions for the shipments being sent."
      },
      "DpdUkShipmentRequestCarrierSpecificsPackageDetailsLabelFormatCreateShipmentRequest": {
        "required": [
          "Destination",
          "Packages",
          "ShipmentInformation",
          "Shipper"
        ],
        "type": "object",
        "properties": {
          "ShipmentInformation": {
            "$ref": "#/components/schemas/LabelFormatShipmentInformation"
          },
          "Shipper": {
            "$ref": "#/components/schemas/Shipper"
          },
          "Destination": {
            "$ref": "#/components/schemas/Destination"
          },
          "CarrierSpecifics": {
            "$ref": "#/components/schemas/DpdUkShipmentRequestCarrierSpecifics"
          },
          "Packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageDetails"
            },
            "description": "Used to provide information on the packages that are being sent in this shipment.  \r<br />\r<br />***Note:** You must add at least one package to the shipment.You can add a maximum of 50 packages in a single shipment.If the number of packages exceeds 50, an error will be returned, and the shipment will not be created.*"
          },
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "description": "Used to provide information on the individual goods/products being shipped within the package. This includes vital details, such as SKU code for inventory tracking, quantity of each item, description for clarity, and shipping specifics like weight, customs classifications (HS Code), and country of origin.\r<br />\r<br />***Note:** The item information is only required for dutiable shipments.Non-Dutiable and Documents Only (DOX) shipments do not require item information. Please be advised that the item verification on a shipment is done via Hurricane services; therefore, it should be enabled.The maximum number of distinct items that will be verified in a single shipment is 15.*",
            "nullable": true
          },
          "Customs": {
            "$ref": "#/components/schemas/Customs"
          },
          "ReturnToSender": {
            "$ref": "#/components/schemas/ReturnToSender"
          }
        },
        "additionalProperties": false,
        "description": "Create Shipment Request"
      },
      "DpdUkShippingAccount": {
        "required": [
          "AccountAlias",
          "AccountName",
          "AccountStatus",
          "AccountType",
          "CarrierCode",
          "ContactName",
          "ContactNumber",
          "LastUpdatedBy",
          "LastUpdatedDateUtc",
          "ShippingAccountId"
        ],
        "type": "object",
        "properties": {
          "ShippingAccountId": {
            "type": "string",
            "description": "A unique identifier for each shipping account assigned by the system (ShippingAccountId), allowing for efficient reference and management of individual accounts within the system.",
            "format": "uuid"
          },
          "AuthorisationCode": {
            "pattern": "^\\d{8}$",
            "type": "string",
            "description": "Authorisation Code.\r<br />A unique 8-digit identifier used as an authentication code for DPD UK.\r<br />This code validates or links the manifest to the correct shipper or contract.\r<br />            \r<br /><i><b>Note:</b> This identifier is included in the manifest file names.</i>",
            "nullable": true,
            "example": "12345678"
          },
          "CarrierCode": {
            "minLength": 1,
            "type": "string",
            "description": "A unique identifier for the carrier associated with the shipping account. This code is typically alphanumeric and helps in identifying the specific carrier linked to the shipping account.",
            "example": "RM"
          },
          "AccountNumber": {
            "type": "string",
            "description": "The number assigned to the shipping account by the carrier, typically used for tracking shipments and billing purposes.",
            "nullable": true,
            "example": "0123456789"
          },
          "Slid": {
            "pattern": "^\\d{4}$",
            "type": "string",
            "description": "A customer identifier used in the barcode range and manifest files.",
            "nullable": true,
            "example": "1234"
          },
          "AccountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "AccountName": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "The official name of the shipping account as designated by the user or organization, aiding in easy identification and reference of accounts.",
            "example": "AB VideoGames"
          },
          "AccountAlias": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "A unique, user-defined name for the shipping account, providing a convenient way to reference the account in a more memorable manner.",
            "example": "JSL"
          },
          "AccountStatus": {
            "minLength": 1,
            "type": "string",
            "description": "The current status of the shipping account, which could denote whether it is enabled, disabled, or confirmed, helping users understand the account's usability.",
            "example": "Enabled"
          },
          "ContactName": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The name of the primary contact person for the shipping account, facilitating communication regarding shipping and account-related matters.",
            "example": "John Smith"
          },
          "ContactNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The phone number associated with the shipping account's primary contact person, facilitating communication regarding shipping inquiries, account management, and issue resolution.",
            "format": "tel",
            "example": "0123456789"
          },
          "LastUpdatedBy": {
            "minLength": 1,
            "type": "string",
            "description": "The identifier (such as a username or system account) of the individual or system that last modified the shipping account information, ensuring accountability.",
            "example": "User A"
          },
          "LastUpdatedDateUtc": {
            "type": "string",
            "description": "A timestamp indicating the last time the shipping account details were updated, formatted in Coordinated Universal Time (UTC).",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "DPD UK Shipping Account"
      },
      "DpdUkShippingAccountShippingAccountsPagedResponse": {
        "required": [
          "ShippingAccounts",
          "TotalCount"
        ],
        "type": "object",
        "properties": {
          "ShippingAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DpdUkShippingAccount"
            },
            "description": "An array containing the shipping accounts associated with the shipping location that match the query parameters specified in the request."
          },
          "TotalCount": {
            "type": "integer",
            "description": "An integer representing the total number of shipping accounts associated with the specified shipping location, giving users a quick overview of how many accounts are linked to their operations.",
            "format": "int32",
            "example": 303
          }
        },
        "additionalProperties": false,
        "description": "The paged response containing the entities for the requested page only, and the total number available."
      },
      "DpdUkUpdateShippingAccountRequest": {
        "required": [
          "AccountAlias",
          "AccountName",
          "AccountNumber",
          "AccountType",
          "AuthorisationCode",
          "ContactName",
          "ContactNumber",
          "Slid"
        ],
        "type": "object",
        "properties": {
          "AccountNumber": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Carrier Account Number\r<br />The account number given by the carrier.",
            "example": "123456789"
          },
          "AccountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "AuthorisationCode": {
            "minLength": 1,
            "pattern": "^\\d{8}$",
            "type": "string",
            "description": "Authorisation Code.\r<br />A unique 8-digit identifier used as an authentication code for DPD UK.\r<br />This code validates or links the manifest to the correct shipper or contract.\r<br />            \r<br /><i><b>Note:</b> This identifier is included in the manifest file names.</i>",
            "example": "12345678"
          },
          "AccountName": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "The official name of the shipping account as designated by the user or organization, aiding in easy identification and reference of accounts.\r<br />\r<br />***Note:** By default, this value is set to the customer name if not provided in the request.*",
            "example": "AB VideoGames"
          },
          "Slid": {
            "minLength": 1,
            "pattern": "^\\d{4}$",
            "type": "string",
            "description": "A customer identifier used in the barcode range and manifest files.",
            "example": "1234"
          },
          "AccountAlias": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "A unique, user-defined name for the shipping account, providing a convenient way to reference the account in a more memorable manner.",
            "example": "RM-99112347707"
          },
          "ContactName": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The name of the primary contact person for the shipping account, facilitating communication regarding shipping and account-related matters.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact name, if provided.*",
            "example": "John Smith"
          },
          "ContactNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The phone number associated with the shipping account's primary contact person, facilitating communication regarding shipping inquiries, account management, and issue resolution.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact phone number, if provided. Characters like +, /, -, or space are supported.*",
            "format": "tel",
            "example": "0123456789"
          }
        },
        "additionalProperties": false,
        "description": "DPD UK Update Shipping Account Request"
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "nullable": true
          },
          "Cause": {
            "type": "string",
            "nullable": true
          },
          "ErrorCode": {
            "type": "string",
            "description": "<br /><br />**E1000** - System error<br />**E1001** - Required field<br />**E1002** - Invalid field<br />**E1003** - Invalid action<br />**E1004** - Item not found<br />",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "required": [
          "Errors",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Message": {
            "minLength": 1,
            "type": "string"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          }
        },
        "additionalProperties": false
      },
      "Hazmat": {
        "required": [
          "Class"
        ],
        "type": "object",
        "properties": {
          "UNCode": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "The United Nations (UN) code assigned to the hazardous material, which denotes its classification for transport. This code is critical for safety and compliance during shipping.\r<br />***Note:** This field must be populated only for domestic shipments using class 9 dangerous goods. If provided, then **Quantity** and **UnitOfMeasure** must also be specified.*",
            "nullable": true,
            "example": "1002"
          },
          "ProperShippingName": {
            "maxLength": 100,
            "type": "string",
            "description": "Proper Shipping Name of the hazardous item being shipped.",
            "nullable": true,
            "example": "Compressed Air"
          },
          "Class": {
            "maxLength": 3,
            "minLength": 1,
            "type": "string",
            "description": "Mandatory if Hazmat information is provided. Used to provide the class number of the hazardous item being shipped.",
            "example": "9"
          },
          "Id8000Category": {
            "type": "string",
            "description": "If the hazardous goods class is 9, an applicable ID8000 category is required. \r<br />If ID8000 category is provided with any hazardous goods class other than class 9, it will be ignored.\r<br />Available values are:\r<br />- Medicines\r<br />- Perfume/Aftershave\r<br />- Nail Varnish\r<br />- Toiletry or Medicinal Aerosols\r<br />\r<br />If a customer sends a Create Shipment request with the ID8000Category field populated and the Class field is populated with any value other than class 9,\r<br />the ID8000Category will be ignored and the data will not be saved on the shipment record.\r<br />If a customer sends a Create Shipment request with the ID8000Category field populated and the Class field is populated with 9,\r<br />the system will behave as it does currently (create the Product and save the ID8000 data to the product record)",
            "nullable": true,
            "example": "Nail Varnish"
          },
          "Quantity": {
            "maximum": 5,
            "type": "number",
            "description": "The quantity of the hazardous material in the specified UnitOfMeasure. This information is vital for compliance with shipping regulations pertaining to hazardous materials.\r<br />***Note:** This field is only required if **UnitOfMeasure** and **UNCode** is specified.*",
            "format": "double",
            "nullable": true,
            "example": 3.5
          },
          "UnitOfMeasure": {
            "$ref": "#/components/schemas/HazmatUnitOfMeasure"
          },
          "EmergencyActionCode": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "Emergency Action Code of the hazardous item.",
            "nullable": true,
            "example": "E012"
          },
          "HazchemNumber": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "The Hazchem Number of the item.",
            "nullable": true
          },
          "SpecialistAdviceContactNumber": {
            "maxLength": 20,
            "type": "string",
            "description": "The specialist advice phone number to contact if there are any issues with the hazardous item.\r<br />If not provided, when a hazardous stored product is used in create shipment request, the phone number will be set from the customer shipping account record.",
            "nullable": true
          },
          "PrintId8000Label": {
            "type": "boolean",
            "description": "A boolean field that provides customers with the choice to generate the ID8000 label along with the shipping label. When set to true, the system returns the ID8000 labels for class 9 hazardous products contained within the shipment. By default, this field is set to false.\r<br />\r<br />***Note:** Before populating this field, keep in mind the following: \r<br /><ul><li>This field is ignored if the **Action** field is populated with values other than **Process**.</li><li>The ID8000 label is returned in the PDF format only.*</li></ul>",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Hazmat Information"
      },
      "HazmatUnitOfMeasure": {
        "enum": [
          "NONE",
          "L",
          "KG"
        ],
        "type": "string",
        "description": "The unit of measurement for the quantity of hazardous material, for example, litres (for liquids) or kilograms (for solids). This provides clarity regarding the amount of hazardous goods present.\r<br />***Note:** This field is only required if **Quantity** and **UNCode** is specified.*"
      },
      "Item": {
        "required": [
          "Quantity"
        ],
        "type": "object",
        "properties": {
          "SkuCode": {
            "maxLength": 30,
            "type": "string",
            "description": "A unique Stock Keeping Unit (SKU) code assigned to the item. This code is used for tracking inventory, helping users identify specific items easily.",
            "nullable": true,
            "example": "C604-25-035"
          },
          "PackageOccurrence": {
            "maximum": 99,
            "minimum": 1,
            "type": "integer",
            "description": "A unique identifier for each package within the shipment that is used to assign items to a specific package. \r<br />\r<br />***Note:** The package occurence provided here must exist on one of the packages in the **Packages** object. If multiple packages exist and a consignment service is not used, this field is mandatory to ensure each package occurrence is distinct.*",
            "format": "int32",
            "nullable": true,
            "example": 1
          },
          "Quantity": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "description": "The quantity of this item in the package being shipped.",
            "format": "int32",
            "example": 1
          },
          "Description": {
            "maxLength": 255,
            "type": "string",
            "description": "A brief summary providing details about the specifc item being shipped, outlining its type, features, uses, and any pertinent information that helps users understand the item, such as 'skirt' instead of 'ladies clothing.'\r<br />\r<br />***Note:** This information is mandatory for dutiable shipments unless a SKU Code of a stored product is provided.If a SKU Code of a stored product is present and this field is left blank, it will be automatically populated from the stored product; if both are provided, the input in this field takes precedence.*",
            "nullable": true,
            "example": "White Tee-shirt"
          },
          "Value": {
            "maximum": 9999999.99,
            "minimum": 0,
            "type": "number",
            "description": "The monetary value of a single instance of the item, in the currency specified in the **CurrencyCode** field.\r<br />\r<br />***Note:** This information is mandatory for dutiable shipments unless a SKU Code of a stored product is provided.If a SKU Code of a stored product is present and this field is left blank, it will be automatically populated from the stored product; if both are provided, the input in this field takes precedence.*",
            "format": "double",
            "nullable": true,
            "example": 98.99
          },
          "Weight": {
            "maximum": 1000000,
            "minimum": 0,
            "type": "number",
            "description": "The weight of a single instance of the item, in the unit of measure specified in the **WeightUnitOfMeasure** field. This is required for dutiable shipments unless a SKU Code from the stored product is used. If the SKU Code is available and the weight is left blank, it will be populated from the stored product; otherwise, the provided weight will be used.\r<br />\r<br />***Note:** The maximum allowed weight is 1000 KG.For non-dutiable shipments, a weight of 0 is accepted.For dutiable shipments, an item weight of 1 gram or greater must be provided.*",
            "format": "double",
            "nullable": true,
            "example": 145
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "This field provides the URL of the product image with the shipment details. This helps customers visually identify the product when selecting items for return in the Returns system.",
            "format": "uri",
            "nullable": true,
            "example": "https://yourcompany.com/images/product.jpg"
          },
          "HSCode": {
            "type": "string",
[...]
