{"openapi":"3.0.1","info":{"title":"SAPIENT ROYAL MAIL API","description":"# Introduction\nHere you will find requirements for integrating with INTERSOFT SAPIENT API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe INTERSOFT SAPIENT API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n","version":"v4.0-RM","x-logo":{"url":"/Content/images/redoc-logo.png","altText":"ReDoc"}},"x-readme":{"explorer-enabled":false},"servers":[{"url":"https://api.intersoftsapient.net/","description":"Sapient Server"}],"paths":{"/v4/shippingAccounts/rm":{"get":{"tags":["Shipping Accounts"],"summary":"Get Accounts","description":"Provides a list of Royal Mail shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingAccountsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of shipping accounts for the given carrier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailShippingAccountShippingAccountsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"post":{"tags":["Shipping Accounts"],"summary":"Add Account","description":"Add a shipping account for Royal Mail and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like Royal Mail account number, Posting Location, OBA access codes and receiving hub, so that you can use the account for shipping with Royal Mail.","requestBody":{"description":"Add Shipping Account Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailAddShippingAccountRequest"},"examples":{"Add account to existing location":{"value":{"AccountNumber":"9912347707","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"RM-99112347707","ContactName":"John Smith","ContactNumber":"0123456789","AccountRegisteredEmail":"my.email@example.com","RegisteredBillingPostcode":"TW20 0HJ","ShippingLocations":[{"PostingLocationCode":"2345654321","ObaAccessCode":"123456","ReceivingHubCode":"002610","ShippingLocationId":"b26e91f2-bbe4-48f1-bd05-e25b381c4031"}]}},"Add account at new location":{"value":{"AccountNumber":"9912347707","AccountType":"Sandbox","AccountName":"AB VideoGames","AccountAlias":"RM-99112347707","ContactName":"John Smith","ContactNumber":"0123456789","AccountRegisteredEmail":"my.email@example.com","RegisteredBillingPostcode":"TW20 0HJ","ShippingLocations":[{"PostingLocationCode":"2345654321","ObaAccessCode":"123456","ReceivingHubCode":"002610","ShippingLocation":{"LocationAlias":"Main Warehouse","Timezone":"Europe/London","IsDefaultLocation":false,"Address":{"ContactPhone":"07123887422","Line1":"Brown Cottage","Line2":"10 Sky Lane","Line3":"Hills End","Town":"Christchurch","Postcode":"TW20 0HJ","County":"Surrey","CountryCode":"GB"}}}]}}}}}},"responses":{"200":{"description":"The shipping account was added successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddShippingAccountResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The account alias is required.","Cause":"AccountAlias","ErrorCode":"E1001"},{"Message":"Customer is Restricted to Sandbox.","Cause":"AccountType","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/rm/{shippingAccountId}":{"get":{"tags":["Shipping Accounts"],"summary":"Get Account","description":"Provides details for a Royal Mail account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the shipping account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailShippingAccount"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Shipping Accounts"],"summary":"Update Account","description":"Update shipping account details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Shipping Account Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailUpdateShippingAccountRequest"}}}},"responses":{"200":{"description":"The shipping account was updated successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The account alias is required.","Cause":"AccountAlias","ErrorCode":"E1001"},{"Message":"Customer is Restricted to Sandbox.","Cause":"AccountType","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/rm/{shippingAccountId}/linkLocations":{"post":{"tags":["Shipping Accounts"],"summary":"Link Locations","description":"Link one or more shipping locations with a Royal Mail shipping account.\r<br />Ensure to have required carrier details ready: Royal Mail Posting Location number, OBA access codes and receiving hub, so that you can link it successfully.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Shipping Locations\r\nThe locations to associate with this shipping account.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoyalMailLinkShippingAccountLocation"}}}}},"responses":{"200":{"description":"The shipping location(s) have been linked to the account successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The shipping location was not found","Cause":"[2].ShippingLocationId","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations":{"get":{"tags":["Shipping Accounts"],"summary":"Get Associated Locations","description":"Provides a list of all shipping locations associated with a Royal Mail shipping account.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}},{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingLocationsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of associated shipping locations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationsForAccountPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingAccounts/rm/{shippingAccountId}/shippingLocations/{shippingLocationId}":{"get":{"tags":["Shipping Accounts"],"summary":"Get Associated Location","description":"Provides information for a specific shipping location linked to a Royal Mail shipping account including location alias, Royal Mail specific details, timezone, address, when it was last updated, and by who.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}},{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the associated shipping location","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailViewShippingAccountLocationShippingLocationForAccount"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Shipping Accounts"],"summary":"Update Associated Location","description":"Update a shipping location associated with a specific Royal Mail shipping account with carrier specific details like Posting Location, OBA access code and receiving hub.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.","parameters":[{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}},{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Location Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailUpdateShippingAccountLocation"}}}},"responses":{"200":{"description":"Updates the shipping location"},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The posting location code is required.","Cause":"PostingLocationCode","ErrorCode":"E1001"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/rm":{"post":{"tags":["Shipments"],"summary":"Create Shipment","description":"Create a Royal Mail shipment. This will return an image of the shipping label in PDF, PNG or ZPL format.","requestBody":{"description":"Shipment Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailShipmentRequestCarrierSpecificsRoyalMailPackageRoyalMailLabelFormatCreateShipmentRequest"},"examples":{"Domestic - Basic Fields":{"value":{"ShipmentInformation":{"ContentType":"NDX","ServiceCode":"CRL1","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-02-24","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM"},"Shipper":{"ShippingAccountId":"ba2c9e80-f72f-4ca6-9502-e582f5070e9a","Reference1":"OrderRef56"},"Destination":{"Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"PackageType":"Parcel","DeclaredWeight":1.5}]}},"Domestic - All Fields":{"value":{"CarrierSpecifics":{"ServiceLevel":"01","EbayVtn":"ebay1234abc","ServiceEnhancements":[{"Code":"Signed"}]},"ShipmentInformation":{"Action":"Process","LabelFormat":"PDF","ContentType":"NDX","ServiceCode":"CRL1","DescriptionOfGoods":"Clothes","ShipmentDate":"2025-02-24","CurrencyCode":"GBP","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM","ContainerId":"South East"},"Shipper":{"ShippingAccountId":"fd2b3607-4a2f-46da-a35b-f91cfa45bca2","ShippingLocationId":"a422a370-8d33-42b0-8bd9-d6877606b8e3","Reference1":"OrderRef56","DepartmentNumber":"0123456789","EoriNumber":"GB213456789000","VatNumber":"GB213456789","Address":{"ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","ContactPhone":"607723456789","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}},"Destination":{"EoriNumber":"GB123456789000","VatNumber":"GB123456789","Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"PackageType":"Parcel","PackageOccurrence":1,"DeclaredWeight":1.5,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"Items":[{"SkuCode":"SKU123","PackageOccurrence":1,"Quantity":1,"Description":"White Mens Large T-shirt","Value":19.99,"Weight":0.5,"HSCode":"6109100010","CountryOfOrigin":"CN"},{"SkuCode":"SKU456","PackageOccurrence":1,"Quantity":2,"Description":"Black Mens Large Jumper","Value":32.99,"Weight":0.3,"HSCode":"6110113000","CountryOfOrigin":"CN"}],"ReturnToSender":{"Address":{"ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","ContactPhone":"07723456789","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}}}},"International - Basic Fields":{"value":{"ShipmentInformation":{"ContentType":"NDX","ServiceCode":"OLA","DescriptionOfGoods":"Clothing","ShipmentDate":"2025-02-24","CurrencyCode":"GBP","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"MM"},"Shipper":{"ShippingAccountId":"b2d149a5-8ad3-463a-b135-b0c990904e1d","Reference1":"OrderRef56"},"Destination":{"Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Sydney","Postcode":"2000","County":"NSW","CountryCode":"AU"}},"Packages":[{"PackageType":"Parcel","PackageOccurrence":1,"DeclaredWeight":1.5,"DeclaredValue":98.99}],"Items":[{"SkuCode":"SKU123","Quantity":1,"Description":"White Mens Large T-shirt","Value":19.99,"Weight":0.5,"HSCode":"6109100010","CountryOfOrigin":"IT"},{"SkuCode":"SKU456","Quantity":2,"Description":"Black Mens Large Jumper","Value":32.99,"Weight":0.3,"HSCode":"6110113000","CountryOfOrigin":"FR"}],"Customs":{"ReasonForExport":"Sale of Goods","Incoterms":"DDU"}}},"International - All Fields":{"value":{"CarrierSpecifics":{"ServiceLevel":"02","EbayVtn":"ebay1234abc","ServiceEnhancements":[{"Code":"CustomsEmail"},{"Code":"CustomsPhone"}]},"ShipmentInformation":{"Action":"Process","LabelFormat":"PDF","ContentType":"NDX","ServiceCode":"OLA","DescriptionOfGoods":"Clothing","ShipmentDate":"2025-02-24","CurrencyCode":"GBP","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"MM","ContainerId":"South East"},"Shipper":{"ShippingAccountId":"097395a8-8476-4570-aef9-91b4ec67d51b","ShippingLocationId":"374acda3-cbfa-419c-9445-2711e04ea2da","Reference1":"OrderRef56","DepartmentNumber":"0123456789","EoriNumber":"GB213456789000","VatNumber":"GB213456789","Address":{"ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","ContactPhone":"607723456789","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}},"Destination":{"EoriNumber":"GB123456789000","VatNumber":"GB123456789","Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Sydney","Postcode":"2000","County":"NSW","CountryCode":"AU"}},"Packages":[{"PackageType":"Parcel","PackageOccurrence":1,"DeclaredWeight":1.5,"DeclaredValue":98.99,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"Items":[{"SkuCode":"SKU123","PackageOccurrence":1,"Quantity":1,"Description":"White Mens Large T-shirt","Value":19.99,"Weight":0.5,"HSCode":"6109100010","CountryOfOrigin":"CN"},{"SkuCode":"SKU456","PackageOccurrence":1,"Quantity":2,"Description":"Black Mens Large Jumper","Value":32.99,"Weight":0.3,"HSCode":"6110113000","CountryOfOrigin":"CN"}],"Customs":{"ReasonForExport":"Sale Of Goods","Incoterms":"DDU","PreRegistrationNumber":"0123456789","PreRegistrationType":"GST","ShippingCharges":55.82,"OtherCharges":32,"QuotedLandedCost":82.74,"InvoiceNumber":"INV-12345","InvoiceDate":"2025-02-24","ExportLicenceRequired":false,"Airn":"231.002.999-00"},"ReturnToSender":{"Address":{"ContactName":"Jane Smith","CompanyName":"Company & Co.","ContactEmail":"email@server.com","ContactPhone":"07723456789","Line1":"Level 5","Line2":"Hashmoore House","Line3":"10 Sky Lane","Town":"Leatherhead","Postcode":"AA34 3AB","County":"Surrey","CountryCode":"GB"}}}},"Offline Barcode":{"value":{"CarrierSpecifics":{"ServiceEnhancements":[],"OfflineBarcodes":[{"PackageOccurrence":1,"TrackingNumber":"TK000505009GB","UniqueId":"4C006978600000074B117"},{"PackageOccurrence":2,"TrackingNumber":"TK000568026GB","UniqueId":"4C006978600000074B125"}]},"ShipmentInformation":{"Action":"Process","ContentType":"NDX","ServiceCode":"CRL1","DescriptionOfGoods":"Clothes","CurrencyCode":"GBP"},"Shipper":{"ShippingAccountId":"52beef3b-d8e5-4575-b167-69f5e76a4d50","Reference1":"OrderRef56"},"Destination":{"Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"PackageType":"Parcel","PackageOccurrence":1,"DeclaredWeight":1.5,"DeclaredValue":98.99,"Dimensions":{"Length":40,"Width":30,"Height":20}},{"PackageType":"Parcel","PackageOccurrence":2,"DeclaredWeight":1.5,"DeclaredValue":98.99,"Dimensions":{"Length":40,"Width":30,"Height":20}}]}},"Pre-Allocated Tracking Number":{"value":{"CarrierSpecifics":{"ServiceEnhancements":[{"Code":"Signed"}],"PreAllocatedTrackingNumber":"TT123456789GB"},"ShipmentInformation":{"Action":"Process","ContentType":"NDX","ServiceCode":"CRL1","DescriptionOfGoods":"Clothes"},"Shipper":{"ShippingAccountId":"35","Reference1":"OrderRef56"},"Destination":{"Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"PackageType":"Parcel","PackageOccurrence":1,"DeclaredWeight":1.5,"DeclaredValue":98.99,"Dimensions":{"Length":40,"Width":30,"Height":20}}]}},"Hazmat Items":{"value":{"ShipmentInformation":{"ContentType":"NDX","ServiceCode":"TPS","DescriptionOfGoods":"Aftershave","ShipmentDate":"2025-02-24","WeightUnitOfMeasure":"KG","DimensionsUnitOfMeasure":"CM"},"Shipper":{"ShippingAccountId":"3796c5af-42e3-4951-8ba0-cf2347cefa5e","Reference1":"OrderRef56"},"Destination":{"Address":{"ContactName":"John Smith","ContactEmail":"john.smith@example.com","ContactPhone":"07123456789","Line1":"10 Sky Road","Town":"Woking","Postcode":"GU21 4TE","CountryCode":"GB"}},"Packages":[{"PackageType":"Parcel","DeclaredWeight":1.5}],"Items":[{"Quantity":1,"Description":"Aftershave","Value":1000,"Weight":0.2,"HSCode":"3307100000","CountryOfOrigin":"IT","Hazmat":{"UNCode":"1266","ProperShippingName":"Aftershave","Class":"9","Id8000Category":"Perfume/Aftershave","Quantity":1.5,"UnitOfMeasure":"L"}}]}},"Using Address Book":{"value":{"CarrierSpecifics":{"ServiceEnhancements":[{"Code":"Signed"}],"PreAllocatedTrackingNumber":"TT123456789GB"},"ShipmentInformation":{"Action":"Process","ContentType":"NDX","ServiceCode":"CRL1","DescriptionOfGoods":"Clothes"},"Shipper":{"ShippingAccountId":"35","Reference1":"OrderRef56","Address":{"AddressId":"John Brown Default"}},"Destination":{"Address":{"AddressId":"John Brown Default"}},"Packages":[{"PackageType":"Parcel","PackageOccurrence":1,"DeclaredWeight":1.5,"DeclaredValue":98.99,"Dimensions":{"Length":40,"Width":30,"Height":20}}],"ReturnToSender":{"Address":{"AddressId":"John Brown Default"}}}}}}}},"responses":{"200":{"description":"The shipment was created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPackageResponseCreateShipmentResponse"},"examples":{"Create":{"value":{"Packages":[{"ShipmentId":"4c3c7217-1b8d-4f9f-8fad-a9a201b311de","PackageOccurrence":1}]}},"Allocate":{"value":{"Packages":[{"CarrierDetails":{"UniqueId":"3A07033860010000B2268"},"ShipmentId":"47d99fbc-158a-4039-b814-5d708223c402","PackageOccurrence":1,"TrackingNumber":"TT123456785GB","CarrierTrackingUrl":"https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"}]}},"Process - PDF":{"value":{"Labels":"jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4","LabelFormat":"PDF","Packages":[{"CarrierDetails":{"UniqueId":"3A07033860010000B2268"},"ShipmentId":"d44eba30-4f7f-4965-830a-26e2d26425c7","PackageOccurrence":1,"TrackingNumber":"TT123456785GB","CarrierTrackingUrl":"https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"}]}},"Process - DATASTREAM":{"value":{"LabelFormat":"DATASTREAM","Packages":[{"CarrierDetails":{"UniqueId":"3A07033860010000B2268","DataStreamDetails":{"Primary2DBarcodeImage":"iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA","Primary2DBarcodeData":"u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA","FormattedUniqueId":"3A-070 338 6001-000 0B2 000","GazetteerCodes":{"Part1":"L55","Part2":"G43"},"Primary1DBarcodeImage":"iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA","Primary1DBarcodeData":"TT123456785GB"}},"ShipmentId":"58466cad-0ef3-47a8-889a-646a804fa3aa","PackageOccurrence":1,"TrackingNumber":"TT123456785GB","CarrierTrackingUrl":"https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB"}]}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The name maximum length is 50 characters.","Cause":"Destination.Address.ContactName","ErrorCode":"E1002"},{"Message":"The service code is required.","Cause":"ShipmentInformation.ServiceCode","ErrorCode":"E1001"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/printLabel/rm/{shipmentId}":{"get":{"tags":["Shipments"],"summary":"Print Label","description":"This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.","parameters":[{"name":"shipmentId","in":"path","description":"Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"maxLength":36,"minLength":0,"type":"string"}},{"name":"labelFormat","in":"query","description":"Label Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**DATASTREAM** - Label components broken down into a data-stream, for you to draw your own label\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />**PDF4X3** - Base 64 encoded PDF 4x3 format PDF\r<br />**PNG4X3** - Base 64 encoded PDF 4x3 format PNG\r<br />            \r<br />*DATASTREAM is only available if it has been activated on your account.*\r<br />            \r<br />Defaults To PDF","schema":{"$ref":"#/components/schemas/RoyalMailLabelFormat"}}],"responses":{"200":{"description":"Returns the printed label in the format specified.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPrintLabelResponse"},"examples":{"PDF":{"value":{"ShipmentId":"00000000-0000-0000-0000-000000000000","TrackingNumber":"TT123456785GB","CarrierTrackingUrl":"https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB","Label":"jVBERw0KGgoAAAANSUhEUgAA.....A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4","LabelFormat":"PDF","CarrierDetails":{"UniqueId":"3A07033860010000B2268"}}},"DATASTREAM":{"value":{"ShipmentId":"00000000-0000-0000-0000-000000000000","TrackingNumber":"TT123456785GB","CarrierTrackingUrl":"https://www.royalmail.com/track-your-item#/tracking-results/TT123456785GB","LabelFormat":"DATASTREAM","CarrierDetails":{"UniqueId":"3A07033860010000B2268","DataStreamDetails":{"Primary2DBarcodeImage":"iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA","Primary2DBarcodeData":"u1PKCw0KGgoAAAANSUhE.....GgAAABoAQMAAAAn0ifiAAAA","FormattedUniqueId":"3A-070 338 6001-000 0B2 000","GazetteerCodes":{"Part1":"L55","Part2":"G43"},"Primary1DBarcodeImage":"iVBORw0KGgoAAAANSUhE....GgAAABoAQMAAAAn0ifiAAAA","Primary1DBarcodeData":"TT123456785GB"}}}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The shipment has already been manifested and cannot be reprinted.","Cause":"ShipmentStatus","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipment was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/printMyLabelQRCode/rm/{shipmentId}":{"get":{"tags":["Shipments"],"summary":"Print My Label QR Code","description":"Request associated QR Code for the associated label in the print label call.\r<br />This is only available for Royal Mail Tracked Return Services.","parameters":[{"name":"shipmentId","in":"path","description":"Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"maxLength":36,"minLength":0,"type":"string"}}],"responses":{"200":{"description":"Returns the printed QR Code as a Base 64 encoded PNG.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QRCodeResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The service code for this shipment does not support QR Code generation","Cause":"ShipmentId","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipment was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/collections/rm/{shipmentId}":{"post":{"tags":["Collections"],"summary":"Book Collection","description":"Books a Royal Mail collection request for an existing shipment. The service used to create the shipment must allow for the shipment to be collected. If no timeslot is sent in the request, then the first available collection date will be automatically selected.","parameters":[{"name":"shipmentId","in":"path","description":"The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Create Collection Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollectionRequest"},"examples":{"Create Collection With Timeslot ID":{"value":{"SlotReservationId":"4d1c72c3-5ce4-475c-8b9a-85f24c77b6ae","SlotDate":"2025-02-24","BringMyLabel":false}},"Create Collection Without Timeslot ID":{"value":{"BringMyLabel":false}}}}}},"responses":{"200":{"description":"Returns the collection date and its unique identifier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollectionResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/collections/rm/{shipmentId}/cancel":{"put":{"tags":["Collections"],"summary":"Cancel Collection","description":"Cancels a Royal Mail collection request for an existing shipment.","parameters":[{"name":"shipmentId","in":"path","description":"The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The collection has been cancelled successfully."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/collections/rm/timeslots/{shipmentId}":{"get":{"tags":["Collections"],"summary":"Get Collections Timeslots","description":"Returns all available collection dates based on a shipment tracking number or uniqueId. The shipment must have been created using Royal Mail.","parameters":[{"name":"shipmentId","in":"path","description":"The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a list of available dates for collection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCollectionsTimeslotsResponse"},"example":{"ShipmentId":"072d80e4-8f9f-42e4-9c03-6b81a3597ce6","SlotReservationId":"07b6a133-bd13-4444-89aa-19c53eaf5452","SlotReservationExpiryTime":"2025-02-24T17:00:58.376Z","Slots":[{"SlotDate":"2025-02-25","EstimatedWindow":"14:30-16:30"},{"SlotDate":"2025-02-26","EstimatedWindow":"14:30-16:30"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/internationalArrivalsContainers/rm":{"post":{"tags":["International Arrivals Containers"],"summary":"Add Container","description":"Create and name (with and ID or alias) a new international arrivals container to be used for manifesting a specific group of shipments. Define which carrier and shipping location the container should be linked to.","requestBody":{"description":"Add Container Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddInternationalArrivalsContainerRequest"}}}},"responses":{"200":{"description":"The container has been successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddInternationalArrivalsContainerResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"An open container with the containerId already exists for this location.","Cause":"ContainerId","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"get":{"tags":["International Arrivals Containers"],"summary":"Get Containers","description":"Provides a list of all international arrivals containers set up on the system.\r<br />Information about the shipping location, total weight, number of shipments and packages in the containers will be returned.","parameters":[{"name":"shippingLocationId","in":"query","description":"Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping location","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: CreatedDateUtc","schema":{"$ref":"#/components/schemas/ContainersSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}},{"name":"containerStatus","in":"query","description":"The status of the container\r<br />Default: Active","schema":{"$ref":"#/components/schemas/ContainerStatusForFiltering"}}],"responses":{"200":{"description":"Returns a list of containers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternationalArrivalsContainersPagedResponse"},"example":{"Containers":[{"ContainerId":"South East","ContainerBarcode":"TT12345678GB","CreatedDateUtc":"2025-02-24T16:45:58.783Z","ShippingLocationAlias":"Northern Warehouse","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ContainerStatus":"Manifested","DestinationCountryCode":"GB","ExportDate":"2025-02-24","Mawb":"125-12345678","RmService":"P","RmProduct":"T","RmContentFormat":"P","RmOeCode":"GBR","ContainerLabel":"Base64EncodedString…","TotalWeight":12,"WeightUnitOfMeasure":"KG","TotalShipments":2,"TotalPackages":1},{"ContainerId":"South West","ContainerBarcode":"TT12345679GB","CreatedDateUtc":"2025-02-23T16:45:58.783Z","ShippingLocationAlias":"Northern Warehouse","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ContainerStatus":"Active","DestinationCountryCode":"GB","ExportDate":"2025-02-24","Mawb":"125-12345678","RmService":"S","RmProduct":"O","RmContentFormat":"G","RmOeCode":"GBR","ContainerLabel":"Base64EncodedString…","TotalWeight":14,"WeightUnitOfMeasure":"KG","TotalShipments":3,"TotalPackages":1}],"TotalCount":2}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/internationalArrivalsContainers/rm/update/{containerId}":{"put":{"tags":["International Arrivals Containers"],"summary":"Update Container","description":"Allows the details of the International Arrivals container to be updated.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update International Arrivals Container Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInternationalArrivalsContainerRequest"}}}},"responses":{"200":{"description":"The container has been successfully updated."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The carrier of the shipment must match the Container carrier.","Cause":"ShipmentIds[0]","ErrorCode":"E1002"},{"Message":"The Shipping Location of the shipment must match the Container Shipping Location.","Cause":"ShipmentIds[0]","ErrorCode":"E1002"},{"Message":"The shipment is not on hold or does not have label printed status.","Cause":"ShipmentIds[2]","ErrorCode":"E1003"},{"Message":"The shipment does not exist.","Cause":"ShipmentIds[10]","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/internationalArrivalsContainers/rm/{containerId}":{"put":{"tags":["International Arrivals Containers"],"summary":"Add/Remove Shipments","description":"Allocate shipments to a container or remove them from it before the container will be manifested.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update Container Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContainerRequest"},"example":{"ShipmentIds":["TT123456783GB","e3239e85-ddf8-4323-9064-b83c38eff927","072d80e4-8f9f-42e4-9c03-6b81a3597ce6","e9848731-e65c-4a9b-a86d-bbbbfbe7d93a","d8d6ca51-a0d1-4dc1-845d-f24ea2dc117d","TT382749386GB","3A00697860000000B6824"],"Mode":"Add"}}}},"responses":{"200":{"description":"The container has been successfully updated."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The carrier of the shipment must match the Container carrier.","Cause":"ShipmentIds[0]","ErrorCode":"E1002"},{"Message":"The Shipping Location of the shipment must match the Container Shipping Location.","Cause":"ShipmentIds[0]","ErrorCode":"E1002"},{"Message":"The shipment is not on hold or does not have label printed status.","Cause":"ShipmentIds[2]","ErrorCode":"E1003"},{"Message":"The shipment does not exist.","Cause":"ShipmentIds[10]","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"delete":{"tags":["International Arrivals Containers"],"summary":"Delete Container","description":"Delete a specific container.\r<br />Only containers with Active status can be deleted.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The container has been successfully deleted."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The container has already been manifested therefore this cannot be deleted. Only containers with Active status can be deleted.","Cause":"ContainerId","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"get":{"tags":["International Arrivals Containers"],"summary":"Get Container","description":"Provides details for a specific container.\r<br />Information about the shipping location, total weight, number of shipments and packages in the containers will be returned.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) or Barcode number for the container.","required":true,"schema":{"type":"string"}},{"name":"returnShipments","in":"query","description":"If set to True, the response will return a list of the shipments allocated to the container.\r<br />Defaults to False if not provided.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Returns a details of the container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInternationalArrivalsContainerResponse"},"examples":{"Without Shipments":{"value":{"ContainerId":"South East","ContainerBarcode":"TT12345678GB","CreatedDateUtc":"2025-02-24T16:45:59.168Z","ShippingLocationAlias":"Northern Warehouse","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ContainerStatus":"Active","DestinationCountryCode":"GB","ExportDate":"2025-02-24","Mawb":"125-12345678","RmService":"P","RmProduct":"T","RmContentFormat":"P","RmOeCode":"GBR","ContainerLabel":"Base64EncodedString…","TotalWeight":12,"WeightUnitOfMeasure":"KG","TotalShipments":2,"TotalPackages":1}},"With Shipments":{"value":{"ContainerId":"South East","ContainerBarcode":"TT12345678GB","CreatedDateUtc":"2025-02-24T16:45:59.168Z","ShippingLocationAlias":"Northern Warehouse","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ContainerStatus":"Active","DestinationCountryCode":"GB","ExportDate":"2025-02-24","Mawb":"125-12345678","RmService":"P","RmProduct":"T","RmContentFormat":"P","RmOeCode":"GBR","ContainerLabel":"Base64EncodedString…","TotalWeight":12,"WeightUnitOfMeasure":"KG","TotalShipments":2,"TotalPackages":1,"Shipments":[{"TrackingNumber":"TT000860906GB","BarcodeNumber":"4C0069786000000014AC0","Reference1":"OrderRef71","ManifestNumber":"COS0000016"}],"ManifestNumbers":["COS0000016"]}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/offlineBarcodeNumberRange/rm":{"post":{"tags":["Offline Barcoding"],"summary":"Get Barcode Range","description":"Get barcode ranges for offline barcoding.\r<br />Offline Barcoding is only available if it has been activated on your customer account in the GUI.","requestBody":{"description":"The request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoyalMailGetOfflineBarcodingRequest"}}}},"responses":{"200":{"description":"Returns the offline barcode ranges successfully.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoyalMailGetOfflineBarcodingResponse"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/preallocateTrackingNumber/rm":{"post":{"tags":["Shipments"],"summary":"Pre Allocate Tracking Number","description":"This service can be used to receive a Royal Mail Tracking Number that will be pre-allocated to the service and destination supplied in the request. No shipment or label will be produced from this service.\r<br />This service can only be used for services that are assigned a tracking number.\r<br />This service must be used in conjunction with CreateShipment service populating the TrackingNumber in the CarrierSpecifics /PreAllocatedBarcode section with the pre-allocated TrackingNumber returned in this service response.","requestBody":{"description":"The request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreAllocateTrackingNumberRequest"}}}},"responses":{"200":{"description":"Returns the pre allocated tracking number successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreAllocateTrackingNumberResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}}},"components":{"schemas":{"AccountType":{"enum":["Sandbox","Production"],"type":"string","description":"Account Type\r<br />Sandbox shipping accounts can only be used for testing your integration.\r<br />Production accounts can be used to ship."},"AddInternationalArrivalsContainerRequest":{"required":["DestinationCountryCode","RmContentFormat","ShippingLocationId"],"type":"object","properties":{"ShippingLocationId":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you) of the shipping location that this container is for.","example":"Central Warehouse"},"ContainerId":{"maxLength":50,"type":"string","description":"Container Id\r<br />The Container Name/Alias for this container\r<br />Defaults to a globally unique identifier.","nullable":true,"example":"South East 1234"},"DestinationCountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Destination Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard","example":"GB"},"ExportDate":{"type":"string","description":"Export Date\r<br />Automatically set when a container is finalised\r<br />Format YYYY-MM-DD","format":"date","nullable":true},"Mawb":{"type":"string","description":"MAWB\r<br />Master Airway Bill number. Must be provided in the following format: nnn-nnnnnnnn.\r<br />Must be provided prior to manifesting the container in order for the shipments in the container to be manifested successfully.","nullable":true,"example":"125-12345678"},"RmService":{"$ref":"#/components/schemas/RmService"},"RmProduct":{"$ref":"#/components/schemas/RmProduct"},"RmContentFormat":{"$ref":"#/components/schemas/RmContentFormat"},"RmOeCode":{"maxLength":3,"minLength":3,"type":"string","description":"RM OE Code\r<br />Royal Mail OE Code\r<br />Defaults to GBR","nullable":true,"example":"GBR"}},"additionalProperties":false,"description":"Add International Arrivals Container Request"},"AddInternationalArrivalsContainerResponse":{"required":["Barcode","ContainerId","Label"],"type":"object","properties":{"ContainerId":{"minLength":1,"type":"string","description":"Container Id\r<br />The Container Identifier","example":"South East 1234"},"Barcode":{"maxLength":12,"minLength":1,"type":"string","description":"Container Barcode","example":"TT12345678GB"},"Label":{"minLength":1,"type":"string","description":"Container Label","example":"Base64EncodedString…"}},"additionalProperties":false,"description":"Add International Arrivals Container Response"},"AddShippingAccountLocationNewLocation":{"required":["Address","LocationAlias","Timezone"],"type":"object","properties":{"LocationAlias":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Alias\r<br />Your identifier for this shipping location","example":"Main Warehouse"},"Timezone":{"maxLength":100,"minLength":1,"type":"string","description":"Time zone","example":"Europe/London"},"IsDefaultLocation":{"type":"boolean","description":"Is Default Location\r<br />If true, this location is the default location used.\r<br />You must have 1 default location.\r<br />Set to false if not provided, or true if is the first location to be added.\r<br />If true, this will set this location as the default location.","nullable":true,"example":false},"Address":{"$ref":"#/components/schemas/AddShippingLocationAddress"}},"additionalProperties":false,"description":"Shipping Location\r<br />\r<br />Add a new shipping location to this account.\r<br />Either a Shipping Location Id must be provided, or the details of a new shipping location provided."},"AddShippingAccountResponse":{"type":"object","properties":{"ShippingAccountId":{"type":"string","description":"Shipping Account Id\r<br />The SAPIENT Identifier assigned to this shipping account.","format":"uuid"},"ShippingLocationId":{"type":"string","description":"Shipping Location Id\r<br />The SAPIENT Identifier assigned to the new location (only populated if new location added).","format":"uuid","nullable":true}},"additionalProperties":false,"description":"Add Shipping Account Response"},"AddShippingLocationAddress":{"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />If supplied all address fields will be ignored and the stored address will be used.","nullable":true,"example":"John Brown Default"},"Line1":{"maxLength":40,"type":"string","description":"First Line Address<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":40,"type":"string","description":"Second Line Address, if applicable","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":40,"type":"string","description":"Third Line Address, if applicable","nullable":true,"example":"Hills End"},"Town":{"maxLength":40,"type":"string","description":"Town<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":10,"type":"string","description":"Postcode / Zip<br />Required for United Kingdom addresses and some international addresses.<br />The Countries API can be used to check whether postcode/zip code is required for a country.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":40,"type":"string","description":"County / State / Province<br />May be required depending on the country.<br />For USA, Australia and Canada, if provided, must be a valid state code or name.<br />The Countries API can be used to check whether county/state is required for a country.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"},"ContactPhone":{"maxLength":20,"type":"string","description":"Contact Phone Number\r<br />If provided, and the shipper address is not provided for a create shipment request, this will be used as the shipper's contact phone number for this location, instead of the shipping account's contact phone number.","format":"tel","nullable":true,"example":"07123887422"}},"additionalProperties":false,"description":"Add Shipping Location Address"},"BusinessTransactionType":{"enum":["B2C","B2B","D2C","C2B"],"type":"string","description":"The Commercial Transaction type of the shipment.\r<br />\r<br />Valid values are:\r<br />**B2C** - Business to Consumer\r<br />**B2B** - Business to Business\r<br />**D2C** - Direct to Consumer\r<br />**C2B** -  Consumer to Business (i.e. a Returns shipment)\r<br />Defaults to B2C if not populated."},"ContainerShipments":{"type":"object","properties":{"TrackingNumber":{"type":"string","description":"Tracking Number","nullable":true,"example":"TT000860906GB"},"BarcodeNumber":{"type":"string","description":"Barcode Number","nullable":true,"example":"4C0069786000000014AC0"},"Reference1":{"type":"string","description":"The shipper's reference for this shipment","nullable":true,"example":"OrderRef71"},"ManifestNumber":{"type":"string","description":"The manifest number","nullable":true}},"additionalProperties":false,"description":"Container Shipments"},"ContainerStatus":{"enum":["Active","Manifested"],"type":"string","description":"The status for the container"},"ContainerStatusForFiltering":{"enum":["Active","Manifested","All"],"type":"string","description":"Container Status"},"ContainersSortBy":{"enum":["CreatedDateUtc","ContainerId","CarrierCode","ShippingLocationAlias","TotalWeight","TotalShipments","TotalPackages"],"type":"string","description":"Sort By"},"ContentType":{"enum":["NDX","DOX","HV"],"type":"string","description":"Valid values are:\r<br />**NDX** - Non Documents\r<br />**DOX** - Documents\r<br />**HV** - Non Documents of High Value"},"CreateCollectionRequest":{"required":["BringMyLabel"],"type":"object","properties":{"SlotReservationId":{"type":"string","description":"The SlotReservationId returned in the Get Collection Timeslots response","nullable":true,"example":"99887654"},"SlotDate":{"type":"string","description":"The collection date selected from the available slots in the Get Collection Timeslots response","format":"date","nullable":true,"example":"2023-10-31"},"BringMyLabel":{"type":"boolean","description":"If true, Royal Mail will bring the Label and Custom Declaration if required.\r<br />Defaults to false","example":false}},"additionalProperties":false,"description":"Create Collection Request"},"CreateCollectionResponse":{"type":"object","properties":{"CollectionOrderId":{"type":"string","description":"The identifier for this collection","nullable":true,"example":"CC-W307-028741033"},"CollectionDate":{"type":"string","description":"The date the collection has been booked for","format":"date-time","example":"2023-07-04"}},"additionalProperties":false,"description":"Create Collection Response"},"CreateShipmentAction":{"enum":["Process","Create","Allocate"],"type":"string","description":"Determines the shipment status that is set on shipment creation and whether a shipment tracking number and labels are generated.    \r<br />Valid values are: \r<br />**Process** - creates a shipment tracking number, creates and prints a label for each package in the shipment and returns the label(s) in the createShipment Response. The shipment status will be set to Ready to Manifest.\r<br />**Create** - creates the shipment but does not allocate a tracking number, print the label(s) or return the label(s) in the createShipment Response. The label(s) must be printed before the shipment is ready to manifest.\r<br />**Allocate** - creates the tracking number and label(s) but does not print the label(s) or return label(s) in the createShipment response. The label(s) must be printed before the shipment is ready to manifest.\r<br />Defaults to Process if not populated."},"Customs":{"type":"object","properties":{"ReasonForExport":{"maxLength":250,"type":"string","description":"This field specifies the reason for which the international shipment is being sent. This information is essential for customs clearance and regulatory compliance, as it helps understand the nature of the shipment.<br>This field is mandatory for Royal Mail international shipments.</br>The following values are accepted:</br><ul><li>Gift</li><li>Commercial Sample</li><li>Documents</li><li>Sale of Goods</li><li>Return of Goods</li><li>Mixed Content</li><li>Other</li></ul>","nullable":true,"example":"Sale of Goods"},"Incoterms":{"$ref":"#/components/schemas/TermsOfTrade"},"PreRegistrationNumber":{"maxLength":50,"type":"string","description":"Some countries operate a Tax Pre-Registration scheme (e.g., VOEC in Norway, GST in Australia). If you are registered for a Tax Pre-Registration scheme for the destination country and are shipping under the scheme rules then provide the pre-registration number for the destination country.\r<br />A pre-registration number is only relevant if the shipment Incoterms are DDU (Delivery Duty Unpaid).\r<br />If not provided and the shipment incoterms are set to DDU, any pre-registration numbers set up for your account in the Customs Settings GUI will be used.\r<br />**NOTE**: VAT and EORI numbers should be provided in the  Shipper VatNumber and Shipper EoriNumber fields, not in the preRegistrationNumber fields.","nullable":true,"example":"0123456789"},"PreRegistrationType":{"maxLength":18,"type":"string","description":"The type of pre-registration number provided in the PreRegistrationNumber element.\r<br />Required if a pre-registration number has been provided.\r<br />Ignored if there is no pre-registration number.\r<br />**NOTE:** VAT and EORI numbers should be provided in the  Shipper VatNumber and Shipper EoriNumber fields, not in the preRegistrationNumber and PreRegistrationType fields","nullable":true,"example":"GST"},"ShippingCharges":{"maximum":99999.99,"minimum":0,"type":"number","description":"Shipping Charges for International Shipments.\r<br />The postage amount paid by the customer. The amount can be 0.00 if the customer has been offered free delivery.\r<br />Used for the calculation of customs fees.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.","format":"double","nullable":true,"example":55.82},"OtherCharges":{"maximum":99999.99,"minimum":0,"type":"number","description":"Insurance and Other Costs for International Shipments.\r<br />Used to declare any costs the customer has been charged in addition to the standard shipping cost, such as insurance.\r<br />This field can be left blank, or be 0.00 if no other charges have been levied.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.","format":"double","nullable":true,"example":32},"QuotedLandedCost":{"maximum":99999.99,"minimum":0,"type":"number","description":"The total cost quoted to the customer for delivering the shipment. This includes shipping charges, other charges and any customs taxes and duties charges that were quoted.\r<br />Required for some international destinations when the shipment incoterms are DDP.\r<br />Any value should be in the currency specified in the ShipmentInformation/Currency field.","format":"double","nullable":true,"example":82.74},"InvoiceNumber":{"maxLength":35,"type":"string","description":"Invoice Number for International Shipments.\r<br />When sending an item to an overseas address and a Commercial or Proforma invoice is available, the Invoice Number and Date should be provided where possible. This supports customs processing in certain circumstances.\r<br />Required if Invoice Date is provided.\r<br />If provided, this will be displayed on commercial invoices generated for the shipment.","nullable":true},"InvoiceDate":{"type":"string","description":"If not provided, defaults to today's date.\r<br />Ignored if no Invoice Number provided.\r<br />Accepted Format: YYYY-MM-DD","format":"date","nullable":true},"ExportLicenceRequired":{"type":"boolean","description":"Used to flag shipments requiring an export license.\r<br />An export license is neeed for a specific type of goods used predominantly for military purposes.\r<br />You can find out more about the type of items requiring an export licence on the UK Government website.\r<br />If an export licence is required, it should be affixed to the outside of the package.","nullable":true,"example":false},"Airn":{"maxLength":20,"type":"string","description":" The AIRN (Addressee Identification Reference Number) is the generic name given to a national identification number for the overseas recipient of an item.\r<br />The AIRN, when available, should be provided for items being exported to a destination where the customs/tax authority requests one. E.g. Russia and Brazil.","nullable":true,"example":"231.002.999-00"}},"additionalProperties":false,"description":"Customs Information\r<br />Required for some international shipments, depending on the customs requirements of the destination country.\r<br />A shipment is considered to be international if the shipper country and destination country are different."},"Destination":{"required":["Address"],"type":"object","properties":{"EoriNumber":{"maxLength":17,"type":"string","description":"Receiver's Economic Operators and Registration Identification (EORI) number, if applicable (i.e. if the receiver is a business). If a Receiver EORI number is used for the shipment, it must be provided here and not in the Customs element. \r<br />Receiver's EORI number starts with the ISO Alpha-2 Country Code followed by a maximum 15 alphanumeric characters. For Northern Ireland starts with XI\r<br />Mandatory for B2B shipments from GB to Northern Ireland.","nullable":true,"example":"GB 123 4567 89 000"},"VatNumber":{"maxLength":15,"type":"string","description":"Receiver's Value-Added Tax (VAT) number, if applicable (i.e. if the receiver is a business). If a Receiver VAT number is used for the shipment, it must be provided here and not in the Customs element.","nullable":true,"example":"GB 123 4567 89"},"Address":{"$ref":"#/components/schemas/ShipmentAddress"}},"additionalProperties":false,"description":"Used to provide details of the shipment destination, such as receiver address and contact details"},"DestinationDetails":{"required":["CountryCode"],"type":"object","properties":{"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.","example":"GB"},"Postcode":{"maxLength":20,"type":"string","description":"Postcode / Zip\r<br />Required for United Kingdom addresses and some international addresses.\r<br />The Countries API can be used to check whether postcode/zip code is required for a country. \r<br />Up to 20 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Royal Mail: 9 characters.","nullable":true,"example":"TW20 0HJ"}},"additionalProperties":false,"description":"Destination Details"},"Dimensions":{"required":["Height","Length","Width"],"type":"object","properties":{"Length":{"minimum":0.1,"type":"number","description":"The length of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum length accepted is dependent on the service and package type.","format":"double","example":35},"Width":{"minimum":0.1,"type":"number","description":"The width of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum width accepted is dependent on the service and package type.","format":"double","example":25},"Height":{"minimum":0.1,"type":"number","description":"The height of the shipment package in the unit of measure specified in the DimensionsUnitOfMeasure field (DimensionsUnitOfMeasure defaults to CM if not provided).\r<br />The maximum height accepted is dependent on the service and package type.","format":"double","example":20}},"additionalProperties":false,"description":"The package dimensions.\r<br />**The presence of the Dimensions element in the request is optional, but if it is provided, then all of the fields in the element (width, length and height) must be populated.** The maximum dimensions accepted are dependent on the service and the package type."},"DimensionsUnitOfMeasure":{"enum":["CM","MM"],"type":"string","description":"The unit of measurement used for the dimensions provided in the **MaxDimensions** object. These values are commonly defined in centimeters or millimeters.\r<br />**Note**: *By default, this field is set to CM.*"},"DocumentFormat":{"enum":["PDF","PNG","ZPL203DPI","ZPL300DPI"],"type":"string","description":"Document Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />**ZPL203DPI** Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** Base 64 encoded text for Zebra printer at 300 DPI\r<br />\r<br />Defaults To PDF"},"ErrorDetail":{"type":"object","properties":{"Message":{"type":"string","description":"Message\r<br />The error message, or issue.","nullable":true,"example":"The first line of the address is required."},"Cause":{"type":"string","description":"Cause\r<br />The cause of the error.","nullable":true,"example":"Destination.Line1"},"ErrorCode":{"type":"string","description":"Error Code\r<br />The error code for this error.<br /><br />**E1000** - System error<br />**E1001** - Required field<br />**E1002** - Invalid field<br />**E1003** - Invalid action<br />**E1004** - Item not found<br />","nullable":true,"example":"E1001"}},"additionalProperties":false,"description":"Details about an error"},"ErrorResponse":{"required":["Errors","Message"],"type":"object","properties":{"Message":{"minLength":1,"type":"string","description":" Message\r<br />General reason as to why there is an error. Further details may be contained in the list of errors.","example":"Invalid Request"},"Errors":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"},"description":"Errors\r<br />Details about why a request failed."}},"additionalProperties":false,"description":"An error response from a request."},"GetCollectionsTimeslotsResponse":{"type":"object","properties":{"ShipmentId":{"type":"string","description":"The Shipment Id may be an id or a tracking/barcode number.","nullable":true,"example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"SlotReservationId":{"type":"string","description":"Timeslot reservation ID","nullable":true,"example":"CC-W307-028741033"},"SlotReservationExpiryTime":{"type":"string","description":"Timeslot Reservation Expiry Time","format":"date-time","example":"2023-11-05T14:30:00Z"},"Slots":{"type":"array","items":{"$ref":"#/components/schemas/Slot"},"description":"List of available dates for collection","nullable":true}},"additionalProperties":false,"description":"GetCollectionsTimeslots Response"},"GetInternationalArrivalsContainerResponse":{"required":["DestinationCountryCode","RmContentFormat"],"type":"object","properties":{"ContainerId":{"maxLength":50,"type":"string","description":"Container Id\r<br />The Container Name/Alias for this container\r<br />Defaults to a globally unique identifier.","nullable":true,"example":"South East 1234"},"ContainerBarcode":{"type":"string","description":"Barcode Number","nullable":true,"example":"CA00000027GB"},"CreatedDateUtc":{"type":"string","description":"Created Date UTC","format":"date-time"},"ShippingLocationAlias":{"type":"string","description":"Shipping Location\r<br />The shipping location name/alias that this container is for. Only shipments created for this location can be added to this container.","nullable":true,"example":"Northern Warehouse"},"ShippingLocationId":{"type":"string","description":"Shipping Location Id\r<br />The assigned Id for this location.","nullable":true,"example":"93f6d928-9456-434a-9d69-60f3b7dea091"},"ContainerStatus":{"$ref":"#/components/schemas/ContainerStatus"},"DestinationCountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Destination Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard","example":"GB"},"ExportDate":{"type":"string","description":"Export Date\r<br />Automatically set when a container is finalised\r<br />Format YYYY-MM-DD","format":"date","nullable":true},"Mawb":{"type":"string","description":"MAWB\r<br />Master Airway Bill number. Must be provided in the following format: nnn-nnnnnnnn.\r<br />Must be provided prior to manifesting the container in order for the shipments in the container to be manifested successfully.","nullable":true,"example":"125-12345678"},"RmService":{"$ref":"#/components/schemas/RmService"},"RmProduct":{"$ref":"#/components/schemas/RmProduct"},"RmContentFormat":{"$ref":"#/components/schemas/RmContentFormat"},"RmOeCode":{"maxLength":3,"minLength":3,"type":"string","description":"RM OE Code\r<br />Royal Mail OE Code\r<br />Defaults to GBR","nullable":true,"example":"GBR"},"ContainerLabel":{"type":"string","description":"Container Label","nullable":true},"TotalWeight":{"type":"number","description":"Total Weight\r<br />The total weight of all the shipments currently added to the container.","format":"double","example":12.5},"WeightUnitOfMeasure":{"$ref":"#/components/schemas/WeightUnitOfMeasure"},"TotalShipments":{"type":"integer","description":"Total Shipments\r<br />The total number of shipments in the container.","format":"int32","example":23},"TotalPackages":{"type":"integer","description":"Total Packages\r<br />The total number of packages in the container","format":"int32","example":23},"Shipments":{"type":"array","items":{"$ref":"#/components/schemas/ContainerShipments"},"description":"Shipment Details\r<br />The shipments assigned to the container. Only populated if 'returnShipments' was set to true in the request query parameters.","nullable":true},"ManifestNumbers":{"type":"array","items":{"type":"string"},"description":"Manifest Numbers. Only populated if the container has been manifested.","nullable":true}},"additionalProperties":false,"description":"Get International Arrivals Container Response"},"Hazmat":{"required":["Class","Quantity","UNCode","UnitOfMeasure"],"type":"object","properties":{"UNCode":{"maxLength":4,"minLength":4,"type":"string","description":"Mandatory if Hazmat information is present. UN Identification Number of the hazardous item.","example":"1002"},"ProperShippingName":{"maxLength":100,"type":"string","description":"Proper Shipping Name of the hazardous item being shipped.","nullable":true,"example":"Compressed Air"},"Class":{"maxLength":3,"minLength":1,"type":"string","description":"Mandatory if Hazmat information is provided. Used to provide the class number of the hazardous item being shipped.","example":"9"},"Id8000Category":{"type":"string","description":"If the hazardous goods class is 9, an applicable ID8000 category is required. \r<br />If ID8000 category is provided with any hazardous goods class other than class 9, it will be ignored.\r<br />Available values are:\r<br />- Medicines\r<br />- Perfume/Aftershave\r<br />- Nail Varnish\r<br />- Toiletry or Medicinal Aerosols\r<br />\r<br />If a customer sends a Create Shipment request with the ID8000Category field populated and the Class field is populated with any value other than class 9,\r<br />the ID8000Category will be ignored and the data will not be saved on the shipment record.\r<br />If a customer sends a Create Shipment request with the ID8000Category field populated and the Class field is populated with 9,\r<br />the system will behave as it does currently (create the Product and save the ID8000 data to the product record)","nullable":true,"example":"Nail Varnish"},"Quantity":{"maximum":9999999.99,"minimum":0.01,"type":"number","description":"Mandatory if Hazmat information is provided. The hazardous item quantity in the relevant unit of measure for one item.","format":"double","example":3.5},"UnitOfMeasure":{"$ref":"#/components/schemas/HazmatUnitOfMeasure"},"EmergencyActionCode":{"maxLength":4,"minLength":4,"type":"string","description":"Emergency Action Code of the hazardous item.","nullable":true,"example":"E012"},"HazchemNumber":{"maxLength":3,"minLength":3,"type":"string","description":"The Hazchem Number of the item.","nullable":true},"SpecialistAdviceContactNumber":{"maxLength":20,"type":"string","description":"The specialist advice phone number to contact if there are any issues with the hazardous item.\r<br />If not provided, when a hazardous stored product is used in create shipment request, the phone number will be set from the customer shipping account record.","nullable":true}},"additionalProperties":false,"description":"Hazmat Information"},"HazmatUnitOfMeasure":{"enum":["L","KG"],"type":"string","description":"Mandatory if Hazmat information is provided. The unit of measure for the dangerous goods, this is 'L' for liquids and gas and 'KG' for solids."},"InternationalArrivalsContainer":{"required":["DestinationCountryCode","RmContentFormat"],"type":"object","properties":{"ContainerId":{"maxLength":50,"type":"string","description":"Container Id\r<br />The Container Name/Alias for this container\r<br />Defaults to a globally unique identifier.","nullable":true,"example":"South East 1234"},"ContainerBarcode":{"type":"string","description":"Barcode Number","nullable":true,"example":"CA00000027GB"},"CreatedDateUtc":{"type":"string","description":"Created Date UTC","format":"date-time"},"ShippingLocationAlias":{"type":"string","description":"Shipping Location\r<br />The shipping location name/alias that this container is for. Only shipments created for this location can be added to this container.","nullable":true,"example":"Northern Warehouse"},"ShippingLocationId":{"type":"string","description":"Shipping Location Id\r<br />The assigned Id for this location.","nullable":true,"example":"93f6d928-9456-434a-9d69-60f3b7dea091"},"ContainerStatus":{"$ref":"#/components/schemas/ContainerStatus"},"DestinationCountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Destination Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard","example":"GB"},"ExportDate":{"type":"string","description":"Export Date\r<br />Automatically set when a container is finalised\r<br />Format YYYY-MM-DD","format":"date","nullable":true},"Mawb":{"type":"string","description":"MAWB\r<br />Master Airway Bill number. Must be provided in the following format: nnn-nnnnnnnn.\r<br />Must be provided prior to manifesting the container in order for the shipments in the container to be manifested successfully.","nullable":true,"example":"125-12345678"},"RmService":{"$ref":"#/components/schemas/RmService"},"RmProduct":{"$ref":"#/components/schemas/RmProduct"},"RmContentFormat":{"$ref":"#/components/schemas/RmContentFormat"},"RmOeCode":{"maxLength":3,"minLength":3,"type":"string","description":"RM OE Code\r<br />Royal Mail OE Code\r<br />Defaults to GBR","nullable":true,"example":"GBR"},"ContainerLabel":{"type":"string","description":"Container Label","nullable":true},"TotalWeight":{"type":"number","description":"Total Weight\r<br />The total weight of all the shipments currently added to the container.","format":"double","example":12.5},"WeightUnitOfMeasure":{"$ref":"#/components/schemas/WeightUnitOfMeasure"},"TotalShipments":{"type":"integer","description":"Total Shipments\r<br />The total number of shipments in the container.","format":"int32","example":23},"TotalPackages":{"type":"integer","description":"Total Packages\r<br />The total number of packages in the container","format":"int32","example":23}},"additionalProperties":false,"description":"International Arrivals Container"},"InternationalArrivalsContainersPagedResponse":{"required":["Containers","TotalCount"],"type":"object","properties":{"Containers":{"type":"array","items":{"$ref":"#/components/schemas/InternationalArrivalsContainer"},"description":"Containers\r<br />The containers for the requested page only."},"TotalCount":{"type":"integer","description":"Total Count\r<br />The total number of containers available","format":"int32","example":32}},"additionalProperties":false,"description":"The paged response containing the entities for the requested page only, and the total number available."},"Item":{"required":["Quantity"],"type":"object","properties":{"SkuCode":{"maxLength":30,"type":"string","description":"Stock Keeping Unit number of the item.","nullable":true,"example":"C604-25-035"},"PackageOccurrence":{"maximum":99,"minimum":1,"type":"integer","description":"Used to assign this item to a specific package.\r<br />The Package Occurrence provided here must exist on one of the packages in the Package element.       \r<br />Note: For Royal Mail dutiable multi-package shipments that are not using a consignment service, items must be assigned to a package so that accurate customs information is given.\r<br />Therefore, if the shipment contains more than one package, and it isn't using a consignment service, then Package Occurrence is required.","format":"int32","nullable":true,"example":1},"Quantity":{"maximum":2147483647,"minimum":1,"type":"integer","description":"The quantity of these items in the package.","format":"int32","example":1},"Description":{"maxLength":255,"type":"string","description":"Description of the item. This must describe the specific item being shipped rather than the general nature of the goods e.g. 'skirt' instead of 'ladies clothing'. \r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.","nullable":true,"example":"White Tee-shirt"},"Value":{"maximum":9999999.99,"minimum":0,"type":"number","description":"The value of a single instance of the item, in the currency provided for the shipment in the CurrencyCode field.\r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.","format":"double","nullable":true,"example":98.99},"Weight":{"maximum":1000000,"minimum":0,"type":"number","description":"The weight of a single instance of the item, in the unit of measure provided in the WeightUnitOfMeasure element (defaults to KG).\r<br />For non-dutiable shipments, a weight of 0 is accepted. For dutiable shipments, an item weight of 1 gram or greater must be provided. \r<br />The maximum weight accepted is 1000 KG.\r<br />\r<br />Required for dutiable shipments, unless the SKU Code of a stored product is provided. When the SKU Code of a stored product is provided, and this field is not provided, it will be populated from the stored product. If the SKU code of a stored product is provided, and this field is provided in the Create Shipment request, then the data provided in this field will be used instead of the data from the stored product.","format":"double","nullable":true,"example":145},"HSCode":{"type":"string","description":"The Harmonized Commodity Description and Coding System Code.\r<br />Used by Customs to calculate potential duties and taxes.\r<br />May be required for dutiable shipments, depending on the carrier and destination country.\r<br />The number of characters required for the HS Code may vary depending on the service and destination country.\r<br />Dots and spaces in the HS Code are accepted.\r<br />For more information on HS Codes and to find the correct HS Codes for your items, see https://www.gov.uk/trade-tariff","nullable":true,"example":"6109100010"},"CountryOfOrigin":{"maxLength":2,"minLength":2,"type":"string","description":"Country the item was produced/manufactured in. \r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />May be required on dutiable shipments, depending on the carrier and destination country.","nullable":true,"example":"GB"},"Hazmat":{"$ref":"#/components/schemas/Hazmat"}},"additionalProperties":false,"description":"Used to provide details of the items sent in the shipment package(s). \r<br />Item information is optional for domestic and non-dutiable shipments, but required for dutiable shipments. \r<br />If item information is provided, this element must be repeated for each unique item in the shipment."},"OrderDirection":{"enum":["Ascending","Descending"],"type":"string","description":"Order Direction"},"PreAllocateTrackingNumberRequest":{"required":["ServiceCode","ShippingAccountId"],"type":"object","properties":{"ShippingLocationId":{"maxLength":100,"type":"string","description":"Shipping Location the shipment is being shipped from. This can be populated with either the Shipping Location ID assigned by SAPIENT or the Shipping Location Alias set when the Shipping Location was created. Both can be viewed in the Shipping Location GUI.\r<br />Mandatory if there is more than one Shipping Location available for the Shipping Account","nullable":true,"example":"1234567890"},"ShippingAccountId":{"maxLength":36,"minLength":1,"type":"string","description":"Shipping Account the shipment is being created for. This can be populated with either the Shipping Account ID assigned by SAPIENT Shipping Account ID or the Shipping Account Alias set when the Shipping Account was created.Both can be viewed in the Shipping Account GUI.","example":"Manchester Hub"},"ServiceCode":{"maxLength":4,"minLength":3,"type":"string","description":"The code of the shipping service used to deliver the shipment.","example":"CRL1"},"ServiceLevel":{"maxLength":2,"minLength":2,"pattern":"^(?!00)[0-9]{2}$","type":"string","description":"The Royal Mail service level of the service specified in the ServiceCode field.\r<br />Valid values are 01-99.\r<br />Defaults to lowest service level available for the specified service if not provided.","nullable":true,"example":"01"},"ServiceEnhancementCode":{"$ref":"#/components/schemas/RoyalMailPreAllocatedTrackingNumberEnhancementCode"},"Destination":{"$ref":"#/components/schemas/DestinationDetails"}},"additionalProperties":false,"description":"Royal Mail Get Pre Allocated Tracking Number Request"},"PreAllocateTrackingNumberResponse":{"type":"object","properties":{"TrackingNumber":{"type":"string","description":"The pre-allocated tracking number .","nullable":true,"example":"TT123456785GB"}},"additionalProperties":false,"description":"Royal Mail Get Pre Allocated Tracking Number Response"},"QRCodeResponse":{"required":["QRCode","ShipmentId"],"type":"object","properties":{"ShipmentId":{"type":"string","description":"Shipment Id","format":"uuid","example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"QRCode":{"minLength":1,"type":"string","description":"QR Code\r<br />Base 64 Encoded PNG","example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"}},"additionalProperties":false,"description":"QR Code Response"},"ReturnToSender":{"type":"object","properties":{"Address":{"$ref":"#/components/schemas/ShipmentAddress"}},"additionalProperties":false,"description":"Return To Sender information such as address and contact details\r<br />If not provided, the Shipping Location's address is used."},"RmContentFormat":{"enum":["G","P"],"type":"string","description":"RM Content Format\r<br />Accepted values are:\r<br />**G** = Large\r<br />**P** = Small"},"RmProduct":{"enum":["T","R","O"],"type":"string","description":"RM Product\r<br />If not supplied the system will apply the default.\r<br />Accepted values are:\r<br />**T** - International Tracked (Default)\r<br />**R** - International Tracked and Signed, International Signed\r<br />**O** - International Max Sort"},"RmService":{"enum":["P","E","S"],"type":"string","description":"RM Service\r<br />If not supplied the system will apply the default.\r<br />Accepted values are:\r<br />**P** - Priority (Default)\r<br />**E** - Economy\r<br />**S** - Surface"},"RoyalMailAccountLocationStatus":{"enum":["Pending","Active","Disabled"],"type":"string"},"RoyalMailAddShippingAccountLocation":{"required":["PostingLocationCode"],"type":"object","properties":{"ShippingLocationId":{"maxLength":100,"type":"string","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id(assigned by SAPIENT) or Alias(assigned by you).\r<br />\r<br />Link an existing location to this account.\r<br />Either a Shipping Location Id must be provided, or the details of a new shipping location provided.","nullable":true,"example":"D94E8CFD-604B-4B87-83E9-3F20CAF02837"},"ShippingLocation":{"$ref":"#/components/schemas/AddShippingAccountLocationNewLocation"},"PostingLocationCode":{"maxLength":10,"minLength":10,"type":"string","description":"Posting Location Code\r<br />The number assigned to this Location by Royal Mail.","example":"2345654321"},"ObaAccessCode":{"maxLength":7,"type":"string","description":"OBA Access Code\r<br />A password for the account to access the OBA services.\r<br />A Royal Mail shipping account cannot be active unless the OBA Access code has been provided.","nullable":true,"example":"123456"},"ReceivingHubCode":{"maxLength":6,"minLength":6,"type":"string","description":"Receiving Hub Code\r<br />Receiving Hub/Regional Distribution Center used for this Shipping Location.\r<br />Must be an existing receiving hub code.\r<br />Please refer to Royal Mail ReceivingHubs for a list of possible receiving hubs.\r<br />If the receiving hub is not provided, we will match it to the one that corresponds to the postcode of the location's address.","nullable":true,"example":"002610"}},"additionalProperties":false,"description":"Royal Mail Add Shipping Account Location"},"RoyalMailAddShippingAccountRequest":{"required":["AccountAlias","AccountNumber","AccountRegisteredEmail","AccountType","ContactName","ContactNumber","ShippingLocations"],"type":"object","properties":{"AccountNumber":{"maxLength":10,"minLength":10,"type":"string","description":"Carrier Account Number\r<br />The account number given by the carrier.","example":"9912347707"},"AccountType":{"$ref":"#/components/schemas/AccountType"},"AccountName":{"maxLength":35,"type":"string","description":"Account Name\r<br />The name on this Account.\r<br />Defaults to your Customer name if not provided.","nullable":true,"example":"AB VideoGames"},"AccountRegisteredEmail":{"maxLength":256,"minLength":1,"type":"string","description":"Account Registered Email\r<br />This is the email that was used to register your Shipping Account with the carrier when the Shipping Account was created.","format":"email","example":"my.email@example.com"},"AccountAlias":{"maxLength":30,"minLength":1,"type":"string","description":"Account Alias\r<br />Your identifier for this account. Must be unique.","example":"RM-99112347707"},"RegisteredBillingPostcode":{"maxLength":20,"type":"string","description":"Registered Billing Postcode\r<br />The postcode that Royal Mail will send the invoice to for the account","nullable":true,"example":"TW20 0HJ"},"ContactName":{"maxLength":100,"minLength":1,"type":"string","description":"Contact Name\r<br />Used in a create shipment request as the shipper's contact name if the shipper address is not provided.","example":"John Smith"},"ContactNumber":{"maxLength":20,"minLength":1,"type":"string","description":"Contact Number\r<br />Used in a create shipment request as the shipper's contact number if the shipper address is not provided, and the contact number is not set on the associated shipping location.","format":"tel","example":"0123456789"},"ShippingLocations":{"type":"array","items":{"$ref":"#/components/schemas/RoyalMailAddShippingAccountLocation"},"description":"Shipping Locations\r<br />At least one location is required when adding a shipping account.\r<br />If providing a new location when adding the account, only one location can be added."}},"additionalProperties":false,"description":"Royal Mail Add Shipping Account Request"},"RoyalMailDataStreamDetails":{"required":["FormattedUniqueId","Primary2DBarcodeData","Primary2DBarcodeImage"],"type":"object","properties":{"Primary2DBarcodeImage":{"minLength":1,"type":"string","description":"Primary 2D Barcode Image\r<br />Base64 Encoded PNG Image of the 2D data matrix barcode.","example":"iVBORw0KGgoAAAANSUhE ...…GgAAABoAQMAAAAn0ifiAAAA"},"Primary2DBarcodeData":{"minLength":1,"type":"string","description":"Primary 2D Barcode Data - Base 64 Encoded\r<br />Data required to create your own 2D data matrix barcode. Please decode before use.","example":"iVBORw0KGgoAAAANSUhE ...…GgAAABoAQMAAAAn0ifiAAAA"},"FormattedUniqueId":{"minLength":1,"type":"string","description":"Formatted Unique Id\r<br />Label for 2D data matrix barcode.","example":"3A-070 338 6001-000 0B2 000"},"GazetteerCodes":{"$ref":"#/components/schemas/RoyalMailGazetteerCodes"},"Primary1DBarcodeImage":{"type":"string","description":"Primary 1D Barcode Image\r<br />Only populated where the service requires the barcode on the label.\r<br />Base64 Encoded PNG Image of the barcode.","nullable":true,"example":"iVBORw0KGgoAAAANSUhE ...…GgAAABoAQMAAAAn0ifiAAAA"},"Primary1DBarcodeData":{"type":"string","description":"Primary 1D Barcode Data\r<br />Only populated where the service requires the barcode on the label.\r<br />Data required to create your own barcode.","nullable":true,"example":"HF123456783GB"},"HighVolumeBarcodeImage":{"type":"string","description":"High Volume Barcode Image\r<br />Only populated where the service (Tracked High Volume) requires the barcode on the label.\r<br />Base64 Encoded PNG Image of the barcode.","nullable":true,"example":"iVBORw0KGgoAAAANSUhE ...…GgAAABoAQMAAAAn0ifiAAAA"},"HighVolumeBarcodeData":{"type":"string","description":"High Volume Barcode Data\r<br />Only populated where the service (Tracked High Volume) requires the barcode on the label.\r<br />Data required to create your own barcode.","nullable":true,"example":"*SW115QZ*"}},"additionalProperties":false,"description":"DATASTREAM Details\r<br />The information needed to create your own label.\r<br />Only present if DATASTREAM label format was specified."},"RoyalMailEnhancementCode":{"enum":["CL1","CL2","CL3","CL4","CL5","Signed","SMS","Email","Safeplace","LocalCollect","CustomsEmail","CustomsPhone"],"type":"string","description":"Enhancement code of the service enhancement. Valid values are:\r<br />**CL1** - Consequential Loss £1000\r<br />**CL2** - Consequential Loss £2500\r<br />**CL3** - Consequential Loss £5000\r<br />**CL4** - Consequential Loss £7500\r<br />**CL5** - Consequential Loss £10000 (Only 1 type of Consequential Loss is allowed)\r<br />**Signed** - a signature is required on delivery of the shipment. Can be used with 24, 48, 1st Class and 2nd Class services.\r<br />**SMS** - delivery updates will be sent via SMS. Can be used with Special Delivery Guaranteed, Tracked and Tracked High Volume services.\r<br />**Email** - delivery updates will be sent via email. Can be used with Special Delivery Guaranteed, Tracked and Tracked High Volume, International Tracked and International Tracked and Signed services.\r<br />**Safeplace** - the shipment will be left in a specified safeplace location. The location must be provided in the SafeplaceLocation field. Can be used with Tracked, Tracked High Volume and 24/48 services.\r<br />**LocalCollect** - the shipment will be delivered to a Post Office for collection by the receiver. Can be used with Special Delivery Guaranteed, Tracked and Tracked High Volume services.\r<br />**CustomsEmail** - Receiver email address will be used in eCustoms data. Can be used with International services. \r<br />**CustomsPhone** - Receiver phone number will be used in eCustoms data. Can be used with International services."},"RoyalMailGazetteerCodes":{"required":["Part1","Part2"],"type":"object","properties":{"Part1":{"maxLength":3,"minLength":2,"type":"string","description":"First Part of the Gazetteer code.","example":"L55"},"Part2":{"maxLength":3,"minLength":2,"type":"string","description":"Second Part of the Gazetteer code.","example":"G43"},"Part3":{"maxLength":3,"minLength":2,"type":"string","description":"Third Part of the Gazetteer code.","nullable":true,"example":"AAA"},"Part4":{"maxLength":3,"minLength":2,"type":"string","description":"Fourth Part of the Gazetteer code.","nullable":true,"example":"000"}},"additionalProperties":false,"description":"Gazetteer Codes"},"RoyalMailGetOfflineBarcodingRequest":{"required":["ServiceCode","ServiceLevel","ShippingAccountId"],"type":"object","properties":{"ShippingLocationId":{"maxLength":100,"type":"string","description":"This can be populated with either the Shipping Location ID assigned by SAPIENT or the Shipping Location Alias set when the Shipping Location was created. Optional if the shipping account only has one Shipping Location assigned. If the Shipping Account has multiple Shipping Locations, then this field must be populated.","nullable":true,"example":"Manchester Hub"},"ShippingAccountId":{"maxLength":36,"minLength":1,"type":"string","description":"Shipping Account the number range is being requested for. This can be populated with either the Shipping Account ID assigned by SAPIENT or the Shipping Account Alias set when the Shipping Account was created.","example":"1234567890"},"ServiceCode":{"maxLength":4,"minLength":3,"type":"string","description":"Service Code","example":"CRL1"},"ServiceLevel":{"maxLength":2,"minLength":2,"pattern":"^(?!00)[0-9]{2}$","type":"string","description":"The Royal Mail service level of the service specified in the ServiceCode field.\r<br />Valid values are 01-99.","example":"01"},"ServiceEnhancementCode":{"$ref":"#/components/schemas/RoyalMailOfflineBarcodingEnhancementCode"},"ChannelId":{"maxLength":2,"minLength":2,"type":"string","description":"The Channel ID agreed with Royal Mail for the offline barcodes. If no value is sent in the request then the Channel ID assigned in SAPIENT will be used.","nullable":true,"example":"1B"}},"additionalProperties":false,"description":"Royal Mail Get Offline Barcoding Request"},"RoyalMailGetOfflineBarcodingResponse":{"type":"object","properties":{"Prefix":{"type":"string","description":"Barcode prefix","nullable":true,"example":"TT"},"BarcodeRangeStart":{"type":"string","description":"Start of barcode number range","nullable":true,"example":"200001"},"BarcodeRangeEnd":{"type":"string","description":"End of barcode number range","nullable":true,"example":"209009"},"Suffix":{"type":"string","description":"Fixed value - always GB","nullable":true,"example":"GB"},"ChannelId":{"type":"string","description":"The Channel ID sent in the request, If none was sent in the request, then it will be populated with the Channel Id assigned in the system to the customer account.","nullable":true,"example":"1B"}},"additionalProperties":false,"description":"Get offline Barcode Response"},"RoyalMailLabelFormat":{"enum":["PDF","PNG","DATASTREAM","ZPL203DPI","ZPL300DPI","PDF4X3","PNG4X3"],"type":"string","description":"Sets the label format that will be returned in the createShipment Response. \r<br />Valid values are:\r<br />**PDF** - returns a Base64-encoded PDF\r<br />**PNG** - returns a Base64-enconded PNG\r<br />**ZPL203DPI** - returns Base 64 encoded text for Zebra printer at 203 DPI\r<br />**ZPL300DPI** - returns Base 64 encoded text for Zebra printer at 300 DPI\r<br />**DATASTREAM** - returns the label elements such as tracking URL, barcode number, 2D barcode image etc. for the label to be created in your own system, rather than returning a label image\r<br />**PDF4X3** - returns a Base64-encoded 4x3 format PDF\r<br />**PNG4X3** - returns a Base64-enconded 4x3 format PNG\r<br />Defaults to PDF if not populated."},"RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPackageResponseCreateShipmentResponse":{"type":"object","properties":{"ConsignmentShipmentId":{"type":"string","description":"Consignment Shipment Id\r<br />Only populated if the service is a consignment service.","format":"uuid","nullable":true,"example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"ConsignmentTrackingNumber":{"type":"string","description":"Consignment Tracking Number\r<br />Only populated if the service is a consignment service","nullable":true,"example":"DF12384739GB"},"ConsignmentCarrierTrackingUrl":{"type":"string","description":"Consignment Carrier Tracking URL\r<br />Only populated if the service is a consignment service and is available","format":"uri","nullable":true,"example":"http://shipmentcarrier.com/tracking/DF12384739GB"},"Labels":{"type":"string","description":"Labels\r<br />Populated if requested Action was 'Process'","nullable":true,"example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"},"LabelFormat":{"$ref":"#/components/schemas/RoyalMailLabelFormat"},"Packages":{"type":"array","items":{"$ref":"#/components/schemas/RoyalMailShipmentResponseCarrierSpecificsPackageResponse"},"description":"Packages\r<br />The details of each package.","nullable":true},"Documents":{"type":"string","description":"Customs Documents\r<br />Populated if requested Action was 'Process' and shipment is dutiable","nullable":true,"example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"},"DocumentFormat":{"$ref":"#/components/schemas/DocumentFormat"}},"additionalProperties":false,"description":"Create Shipment Response"},"RoyalMailLabelFormatRoyalMailShipmentResponseCarrierSpecificsPrintLabelResponse":{"required":["LabelFormat","ShipmentId"],"type":"object","properties":{"ShipmentId":{"type":"string","description":"Shipment Id","format":"uuid","example":"c4e60776-288f-464e-b35b-ff0f3252c0f0"},"TrackingNumber":{"type":"string","description":"Tracking Number","nullable":true,"example":"TT12384739GB"},"CarrierTrackingUrl":{"type":"string","description":"Carrier Tracking URL","format":"uri","nullable":true,"example":"http://shipmentcarrier.com/tracking/DF12384739GB"},"Label":{"type":"string","description":"Label\r<br />Base 64 Encoded String of the given label format.","nullable":true,"example":"iVBORw0KGgoAAAANSUhEUgAA ... A4QAAAXcCAYAAAB6Q0CbAAAAAXNSR0IArs4"},"LabelFormat":{"$ref":"#/components/schemas/RoyalMailLabelFormat"},"CarrierDetails":{"$ref":"#/components/schemas/RoyalMailShipmentResponseCarrierSpecifics"}},"additionalProperties":false,"description":"Print Label Response"},"RoyalMailLabelFormatShipmentInformation":{"required":["ContentType","DescriptionOfGoods","ServiceCode"],"type":"object","properties":{"Action":{"$ref":"#/co
[...]
