{
  "openapi": "3.0.1",
  "info": {
    "title": "DHL EXPRESS",
    "description": "# Introduction\nHere you will find requirements for integrating with SAPIENT CORE API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe SAPIENT CORE API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n",
    "version": "v4.0-DHLEXPRESS",
    "x-logo": {
      "url": "/Content/images/redoc-logo.png",
      "altText": "ReDoc"
    }
  },
  "servers": [
    {
      "url": "https://api.intersoftsapient.net/",
      "description": "Sapient Server"
    }
  ],
  "paths": {
    "/v4/shippingAccounts/dhlexpress": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Provides a list of DHL Express shipping accounts only.\r<br />Information about the account number, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingAccountsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of shipping accounts for the given carrier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DhlExpressShippingAccountShippingAccountsPagedResponse"
                },
                "example": {
                  "ShippingAccounts": [
                    {
                      "ShippingAccountId": "c5ad86eb-3547-480e-9249-c52a6b71bc0b",
                      "CarrierCode": "DHLEXPRESS",
                      "AccountNumber": "123456789012",
                      "AccountType": "Sandbox",
                      "AccountName": "AB VideoGames",
                      "AccountAlias": "DhlExpress-9912346902",
                      "AccountStatus": "Enabled",
                      "ContactName": "John Smith",
                      "ContactNumber": "0123456789",
                      "IsArchiveLabels": true,
                      "IsPaperlessTradeEnabled": true,
                      "PaperlessTradeInvoiceOption": "DhlGenerated",
                      "LastUpdatedBy": "User A",
                      "LastUpdatedDateUtc": "2026-07-22T08:13:21.882Z"
                    },
                    {
                      "ShippingAccountId": "46d58272-5f6a-405d-a947-c46c9caea56f",
                      "CarrierCode": "DHLEXPRESS",
                      "AccountNumber": "123456789013",
                      "AccountType": "Sandbox",
                      "AccountName": "KG Pet Shop",
                      "AccountAlias": "DhlExpress-9917584966",
                      "AccountStatus": "Enabled",
                      "ContactName": "Joan Smith",
                      "ContactNumber": "0123456789",
                      "IsArchiveLabels": false,
                      "IsPaperlessTradeEnabled": true,
                      "PaperlessTradeInvoiceOption": "SapientGenerated",
                      "LastUpdatedBy": "User B",
                      "LastUpdatedDateUtc": "2026-07-22T08:13:21.882Z"
                    }
                  ],
                  "TotalCount": 2
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Add Account",
        "description": "Add a shipping account for DHL Express and link it with an existing shipping location.\r<br />Ensure to have required carrier details ready like DHL Express account number, API key and API secret so that you can use the account for shipping with DHL Express.",
        "requestBody": {
          "description": "Add Shipping Account Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DhlExpressAddShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShippingAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dhlexpress/{shippingAccountId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Account",
        "description": "Provides details for a DHL Express account.\r<br />Information about the account number, alias, account type, and contact details is included in the response.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the shipping account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DhlExpressShippingAccount"
                },
                "example": {
                  "ShippingAccountId": "c5ad86eb-3547-480e-9249-c52a6b71bc0b",
                  "CarrierCode": "DHLEXPRESS",
                  "AccountNumber": "123456789012",
                  "AccountType": "Sandbox",
                  "AccountName": "AB VideoGames",
                  "AccountAlias": "DhlExpress-9912346902",
                  "AccountStatus": "Enabled",
                  "ContactName": "John Smith",
                  "ContactNumber": "0123456789",
                  "IsArchiveLabels": false,
                  "IsPaperlessTradeEnabled": false,
                  "LastUpdatedBy": "User A",
                  "LastUpdatedDateUtc": "2026-07-22T08:13:22.205Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Update Account",
        "description": "Update shipping account details.\r<br />\r<br />***Note:** All required fields must be populated in the request, regardless if they need updating or not.*",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Account Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DhlExpressUpdateShippingAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping account was updated successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The account alias is required.",
                      "Cause": "AccountAlias",
                      "ErrorCode": "E1001"
                    },
                    {
                      "Message": "Customer is Restricted to Sandbox.",
                      "Cause": "AccountType",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dhlexpress/{shippingAccountId}/linkLocations": {
      "post": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Link Locations",
        "description": "Link one or more shipping locations with a DHL Express shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Shipping Locations\r\nThe locations to associate with this shipping account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShippingLocationIdRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipping location(s) have been linked to the account successfully."
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipping location was not found",
                      "Cause": "[2].ShippingLocationId",
                      "ErrorCode": "E1004"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dhlexpress/{shippingAccountId}/shippingLocations": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Locations",
        "description": "Provides a list of all shipping locations associated with a DHL Express shipping account.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Search Term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of records per page.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The number of the requested page, starting at 1.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By\r<br />Default: Name",
            "schema": {
              "$ref": "#/components/schemas/ShippingLocationsSortBy"
            }
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort Direction\r<br />Default: Ascending",
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged list of associated shipping locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingLocationsForAccountPagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The page size must be 1 or greater.",
                      "Cause": "pageSize",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The page number must be 1 or greater.",
                      "Cause": "pageNumber",
                      "ErrorCode": "E1002"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping account was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shippingAccounts/dhlexpress/{shippingAccountId}/shippingLocations/{shippingLocationId}": {
      "get": {
        "tags": [
          "Shipping Accounts"
        ],
        "summary": "Get Associated Location",
        "description": "Provides information for a specific shipping location linked to a DHL Express shipping account including location alias, timezone, address, when it was last updated, and by who.",
        "parameters": [
          {
            "name": "shippingAccountId",
            "in": "path",
            "description": "Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingLocationId",
            "in": "path",
            "description": "Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the associated shipping location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingLocation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipping location was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/dhlexpress": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create Shipment",
        "description": "Create a DHL Express shipment. This will return an image of the shipping label in PDF or PNG format.",
        "requestBody": {
          "description": "Shipment Details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DhlExpressShipmentRequestCarrierSpecificsPackageDetailsLabelFormatCreateShipmentRequest"
              },
              "examples": {
                "Domestic - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "DOT",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "EUR",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "412db7d9-5285-4557-b493-e1b7871b982d",
                      "Reference1": "OrderRef56"
                    },
                    "Destination": {
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                },
                "Domestic - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "AdultSignature"
                        },
                        {
                          "Code": "DangerousGoodsId8000"
                        },
                        {
                          "Code": "SaturdayDelivery"
                        },
                        {
                          "Code": "ShipmentInsurance",
                          "InsuranceValue": 10
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "DOM",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "Central Europe"
                    },
                    "Shipper": {
                      "ShippingAccountId": "dc03447f-73c0-4d1c-be1c-40d050b30ed6",
                      "ShippingLocationId": "ce199b31-2111-4d52-a82f-572a1346508a",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "Aftershave",
                        "Value": 100,
                        "Weight": 0.2,
                        "HSCode": "3307100000",
                        "CountryOfOrigin": "IT",
                        "Hazmat": {
                          "UNCode": "1266",
                          "ProperShippingName": "Aftershave",
                          "Class": "9",
                          "Id8000Category": "Perfume/Aftershave",
                          "Quantity": 1.5,
                          "UnitOfMeasure": "L"
                        }
                      }
                    ]
                  }
                },
                "Domestic - All Fields - Multiple packages": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "AdultSignature"
                        },
                        {
                          "Code": "DangerousGoodsId8000"
                        },
                        {
                          "Code": "SaturdayDelivery"
                        },
                        {
                          "Code": "ShipmentInsurance",
                          "InsuranceValue": 10
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "DOM",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 9,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "Central Europe"
                    },
                    "Shipper": {
                      "ShippingAccountId": "50448e80-19a6-4d4b-a6bb-a77b65879850",
                      "ShippingLocationId": "8f880c73-016c-4f23-9b1d-2efe4fd7c39d",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Woking",
                        "Postcode": "GU21 4TE",
                        "CountryCode": "GB"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 2,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 3,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 4,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 5,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 6,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "Aftershave",
                        "Value": 100,
                        "Weight": 0.2,
                        "HSCode": "3307100000",
                        "CountryOfOrigin": "IT",
                        "Hazmat": {
                          "UNCode": "1266",
                          "ProperShippingName": "Aftershave",
                          "Class": "9",
                          "Id8000Category": "Perfume/Aftershave",
                          "Quantity": 1.5,
                          "UnitOfMeasure": "L"
                        }
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 2,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD"
                      },
                      {
                        "SkuCode": "LIION-BATT-5000MAH",
                        "PackageOccurrence": 2,
                        "Quantity": 1,
                        "Description": "Lithium-ion Battery Pack (UN3480)",
                        "Value": 79.99,
                        "Weight": 0.6,
                        "HSCode": "85076000",
                        "CountryOfOrigin": "CN",
                        "Hazmat": {
                          "UNCode": "3480",
                          "ProperShippingName": "Lithium ion batteries",
                          "Class": "9",
                          "Id8000Category": "Lithium Batteries",
                          "Quantity": 2,
                          "UnitOfMeasure": "KG",
                          "HazchemNumber": "4WL",
                          "SpecialistAdviceContactNumber": "+8613800138000",
                          "PrintId8000Label": true
                        }
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 3,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD"
                      },
                      {
                        "SkuCode": "LIION-BATT-5000MAH",
                        "PackageOccurrence": 3,
                        "Quantity": 1,
                        "Description": "Lithium-ion Battery Pack (UN3480)",
                        "Value": 79.99,
                        "Weight": 0.6,
                        "HSCode": "85076000",
                        "CountryOfOrigin": "CN",
                        "Hazmat": {
                          "UNCode": "3480",
                          "ProperShippingName": "Lithium ion batteries",
                          "Class": "9",
                          "Id8000Category": "Lithium Batteries",
                          "Quantity": 2,
                          "UnitOfMeasure": "KG",
                          "HazchemNumber": "4WL",
                          "SpecialistAdviceContactNumber": "+8613800138000",
                          "PrintId8000Label": true
                        }
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 4,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD"
                      },
                      {
                        "SkuCode": "LIION-BATT-5000MAH",
                        "PackageOccurrence": 4,
                        "Quantity": 1,
                        "Description": "Lithium-ion Battery Pack (UN3480)",
                        "Value": 79.99,
                        "Weight": 0.6,
                        "HSCode": "85076000",
                        "CountryOfOrigin": "CN",
                        "Hazmat": {
                          "UNCode": "3480",
                          "ProperShippingName": "Lithium ion batteries",
                          "Class": "9",
                          "Id8000Category": "Lithium Batteries",
                          "Quantity": 2,
                          "UnitOfMeasure": "KG",
                          "HazchemNumber": "4WL",
                          "SpecialistAdviceContactNumber": "+8613800138000",
                          "PrintId8000Label": true
                        }
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 5,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD"
                      },
                      {
                        "SkuCode": "LIION-BATT-5000MAH",
                        "PackageOccurrence": 5,
                        "Quantity": 1,
                        "Description": "Lithium-ion Battery Pack (UN3480)",
                        "Value": 79.99,
                        "Weight": 0.6,
                        "HSCode": "85076000",
                        "CountryOfOrigin": "CN",
                        "Hazmat": {
                          "UNCode": "3480",
                          "ProperShippingName": "Lithium ion batteries",
                          "Class": "9",
                          "Id8000Category": "Lithium Batteries",
                          "Quantity": 2,
                          "UnitOfMeasure": "KG",
                          "HazchemNumber": "4WL",
                          "SpecialistAdviceContactNumber": "+8613800138000",
                          "PrintId8000Label": true
                        }
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 6,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD"
                      },
                      {
                        "SkuCode": "LIION-BATT-5000MAH",
                        "PackageOccurrence": 6,
                        "Quantity": 1,
                        "Description": "Lithium-ion Battery Pack (UN3480)",
                        "Value": 79.99,
                        "Weight": 0.6,
                        "HSCode": "85076000",
                        "CountryOfOrigin": "CN",
                        "Hazmat": {
                          "UNCode": "3480",
                          "ProperShippingName": "Lithium ion batteries",
                          "Class": "9",
                          "Id8000Category": "Lithium Batteries",
                          "Quantity": 2,
                          "UnitOfMeasure": "KG",
                          "HazchemNumber": "4WL",
                          "SpecialistAdviceContactNumber": "+8613800138000",
                          "PrintId8000Label": true
                        }
                      }
                    ]
                  }
                },
                "International - Basic Fields": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "TDY",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "EUR",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "b7940778-b689-4dae-8b20-57a443e85caa",
                      "Reference1": "OrderRef56",
                      "EoriNumber": "GB12345",
                      "VatNumber": "VA12345"
                    },
                    "Destination": {
                      "VatNumber": "VA12345",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "IT"
                      },
                      {
                        "SkuCode": "SKU456",
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "FR"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Gift",
                      "Incoterms": "DAP",
                      "PreRegistrationType": "IOSS",
                      "ShippingCharges": 20,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-07-22"
                    }
                  }
                },
                "International - All Fields": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "AdultSignature"
                        },
                        {
                          "Code": "ShipmentInsurance",
                          "InsuranceValue": 10
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "TDY",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "Central Europe"
                    },
                    "Shipper": {
                      "ShippingAccountId": "80a0d8b3-c509-42f4-9199-74add1bd79c4",
                      "ShippingLocationId": "5e08ccb7-57df-43a0-9fc9-8c8e26d7aabd",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Baker Street",
                        "Line2": "121B",
                        "Line3": "",
                        "Town": "London",
                        "Postcode": "GU21 4TE",
                        "County": "London",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "CN",
                        "ManufactureProductId": "5449000000990",
                        "StandardisedProductId": "4006381333930"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "CN",
                        "ManufactureProductId": "5449000000991",
                        "StandardisedProductId": "4006381333931"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Gift",
                      "Incoterms": "DAP",
                      "PreRegistrationNumber": "0123456789",
                      "PreRegistrationType": "GST",
                      "ShippingCharges": 55.82,
                      "OtherCharges": 32,
                      "QuotedLandedCost": 82.74,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-07-22",
                      "ExportLicenceRequired": false,
                      "Airn": "231.002.999-00"
                    },
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "International - All Fields - Multiple packages": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "AdultSignature"
                        },
                        {
                          "Code": "ShipmentInsurance",
                          "InsuranceValue": 10
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "Action": "Process",
                      "LabelFormat": "PDF",
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "TDY",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 9,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM",
                      "ContainerId": "Central Europe"
                    },
                    "Shipper": {
                      "ShippingAccountId": "edd7eaa6-eb73-46e0-bc8f-94fcb4cd8ff9",
                      "ShippingLocationId": "dd7d78e0-58af-4c84-a0dd-a9776bca5f2a",
                      "Reference1": "OrderRef56",
                      "DepartmentNumber": "0123456789",
                      "EoriNumber": "GB213456789000",
                      "VatNumber": "GB213456789",
                      "Address": {
                        "ContactPhone": "607723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Baker Street",
                        "Line2": "121B",
                        "Line3": "",
                        "Town": "London",
                        "Postcode": "GU21 4TE",
                        "County": "London",
                        "CountryCode": "GB"
                      }
                    },
                    "Destination": {
                      "EoriNumber": "GB123456789000",
                      "VatNumber": "GB123456789",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "PackageOccurrence": 1,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 2,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 3,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      },
                      {
                        "PackageOccurrence": 4,
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "SkuCode": "SKU123",
                        "PackageOccurrence": 1,
                        "Quantity": 1,
                        "Description": "White Mens Large T-shirt",
                        "Value": 19.99,
                        "Weight": 0.5,
                        "ImageURL": "https://yourcompany.com/images/product.jpg",
                        "HSCode": "6109100010",
                        "CountryOfOrigin": "CN",
                        "ManufactureProductId": "5449000000990",
                        "StandardisedProductId": "4006381333930"
                      },
                      {
                        "SkuCode": "SKU456",
                        "PackageOccurrence": 1,
                        "Quantity": 2,
                        "Description": "Black Mens Large Jumper",
                        "Value": 32.99,
                        "Weight": 0.3,
                        "ImageURL": "https://yourcompany.com/images/jumper-black.jpg",
                        "HSCode": "6110113000",
                        "CountryOfOrigin": "CN",
                        "ManufactureProductId": "5449000000991",
                        "StandardisedProductId": "4006381333931"
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 2,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD",
                        "ManufactureProductId": "5449000000992",
                        "StandardisedProductId": "4006381333932"
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 3,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD",
                        "ManufactureProductId": "5449000000993",
                        "StandardisedProductId": "4006381333933"
                      },
                      {
                        "SkuCode": "TSHIRT-WHT-L",
                        "PackageOccurrence": 4,
                        "Quantity": 1,
                        "Description": "White Cotton T-Shirt (Size L)",
                        "Value": 19.99,
                        "Weight": 0.25,
                        "HSCode": "61091000",
                        "CountryOfOrigin": "BD",
                        "ManufactureProductId": "5449000000994",
                        "StandardisedProductId": "4006381333934"
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Gift",
                      "Incoterms": "DAP",
                      "PreRegistrationNumber": "0123456789",
                      "PreRegistrationType": "GST",
                      "ShippingCharges": 55.82,
                      "OtherCharges": 32,
                      "QuotedLandedCost": 82.74,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-07-22",
                      "ExportLicenceRequired": false,
                      "Airn": "231.002.999-00"
                    },
                    "ReturnToSender": {
                      "Address": {
                        "ContactPhone": "07723456789",
                        "ContactName": "Jane Smith",
                        "CompanyName": "Company & Co.",
                        "ContactEmail": "email@server.com",
                        "Line1": "Level 5",
                        "Line2": "Hashmoore House",
                        "Line3": "10 Sky Lane",
                        "Town": "Leatherhead",
                        "Postcode": "AA34 3AB",
                        "County": "Surrey",
                        "CountryCode": "GB"
                      }
                    }
                  }
                },
                "Hazmat Items": {
                  "value": {
                    "CarrierSpecifics": {
                      "Enhancements": [
                        {
                          "Code": "DangerousGoodsExceptedQuantities"
                        }
                      ]
                    },
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "WPX",
                      "DescriptionOfGoods": "Aftershave",
                      "ShipmentDate": "2026-07-22",
                      "DeclaredWeight": 1.5,
                      "CurrencyCode": "GBP",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "6e280daa-7690-4b0d-9e4d-cb739bca10ab",
                      "Reference1": "OrderRef56",
                      "EoriNumber": "GB12345",
                      "VatNumber": "VA12345"
                    },
                    "Destination": {
                      "VatNumber": "VA12345",
                      "Address": {
                        "ContactPhone": "07123456789",
                        "ContactName": "John Smith",
                        "CompanyName": "Company",
                        "ContactEmail": "john.smith@example.com",
                        "Line1": "10 Sky Road",
                        "Town": "Sydney",
                        "Postcode": "2000",
                        "County": "NSW",
                        "CountryCode": "AU"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 1000,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ],
                    "Items": [
                      {
                        "Quantity": 1,
                        "Description": "Aftershave",
                        "Value": 1000,
                        "Weight": 0.2,
                        "HSCode": "3307100000",
                        "CountryOfOrigin": "IT",
                        "Hazmat": {
                          "UNCode": "1266",
                          "ProperShippingName": "Aftershave",
                          "Class": "9",
                          "Id8000Category": "Perfume/Aftershave",
                          "Quantity": 1.5,
                          "UnitOfMeasure": "L"
                        }
                      }
                    ],
                    "Customs": {
                      "ReasonForExport": "Gift",
                      "Incoterms": "DAP",
                      "PreRegistrationType": "IOSS",
                      "ShippingCharges": 20,
                      "InvoiceNumber": "INV-12345",
                      "InvoiceDate": "2026-07-22"
                    }
                  }
                },
                "Using Address Book": {
                  "value": {
                    "ShipmentInformation": {
                      "ReturnLabelsAtPackageLevel": false,
                      "ContentType": "NDX",
                      "ServiceCode": "DOT",
                      "DescriptionOfGoods": "Clothes",
                      "ShipmentDate": "2026-07-22",
                      "CurrencyCode": "EUR",
                      "WeightUnitOfMeasure": "KG",
                      "DimensionsUnitOfMeasure": "CM"
                    },
                    "Shipper": {
                      "ShippingAccountId": "0b6a61c7-0b5e-40e8-9cb5-422edb7377aa",
                      "Reference1": "OrderRef56",
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Destination": {
                      "Address": {
                        "AddressId": "John Brown Default"
                      }
                    },
                    "Packages": [
                      {
                        "DeclaredWeight": 1.5,
                        "DeclaredValue": 100,
                        "Dimensions": {
                          "Length": 40,
                          "Width": 30,
                          "Height": 20
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The shipment was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelFormatPackageResponseDetailsCreateShipmentResponse"
                },
                "examples": {
                  "Success - PDF": {
                    "value": {
                      "ConsignmentTrackingNumber": "1234567890",
                      "ConsignmentCarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1",
                      "Labels": "jVBERw0KGgoAAAANSUhEUgAA.....PDF",
                      "LabelFormat": "PDF",
                      "Packages": [
                        {
                          "ShipmentId": "5db6983a-3e66-42e6-8191-59f529d1e896",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "JD012300001234567891",
                          "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1?pieceTrackingNumber=JD012300001234567891"
                        },
                        {
                          "ShipmentId": "5db6983a-3e66-42e6-8191-59f529d1e896",
                          "PackageOccurrence": 2,
                          "TrackingNumber": "JD012300001234567892",
                          "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1?pieceTrackingNumber=JD012300001234567892"
                        },
                        {
                          "ShipmentId": "5db6983a-3e66-42e6-8191-59f529d1e896",
                          "PackageOccurrence": 3,
                          "TrackingNumber": "JD012300001234567893",
                          "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1?pieceTrackingNumber=JD012300001234567893"
                        }
                      ]
                    }
                  },
                  "Success - PNG": {
                    "value": {
                      "ConsignmentTrackingNumber": "1234567890",
                      "ConsignmentCarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1",
                      "Labels": "iVBORw0KGgoAAAANSUhEUgAA.....PNG",
                      "LabelFormat": "PNG",
                      "Packages": [
                        {
                          "ShipmentId": "c0e20081-113a-4df0-8b6d-727dd31e7613",
                          "PackageOccurrence": 1,
                          "TrackingNumber": "JD012300001234567891",
                          "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1?pieceTrackingNumber=JD012300001234567891"
                        },
                        {
                          "ShipmentId": "c0e20081-113a-4df0-8b6d-727dd31e7613",
                          "PackageOccurrence": 2,
                          "TrackingNumber": "JD012300001234567892",
                          "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1?pieceTrackingNumber=JD012300001234567892"
                        },
                        {
                          "ShipmentId": "c0e20081-113a-4df0-8b6d-727dd31e7613",
                          "PackageOccurrence": 3,
                          "TrackingNumber": "JD012300001234567893",
                          "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1?pieceTrackingNumber=JD012300001234567893"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The name maximum length is 50 characters.",
                      "Cause": "Destination.Address.ContactName",
                      "ErrorCode": "E1002"
                    },
                    {
                      "Message": "The service code is required.",
                      "Cause": "ShipmentInformation.ServiceCode",
                      "ErrorCode": "E1001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The carrier was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v4/shipments/printLabel/dhlexpress/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Print Label",
        "description": "This changes the status of the shipment to label printed. This should be done at the time of actual printing or label creation dependent on how you operate in reality. Shipments must be updated to printed status prior to manifesting.",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "Shipment ID\r<br />The Shipment ID may be an id or a tracking/barcode number.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "labelFormat",
            "in": "query",
            "description": "Label Format\r<br />            \r<br />**PDF** Base 64 encoded PDF\r<br />**PNG** Base 64 encoded PNG\r<br />            \r<br />Defaults To PDF",
            "schema": {
              "$ref": "#/components/schemas/LabelFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the printed label in the format specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelFormatPrintLabelResponse"
                },
                "examples": {
                  "PDF": {
                    "value": {
                      "ShipmentId": "d37e5959-2fae-4c1e-b923-1ca4d11d7f00",
                      "TrackingNumber": "1234567890",
                      "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1",
                      "Label": "jVBERw0KGgoAAAANSUhEUgAA.....PDF",
                      "LabelFormat": "PDF"
                    }
                  },
                  "PNG": {
                    "value": {
                      "ShipmentId": "96f29897-39c1-409e-b665-6d4cc86a0f74",
                      "TrackingNumber": "1234567890",
                      "CarrierTrackingUrl": "https://www.dhl.com/gb-en/home/tracking.html?tracking-id=1234567890&submit=1",
                      "Label": "iVBORw0KGgoAAAANSUhEUgAA.....PNG",
                      "LabelFormat": "PNG"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "Message": "Invalid Request",
                  "Errors": [
                    {
                      "Message": "The shipment has already been manifested and cannot be reprinted.",
                      "Cause": "ShipmentStatus",
                      "ErrorCode": "E1003"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "The shipment was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountType": {
        "enum": [
          "Sandbox",
          "Production"
        ],
        "type": "string",
        "description": "Indicates whether the account is set up as a \"sandbox\" or \"production\" account. A **Sandbox** account is for testing and development, while a **Production** account is used for live shipments and transactions."
      },
      "AddShippingAccountLocation": {
        "type": "object",
        "properties": {
          "ShippingLocationId": {
            "maxLength": 100,
            "type": "string",
            "description": "This field is used to link an existing shipping location to the new shipping account that is being created, and either the shipping location Id or alias can be provided to link the shipping location to the shipping account.",
            "nullable": true,
            "example": "D94E8CFD-604B-4B87-83E9-3F20CAF02837"
          },
          "ShippingLocation": {
            "$ref": "#/components/schemas/AddShippingAccountLocationNewLocation"
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Location"
      },
      "AddShippingAccountLocationAddress": {
        "type": "object",
        "properties": {
          "AddressId": {
            "maxLength": 70,
            "type": "string",
            "description": "A unique identifier for the new shipping location that will be associated with the shipping account being added.\r<br />\r<br />***Note:** If this information is provided, then all the address fields will be ignored and the relevant information will be used from the addresses stored in the **Address Book**.*",
            "nullable": true,
            "example": "John Brown Default"
          },
          "Line1": {
            "maxLength": 0,
            "type": "string",
            "description": "The first line of the address, typically containing the primary address information such as house number and street name.",
            "nullable": true,
            "example": "Brown Cottage"
          },
          "Line2": {
            "maxLength": 50,
            "type": "string",
            "description": "An optional second line for the address, often used for additional details like apartment numbers or suite designations.",
            "nullable": true,
            "example": "10 Sky Lane"
          },
          "Line3": {
            "maxLength": 50,
            "type": "string",
            "description": "A third optional line in the address to include any further address specifications, allowing for more detailed address information if necessary.",
            "nullable": true,
            "example": "Hills End"
          },
          "Town": {
            "maxLength": 50,
            "type": "string",
            "description": "The town or city, indicating the specific locality where the shipping location is situated. <br/> <br/> ***Note:** This information is required if the address is not used from the stored addresses in the **Address Book**.*",
            "nullable": true,
            "example": "Christchurch"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "The postal or ZIP code corresponding to the shipping location, used for mail sorting and to identify specific geographic areas.<br/> <br/> ***Note:** This information is only required for the addresses in the UK and for some outside it. To check for the postcode requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "TW20 0HJ"
          },
          "County": {
            "maxLength": 50,
            "type": "string",
            "description": "The county, state, or province in which the shipping location resides, providing additional geographical context for the address.<br/> <br/> ***Note:** This information may be required depending on the country. If the country is USA, Australia, or Canada, then it must be a valid state code or name, respectively. To check for the county/state/province requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "Surrey"
          },
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "An abbreviation representing the country of the shipping location, following the ISO 3166-1 alpha-2 standard, for example, \"GB\" for the United Kingdom.\r<br />\r<br />***Note**: This information is only required if the address is not used from the stored addresses in the  **Address Book***",
            "nullable": true,
            "example": "GB"
          },
          "What3Words": {
            "type": "string",
            "description": "A three-word location identifier provided by the What3words service, offering a precise way to define locations using a unique combination of three words, for example, the front door of 10 Downing Street in London is identified by slurs.this.shark.",
            "nullable": true,
            "example": "brick.space.employ"
          },
          "ContactPhone": {
            "maxLength": 20,
            "type": "string",
            "description": "The contact phone number associated with the shipping location, facilitating communication regarding shipments or deliveries.\r<br />            \r<br />***Note:** If the shipper address is not provided for the **Create Shipment** request, this information is used as the shipper's contact phone number for this location, instead of the shipping account contact phone number. Characters like +, /, -, or space are supported.*",
            "format": "tel",
            "nullable": true,
            "example": "07123887422"
          }
        },
        "additionalProperties": false,
        "description": "The complete address of the shipping location, consisting of multiple components including street information, locality, and so on."
      },
      "AddShippingAccountLocationNewLocation": {
        "required": [
          "Address",
          "LocationAlias",
          "Timezone"
        ],
        "type": "object",
        "properties": {
          "LocationAlias": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "A unique user-defined identifier for the shipping location, providing a convenient way to identify it, for example, Home or Warehouse.",
            "example": "Main Warehouse"
          },
          "IsDefaultLocation": {
            "type": "boolean",
            "description": "A boolean value indicating whether the shipping location is set as the default for shipping operations.\r<br />\r<br />***Note:** If true, then this location is set as the default one. Otherwise, it is set to false. The shipping account must have at least one default location.*",
            "nullable": true,
            "example": false
          },
          "Address": {
            "$ref": "#/components/schemas/AddShippingAccountLocationAddress"
          },
          "Timezone": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The timezone in which the shipping location is located, important for scheduling and logistical considerations.",
            "example": "Europe/London"
          }
        },
        "additionalProperties": false,
        "description": "This object is used to create a new shipping location that will be linked to the shipping account that is being created."
      },
      "AddShippingAccountResponse": {
        "type": "object",
        "properties": {
          "ShippingAccountId": {
            "type": "string",
            "description": "A unique identifier for the shipping account assigned by the system, allowing for efficient reference and management of individual accounts within the system.",
            "format": "uuid"
          },
          "ShippingLocationId": {
            "type": "string",
            "description": "A unique identifier assigned to the new shipping location by the system. This ID is used to distinguish between different shipping locations within the system, facilitating, referencing and operations, such as updates, deletions, or specific queries related to that location.\r<br />\r<br />***Note:** This field is only populated if the details of a new location were provided in the request.*",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Add Shipping Account Response"
      },
      "BusinessTransactionType": {
        "enum": [
          "B2C",
          "B2B",
          "D2C",
          "C2B"
        ],
        "type": "string",
        "description": "Specifies the nature of the commercial transaction type associated with the shipment.\r<br />\r<br />Valid values are:\r<br />\r<br />**B2C** - Business to Consumer\r<br />**B2B** - Business to Business\r<br />**D2C** - Direct to Consumer\r<br />**C2B** - Consumer to Business (that is, a returns shipment)\r<br /> \r<br />***Note:** By default, this field is set to B2C.*"
      },
      "ContentType": {
        "enum": [
          "NDX",
          "DOX",
          "HV"
        ],
        "type": "string",
        "description": "Defines the type of contents being shipped. This helps the carrier manage the shipment according to its content type.\r<br />\r<br />Valid values are:\r<br /><ul><li>**NDX** - Non Documents</li><li>**DOX** - Documents</li><li>**HV** - Non Documents of High Value</li></ul>"
      },
      "CreateShipmentAction": {
        "enum": [
          "Process",
          "Create",
          "Allocate"
        ],
        "type": "string",
        "description": "Indicates the operation to be performed for the shipment, determines the shipment status that is set on shipment creation and whether a shipment tracking number and labels are generated.\r<br />\r<br />Valid values are:\r<br /><ul><li>**Process:** Creates a shipment tracking number, generates and prints a label for each package in the shipment, and returns the labels in the **createShipment** response. With this action, the shipment status is set to **Ready to Manifest**.</li><li>**Create:** Creates the shipment but does not allocate a tracking number, print the labels or return them in the **createShipment** response. The label(s) must be printed before the shipment is ready to manifest.</li><li>**Allocate:** Creates the tracking number and label but does not print the labels or return them in the **createShipment** response. The label(s) must be printed before the shipment is ready to manifest.</li></ul>\r<br />***Note:** By default, this field is set to Process.*"
      },
      "Customs": {
        "type": "object",
        "properties": {
          "ReasonForExport": {
            "maxLength": 250,
            "type": "string",
            "description": "Identifies the purpose of the export for customs processing to determine the appropriate tariffs and requirements.<br/><br/>Valid values are the following:<ul><li>Permanent</li><li>Temporary</li><li>Return</li><li>Exhibition_Goods_To_Origin</li><li>Intercompany_Use</li><li>Commercial_Purpose_Or_Sale</li><li>Personal_Belongings_Or_Use</li><li>Sample</li><li>Gift</li><li>Return_To_Origin</li><li>Warranty_Replacement</li><li>Diplomatic_Goods</li><li>Defence_Material</li></ul>",
            "nullable": true,
            "example": "Sale of Goods"
          },
          "Incoterms": {
            "$ref": "#/components/schemas/TermsOfTrade"
          },
          "PreRegistrationNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "A number for tax pre-registration in countries where required for compliance during DDU shipments.<br />\r<br />If applicable, this number is required for countries operating a Tax Pre-Registration scheme (for example, VOEC in Norway, GST in Australia) when shipping under DDU Incoterms. If not provided and DDU is specified, any pre-registration numbers configured in the Customs Settings GUI for the account will be used.\r<br />\r<br />***Note:** VAT and EORI numbers should be provided in the Shipper and receiver **VatNumber** and **EoriNumber** fields, not in this field.*",
            "nullable": true,
            "example": "0123456789"
          },
          "PreRegistrationType": {
            "maxLength": 18,
            "type": "string",
            "description": "The type of pre-registration number provided in the **PreRegistrationNumber** element, specifying the registration scheme type. This field is mandatory if a **PreRegistrationNumber** is provided. Otherwise, it is ignored.\r<br />\r<br />***Note:** VAT and EORI numbers should be provided in the Shipper and receiver **VatNumber** and **EoriNumber** fields, not in this field.*",
            "nullable": true,
            "example": "GST"
          },
          "ShippingCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The postage amount paid by the customer for the international shipments, which can be 0.00 if free delivery is offered. This amount is used for calculating customs fees and should be in the currency specified in the **ShipmentInformation** > **Currency** field.",
            "format": "double",
            "nullable": true,
            "example": 55.82
          },
          "OtherCharges": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The additional costs charged to the customer beyond standard shipping, such as insurance fees. This field can be left blank or set to 0.00 if no additional charges apply. Values should be in the currency specified in the **ShipmentInformation** > **Currency** field.",
            "format": "double",
            "nullable": true,
            "example": 32
          },
          "QuotedLandedCost": {
            "maximum": 99999.99,
            "minimum": 0,
            "type": "number",
            "description": "The total cost quoted to the customer when the shipment reaches the destination, including duties and taxes, and must be expressed in the currency specified in the **ShipmentInformation** > **Currency** field.\r<br />\r<br />***Note:** This information is required for some international destinations when the shipment incoterms are DDP.*",
            "format": "double",
            "nullable": true,
            "example": 82.74
          },
          "InvoiceNumber": {
            "maxLength": 35,
            "type": "string",
            "description": "A specific number that is associated with a shipment. This is useful for tracking, billing, and reconciliation purposes.\r<br />\r<br />***Note:** When sending an item to an overseas address and a Commercial or Proforma invoice is available, the **InvoiceNumber** and **InvoiceDate** should be provided to support customs processing.If provided, it will be displayed on commercial invoices generated for the shipment. Please be advised that this field is required if the **InvoiceDate** is provided.*",
            "nullable": true
          },
          "InvoiceDate": {
            "type": "string",
            "description": "The date on which the invoice was created. This information is useful for record-keeping, billing cycles, and tracking payment due dates. \r<br />\r<br />***Note:** The **InvoiceDate** must be in the YYYY-MM-DD format. This field is ignored if the **InvoiceNumber** is not provided. If the **InvoiceNumber** is provided without the invoice date, then the **InvoiceDate** defaults to today's date.*",
            "format": "date",
            "nullable": true
          },
          "ExportLicenceRequired": {
            "type": "boolean",
            "description": "A boolean flag indicating whether an export licence is needed for the shipment, particularly for goods predominantly used for military purposes. If required, the export licence should be affixed to the outside of the package.\r<br />\r<br />***Note:** To learn more about the types of items requiring an export licence, refer to the UK Government website.*",
            "nullable": true,
            "example": false
          },
          "Airn": {
            "maxLength": 20,
            "type": "string",
            "description": "The AIRN (Address Identification Reference Number) is the generic name given to a national identification number for the overseas recipient of an item. This is required by certain countries for customs clearance.\r<br />\r<br />***Note:** If the AIRN is available, then it should be provided for items being exported to countries where the customs/tax authority requests one, such as Russia and Brazil.*",
            "nullable": true,
            "example": "231.002.999-00"
          }
        },
        "additionalProperties": false,
        "description": "Used to provide information for customs clearance related to the shipment. This includes, reasons for export, applicable incoterms, any pre-registration numbers and type required, shipping and other charges, as well as details about the invoice and whether an export licence is needed. It ensures compliance with international shipping regulations."
      },
      "Destination": {
        "required": [
          "Address"
        ],
        "type": "object",
        "properties": {
          "EoriNumber": {
            "maxLength": 17,
            "type": "string",
            "description": "The EORI (Economic Operators Registration and Identification) number for the receiver, which must start with the ISO Alpha-2 Country Code followed by up to 15 alphanumeric characters. For Northern Ireland, it starts with XI. \r<br />\r<br />***Note:** This field is mandatory for B2B shipments from GB to Northern Ireland or if the receiver is a business. Make sure to provide this information here—not in the **Customs** object.*",
            "nullable": true,
            "example": "GB 123 4567 89 000"
          },
          "VatNumber": {
            "maxLength": 15,
            "type": "string",
            "description": "The VAT (Value Added Tax) number for the receiver, which, if applicable, is used for tax compliance. \r<br />\r<br />***Note:** This field is mandatory if the receiver is a business. Make sure to provide this information here—not in the **Customs** object.*",
            "nullable": true,
            "example": "GB 123 4567 89"
          },
          "Address": {
            "$ref": "#/components/schemas/DestinationAddress"
          }
        },
        "additionalProperties": false,
        "description": "An object providing details on the shipment destination, such as receiver and contact details."
      },
      "DestinationAddress": {
        "type": "object",
        "properties": {
          "AddressId": {
            "maxLength": 70,
            "type": "string",
            "description": "A unique identifier for the address. This information ensures that each address can be distinctly referenced and managed within the system.\r<br />\r<br />***Note:** If this information is provided, then all the fields under the **Address** object are ignored and the stored address in the **Address Book** will be used.*",
            "nullable": true,
            "example": "John Brown Default"
          },
          "ContactName": {
            "maxLength": 50,
            "type": "string",
            "description": "The name of the primary contact person for the shipment at the address. <br /><br />***Note:** Either the **Contact Name** or **Company Name** must be provided.*",
            "nullable": true,
            "example": "Jane Doe"
          },
          "CompanyName": {
            "maxLength": 50,
            "type": "string",
            "description": "The name of the company associated with the shipment at the address.<br /><br />***Note:** Either the **Contact Name** or **Company Name** must be provided.*",
            "nullable": true,
            "example": "My Company Ltd."
          },
          "ContactEmail": {
            "maxLength": 254,
            "type": "string",
            "description": "The email address of the contact person for any communication regarding the shipment at the address.",
            "format": "email",
            "nullable": true,
            "example": "jane@example.com"
          },
          "ContactPhone": {
            "maxLength": 20,
            "type": "string",
            "description": "The contact phone number associated with the receiver, facilitating communication regarding shipments or deliveries.\r<br />\r<br />***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "07123887422"
          },
          "Line1": {
            "maxLength": 50,
            "type": "string",
            "description": "The first line of the address, typically containing the primary address information such as house number and street name. <br/> <br/> ***Note:** Characters like +, /, -, or space are supported.*",
            "nullable": true,
            "example": "Brown Cottage"
          },
          "Line2": {
            "maxLength": 50,
            "type": "string",
            "description": "An optional second line for the address, often used for additional details like apartment numbers or suite designations.",
            "nullable": true,
            "example": "10 Sky Lane"
          },
          "Line3": {
            "maxLength": 50,
            "type": "string",
            "description": "A third optional line in the address to include any further address specifications, allowing for more detailed address information if necessary.",
            "nullable": true,
            "example": "Hills End"
          },
          "Town": {
            "maxLength": 50,
            "type": "string",
            "description": "The town or city, indicating the specific locality where the shipping location is situated. <br/> <br/> ***Note:** This information is required if the address is not used from the stored addresses in the **Address Book**.*",
            "nullable": true,
            "example": "Christchurch"
          },
          "Postcode": {
            "maxLength": 20,
            "type": "string",
            "description": "The postal or ZIP code corresponding to the shipping location, used for mail sorting and to identify specific geographic areas.<br/> <br/> ***Note:** This information is only required for the addresses in the UK and for some outside it. To check for the postcode requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "TW20 0HJ"
          },
          "County": {
            "maxLength": 50,
            "type": "string",
            "description": "The county, state, or province in which the shipping location resides, providing additional geographical context for the address.<br/> <br/> ***Note:** This information may be required depending on the country. If the country is USA, Australia, or Canada, then it must be a valid state code or name, respectively. To check for the county/state/province requirements, refer to the **Countries** API.*",
            "nullable": true,
            "example": "Surrey"
          },
          "CountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "An abbreviation representing the country of the shipping location, following the ISO 3166-1 alpha-2 standard, for example, \"GB\" for the United Kingdom.\r<br />\r<br />***Note**: This information is only required if the address is not used from the stored addresses in the  **Address Book***",
            "nullable": true,
            "example": "GB"
          },
          "What3Words": {
            "type": "string",
            "description": "A three-word location identifier provided by the What3words service, offering a precise way to define locations using a unique combination of three words, for example, the front door of 10 Downing Street in London is identified by slurs.this.shark.",
            "nullable": true,
            "example": "brick.space.employ"
          }
        },
        "additionalProperties": false,
        "description": "The complete address of the receiver's location, consisting of multiple components including street information, locality, and so on."
      },
      "DhlExpressAddShippingAccountRequest": {
        "required": [
          "AccountAlias",
          "AccountNumber",
          "AccountType",
          "ApiKey",
          "ApiSecret",
          "ContactName",
          "ContactNumber",
          "ShippingLocations"
        ],
        "type": "object",
        "properties": {
          "AccountNumber": {
            "maxLength": 12,
            "minLength": 1,
            "type": "string",
            "description": "Carrier Account Number / The account number given by the carrier.",
            "example": "123456789012"
          },
          "AccountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "AccountName": {
            "maxLength": 35,
            "type": "string",
            "description": "The official name of the shipping account as designated by the user or organisation, aiding in easy identification and reference of accounts.\r<br />\r<br />***Note:** By default, this value is set to the customer name if not provided in the request.*",
            "nullable": true,
            "example": "AB VideoGames"
          },
          "AccountAlias": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "A unique, user-defined name for the shipping account, providing a convenient way to reference the account in a more memorable manner.",
            "example": "RM-99112347707"
          },
          "ContactName": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "The name of the primary contact person for the shipping account, facilitating communication regarding shipping and account-related matters.\r<br />\r<br />***Note:** If the shipper address is not provided in the Create Shipment request, this information is used as the shipper's contact name, if provided.*",
            "example": "John Smith"
          },
          "ContactNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
[...]
