{"openapi":"3.0.1","info":{"title":"SAPIENT CORE API","description":"# Introduction\nHere you will find requirements for integrating with INTERSOFT SAPIENT API.\n\nThe documentation specifically covers how the API can be used by business customers to conduct shipping activity with available carriers and provides the technical information to build this integration. The API allows customers to create and manage shipments, produce labels, customs documentation, and collection manifests, retrieve reference data such as carriers and countries, and maintain their own data such as shipping account details.\n\nIntersoft API is a fully RESTful service implemented using JSON messaging. You, as the customer are responsible for sending JSON messages and for maintaining the capability of receiving JSON messages in the format described in this specification. Request and response examples for each API service are included in this specification.\n\n# Authentication\n\nThe INTERSOFT SAPIENT API uses OAuth2 authentication.\n\nTo request the authorization token you need to create API credentials (Client ID and Secret) on the system first. If you have not done it already, log into your account and go to API Credentials or follow the link [add a link here with the path to the API Credentials menu]. Use the credentials to retrieve the authorization token.\n\nNote: Make sure you copy the Secret and keep it secure as you won't be able to view it again on the system.\n\n<!-- ReDoc-Inject: <SecurityDefinitions /> -->\n","version":"v4.0","x-logo":{"url":"/Content/images/redoc-logo.png","altText":"ReDoc"}},"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"servers":[{"url":"https://api.intersoftsapient.net/","description":"Sapient Server"}],"paths":{"/v4/ShippingAccounts":{"get":{"tags":["Shipping Accounts"],"summary":"Get Accounts","description":"Provides a list of all shipping accounts for all carriers (created on your customer account).\r<br />Information about the associated carrier, account number, account type, and contact details is included in the response.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingAccountsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of shipping accounts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingAccountsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/ShippingAccounts/{carrierCode}/{shippingAccountId}/unlinkLocations":{"put":{"tags":["Shipping Accounts"],"summary":"Unlink Locations","description":"Unlink one or more shipping location from a specific carrier shipping account.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Shipping Locations\r\nThe locations to remove from the account.\r\nAt least one location must be provided.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShippingLocationIdRequest"}}}}},"responses":{"200":{"description":"The location(s) have been unlinked from the shipping account successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"There must be at least one location associated with the shipping account. You cannot unlink all shipping locations.","Cause":"ShippingLocationIds","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account or location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/ShippingAccounts/{carrierCode}/{shippingAccountId}":{"delete":{"tags":["Shipping Accounts"],"summary":"Delete Account","description":"Delete a specific shipping account.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"shippingAccountId","in":"path","description":"Shipping Account Identifier\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The shipping account was deleted successfully."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping account was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/{shippingLocationId}":{"get":{"tags":["Shipments"],"summary":"Get Shipments","description":"Provides a list of shipments for the specified shipping location in a given time period.","parameters":[{"name":"shippingLocationId","in":"path","description":"Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping location.","required":true,"schema":{"type":"string"}},{"name":"shippingAccountId","in":"query","description":"Shipping Account Id\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping account.","schema":{"maxLength":36,"type":"string"}},{"name":"carrierCode","in":"query","description":"Carrier Code\r<br />If shippingAccountId and carrier are both provided, then the value sent in the carrier field will be ignored and the carrier associated with the shipping account will be used.","schema":{"maxLength":10,"type":"string"}},{"name":"status","in":"query","description":"Status\r<br />Filter by shipment status.","schema":{"$ref":"#/components/schemas/GetShipmentsStatusType"}},{"name":"destinationCountryCode","in":"query","description":"Country Code\r<br />ISO Alpha-2 Country Code per ISO 3166 Standard.","schema":{"maxLength":2,"minLength":2,"type":"string"}},{"name":"dateFrom","in":"query","description":"Date From\r<br />Defaults to Today's date if not provided.\r<br />Format: YYYY-MM-DD","schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","description":"Date To\r<br />Defaults to Today's date if not provided.\r<br />Format: YYYY-MM-DD","schema":{"type":"string","format":"date"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"Returns a list of shipments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentsPagedResponse"},"example":{"Shipments":[{"ShippingAccountId":"310d6beb-ae36-40e7-918f-f92100c1719d","ShipmentId":"9d171814-2abc-4c13-8c78-a3330a5cc0ee","TrackingNumber":"TT000000005GB","BarcodeNumber":"4C0069786000000000B1F","Reference1":"OrderRef56","ShipmentDate":"2025-02-06","Status":"Created","ManifestNumber":"ISH2802532","ContainerId":"South East 1234","Carrier":"RM","DestinationCountryCode":"GB","LastUpdatedBy":"User A","LastUpdatedDateUtc":"2025-02-06T14:30:50.772Z"},{"ShippingAccountId":"310d6beb-ae36-40e7-918f-f92100c1719d","ShipmentId":"9d171814-2abc-4c13-8c78-a3330a5cc0ee","TrackingNumber":"","BarcodeNumber":"","Reference1":"OrderRef57","ShipmentDate":"2025-02-06","Status":"LabelPrinted","ManifestNumber":"","ContainerId":"","Carrier":"RM","DestinationCountryCode":"GB","LastUpdatedBy":"User B","LastUpdatedDateUtc":"2025-02-06T14:30:50.772Z"}],"TotalCount":2}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/printDocument/{carrierCode}/{shipmentId}":{"post":{"tags":["Shipments"],"summary":"Print Document","description":"Request the associated Customs Documents for the printed label.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"shipmentId","in":"path","description":"Shipment Id\r<br />The Shipment Id may be an id or a tracking/barcode number.","required":true,"schema":{"maxLength":36,"minLength":0,"type":"string"}}],"requestBody":{"description":"Print Document Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrintDocumentRequest"}}}},"responses":{"200":{"description":"Returns the specified document for the given shipment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrintDocumentResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The number of copies must be between 1 and 5.","Cause":"numCopies","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipment was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/status":{"put":{"tags":["Shipments"],"summary":"Update Status","description":"**Hold** - Put the shipments on hold for up to 28 days. Shipments on hold for longer than 28 days will be cancelled. A shipment on hold will not be included in an closeouts/manifests, but instead will remain in its current state. You can only put shipments on hold that are in the 'LabelPrinted' status as only shipments with this status are included in manifests.\r<br />            \r<br />**Cancel** - Use to cancel/void one or more current shipments. This can only be used before a shipment has been confirmed by being manifested.\r<br />            \r<br />**Release** - Use to release shipments from hold and shipments cancelled for less than 24 hours. Once released, the shipment will be included in the next manifest.\r<br />            \r<br />**Picked** - Set the shipment to picked. This means this shipment will only be manifested if you choose to manifest 'Picked' shipments.","requestBody":{"description":"Update Status Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStatusRequest"},"example":{"Status":"Cancel","Reason":"Order Cancelled","ShipmentIds":["TT123456783GB","e3239e85-ddf8-4323-9064-b83c38eff927","072d80e4-8f9f-42e4-9c03-6b81a3597ce6","e9848731-e65c-4a9b-a86d-bbbbfbe7d93a","d8d6ca51-a0d1-4dc1-845d-f24ea2dc117d","TT382749386GB","3A00697860000000B6824"]}}}},"responses":{"200":{"description":"All shipments were updated successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The reason is required when cancelling shipments.","Cause":"Reason","ErrorCode":"E1001"},{"Message":"The shipment has already been manifested and cannot be cancelled.","Cause":"ShipmentIds[7]","ErrorCode":"E1003"},{"Message":"The shipment does not exist.","Cause":"ShipmentIds[10]","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shipments/defer":{"put":{"tags":["Shipments"],"summary":"Defer Shipments","description":"Used to update the shipment shipping data for a current shipment.\r<br />A shipment can be deferred by a maximum of 28 days from the date of the request.\r<br />This service can only be used before the shipment has been manifested.\r<br />There can be a maximum of 99 defer requests per call.","requestBody":{"description":"Defer shipment requests","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeferShipmentRequest"}},"example":[{"ShipmentId":"AD123456783GB","ShipmentDate":"2025-02-11"},{"ShipmentId":"e3239e85-ddf8-4323-9064-b83c38eff927","ShipmentDate":"2025-02-16"}]}}},"responses":{"200":{"description":"All shipments were deferred successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The Shipment Id is required.","Cause":"[2].ShipmentId","ErrorCode":"E1001"},{"Message":"The shipment is in an invalid state to be deferred.","Cause":"[7].ShipmentId","ErrorCode":"E1003"},{"Message":"The shipment does not exist.","Cause":"[10].ShipmentId","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/addresses":{"get":{"tags":["Address Book"],"summary":"Get Addresses","description":"Provide a list of all shipping addresses under your customer account.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Alias","schema":{"$ref":"#/components/schemas/AddressBookSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a list of addresses.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressBookPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"post":{"tags":["Address Book"],"summary":"Add Address Book","description":"Adds a new shipping address to your address book.","requestBody":{"description":"Address Book details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddAddressBook"}}}},"responses":{"200":{"description":"The address book was added successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddAddressBookResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The Line 1 maximum length is 50 characters.","Cause":"Line 1","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/addresses/{addressId}":{"delete":{"tags":["Address Book"],"summary":"Delete Address Book","description":"Deletes an address from your address book.","parameters":[{"name":"addressId","in":"path","description":" Address Identifier\r<br />SAPIENT AddressId (assigned by SAPIENT or by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The address book has been successfully deleted."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The address book does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"get":{"tags":["Address Book"],"summary":"Get Address","description":"Returns information for a specific address from your address book, including when it was last updated and by whom.","parameters":[{"name":"addressId","in":"path","description":" Address Identifier\r<br />SAPIENT AddressId (assigned by SAPIENT or by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the details of a address book.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressBookList"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The address book does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Address Book"],"summary":"Update Address Book","description":"Updates a shipping address from your address book","parameters":[{"name":"addressId","in":"path","description":" Address Identifier\r<br />SAPIENT AddressId (assigned by SAPIENT or by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Address Book details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAddressBook"}}}},"responses":{"200":{"description":"The address book was updated successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The Line 1 maximum length is 50 characters.","Cause":"Line 1","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/carriers":{"get":{"tags":["Carriers"],"summary":"Get Carriers","description":"Provides a list of all carriers available on the system.","responses":{"200":{"description":"Returns a list of carriers.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Carrier"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/carriers/{carrierCode}":{"get":{"tags":["Carriers"],"summary":"Get Carrier","description":"Provides additional information for a specific carrier, i.e. carrier code and logo image.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the details of a carrier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CarrierDetailed"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier does not exist or is not enabled."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/carriers/{carrierCode}/services":{"get":{"tags":["Carriers"],"summary":"Get Carrier Services","description":"Provides all services available for a specific carrier and specific shipping account ID.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code.","required":true,"schema":{"type":"string"}},{"name":"shippingAccountId","in":"query","description":"SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you). Include this if you want to only get the services for your specific shipping account.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a list of services.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarrierService"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier does not exist or is not enabled or shipping account is not valid/don't exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/carriers/{carrierCode}/services/{serviceCode}/packageTypes":{"get":{"tags":["Carriers"],"summary":"Get Carrier Service Package Types","description":"Provides information about package types allowed for a specific carrier service (i.e. letter, parcel, printed papers) including maximum weight and dimensions. \r<br />\r<br />Note: If a carrier does not offer/have service package types, an empty list is returned.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code.","required":true,"schema":{"type":"string"}},{"name":"serviceCode","in":"path","description":"Service Code.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a list of package types.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarrierServicePackageType"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier does not exist or is not enabled or the service does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/containers":{"get":{"tags":["Containers"],"summary":"Get Containers","description":"Provides a list of all containers set up on the system.\r<br />Information about the associated carrier, shipping location, total weight, number of shipments and packages in the containers will be returned.","parameters":[{"name":"carrierCode","in":"query","description":"CarrierCode\r<br />Filter by carrier","schema":{"type":"string"}},{"name":"shippingLocationId","in":"query","description":"Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping location","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: CreatedDateUtc","schema":{"$ref":"#/components/schemas/ContainersSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}},{"name":"containerStatus","in":"query","description":"The status of the container\r<br />Default: Active","schema":{"$ref":"#/components/schemas/ContainerStatusForFiltering"}}],"responses":{"200":{"description":"Returns a list of containers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContainersPagedResponse"},"example":{"Containers":[{"ContainerId":"South East","ContainerStatus":"Manifested","CreatedDateUtc":"2025-02-06T14:30:45.985Z","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ShippingLocationAlias":"Northern Warehouse","TotalWeight":12,"WeightUnitOfMeasure":"KG","TotalShipments":2,"TotalPackages":1},{"ContainerId":"South West","ContainerStatus":"Active","CreatedDateUtc":"2025-02-05T14:30:45.985Z","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ShippingLocationAlias":"Northern Warehouse","TotalWeight":14,"WeightUnitOfMeasure":"KG","TotalShipments":3,"TotalPackages":1}],"TotalCount":2}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"post":{"tags":["Containers"],"summary":"Add Container","description":"Create and name (with and ID or alias) a new container to be used for manifesting a specific group of shipments. Define which carrier and shipping location the container should be linked to.","requestBody":{"description":"Add Container Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContainerRequest"}}}},"responses":{"200":{"description":"The container has been successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContainerResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"An open container with the containerId already exists for this location.","Cause":"ContainerId","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/containers/{containerId}":{"get":{"tags":["Containers"],"summary":"Get Container","description":"Provides details for a specific container.\r<br />Information about the associated carrier, shipping location, total weight, number of shipments and packages in the containers will be returned.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) for the container.","required":true,"schema":{"type":"string"}},{"name":"returnShipments","in":"query","description":"If set to True, the response will return a list of the shipments allocated to the container.\r<br />Defaults to False if not provided.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Returns a details of the container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetContainerResponse"},"examples":{"Without Shipments":{"value":{"ContainerId":"South East","ContainerStatus":"Active","CreatedDateUtc":"2025-02-06T14:30:46.560Z","CarrierCode":"RM","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ShippingLocationAlias":"Northern Warehouse","TotalWeight":12,"WeightUnitOfMeasure":"KG","TotalShipments":2,"TotalPackages":1}},"With Shipments":{"value":{"ContainerId":"South East","ContainerStatus":"Manifested","ManifestNumbers":["COS0000016"],"CreatedDateUtc":"2025-02-06T14:30:46.560Z","CarrierCode":"RM","ShippingLocationId":"93f6d928-9456-434a-9d69-60f3b7dea091","ShippingLocationAlias":"Northern Warehouse","TotalWeight":12,"WeightUnitOfMeasure":"KG","TotalShipments":2,"TotalPackages":1,"Shipments":[{"TrackingNumber":"TT000860906GB","BarcodeNumber":"4C0069786000000014AC0","Reference1":"OrderRef71","ManifestNumber":"COS0000016"}]}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Containers"],"summary":"Add/Remove Shipments","description":"Allocate shipments to a container or remove them from it before the container will be manifested.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Update Container Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContainerRequest"},"example":{"ShipmentIds":["TT123456783GB","e3239e85-ddf8-4323-9064-b83c38eff927","072d80e4-8f9f-42e4-9c03-6b81a3597ce6","e9848731-e65c-4a9b-a86d-bbbbfbe7d93a","d8d6ca51-a0d1-4dc1-845d-f24ea2dc117d","TT382749386GB","3A00697860000000B6824"],"Mode":"Add"}}}},"responses":{"200":{"description":"The container has been successfully updated."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The carrier of the shipment must match the Container carrier.","Cause":"ShipmentIds[0]","ErrorCode":"E1002"},{"Message":"The Shipping Location of the shipment must match the Container Shipping Location.","Cause":"ShipmentIds[0]","ErrorCode":"E1002"},{"Message":"The shipment is not on hold or does not have label printed status.","Cause":"ShipmentIds[2]","ErrorCode":"E1003"},{"Message":"The shipment does not exist.","Cause":"ShipmentIds[10]","ErrorCode":"E1004"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"delete":{"tags":["Containers"],"summary":"Delete Container","description":"Delete a specific container.\r<br />Only containers with Active status can be deleted.","parameters":[{"name":"containerId","in":"path","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The container has been successfully deleted."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The container has already been manifested therefore this cannot be deleted. Only containers with Active status can be deleted.","Cause":"ContainerId","ErrorCode":"E1003"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The container does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/DeniedParties":{"post":{"tags":["Hurricane Services"],"summary":"Denied Parties","description":"This service allows you to identify if a person, organisation or company is not permitted to engage in transactions such as sending products or goods, because they have been proven to be in violation of international law, and have links with a range of criminal activities including terrorism, organised crime, financial crimes, weapons trading, etc.","requestBody":{"description":"The denied parties request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedPartiesRequest"},"examples":{"Valid Request":{"value":{"Reference":"REF123","Address":{"CompanyName":"Intersoft Systems & Programming Limited","Line1":"185 Farringdon Rd","Town":"London","Postcode":"EC1A 1AA","CountryCode":"GB"}}}}}}},"responses":{"200":{"description":"Returns denied parties response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedPartiesResponse"},"examples":{"Response":{"value":{"Reference":"REF123","DeniedPartyScore":45,"CountryDeniedPartyScoreThreshold":75,"Matches":[{"DeniedPartyScore":45,"NameMatch":false,"PartialNameMatch":false,"OrderNameMatch":false,"AddressMatch":false,"PartialAddressMatch":false}],"IsError":false,"GeneratedDate":"2023-04-27T13:30:08.719Z"}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"Address must have either Company Name or Contact Name.","Cause":"Address","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/GetCommodityCodeValidations":{"post":{"tags":["Hurricane Services"],"summary":"Commodity Codes Validation","description":"Provides a suitable description and HS Code that would be better suited to the items being shipped, to help improve the quality of customs data provided for international shipments.","requestBody":{"description":"The Commodity Code Validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommodityCodeValidationRequest"},"examples":{"Correct HSCode":{"value":{"ShippingAccountId":"2345676655","Shipment":{"Reference":"ABC1234","ShipperCountryCode":"GB","DestinationCountryCode":"AU","UseDescription":true},"Items":[{"SkuCode":"SKU123","HSCode":"330491","Description":"BABY TALCUM POWDER"}]}},"Incorrect HSCode":{"value":{"Shipment":{"Reference":"ABC1234","ShipperCountryCode":"GB","DestinationCountryCode":"AU","UseDescription":true},"Items":[{"SkuCode":"SKU123","HSCode":"300170","Description":"BABY TALCUM POWDER"}]}}}}}},"responses":{"200":{"description":"Returns commodity code validation response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommodityCodeValidationResponse"},"examples":{"Correct HSCode":{"value":{"ShippingAccountId":"2345676655","Shipment":{"Reference":"ABC1234"},"Items":[{"HSCode":"330491","HS6Code":"330491","Description":"BABY TALCUM POWDER","10DigitExportCode":"3304912000","10DigitImportCode":"3304912000","SuitableDescription":"Powders, whether or not compressed","IsError":false,"ErrorDescription":""}],"GeneratedDate":"2025-02-06T14:30:47.388Z"}},"Incorrect HSCode":{"value":{"Shipment":{"Reference":"ABC1234"},"Items":[{"HSCode":"300170","HS6Code":"300170","Description":"BABY TALCUM POWDER","10DigitExportCode":"3304910000","10DigitImportCode":"3304910022","SuitableDescription":"baby powder","IsError":true,"ErrorDescription":"Invalid HS6"}],"GeneratedDate":"2025-02-06T14:30:47.388Z"}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The Shipper Country Code is required.","Cause":"Shipment.ShipperCountryCode","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/QuotedLandedCost":{"post":{"tags":["Hurricane Services"],"summary":"Quoted Landed Cost","description":"Enables real time calculation of Duty Tax, Duty Rate, Tax Rate, Duty Payable and Tax Payable for dutiable shipments, reducing the risk of extra fees on delivery.","requestBody":{"description":"The quoted landed cost request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotedLandedCostRequest"},"example":{"ShippingAccountId":"2345676655","Shipment":{"Reference":"REF1234567890","ConvertCurrency":true,"Shipper":{"CountryCode":"GB","Currency":"GBP","Postcode":"GU11 1AX"},"Destination":{"CountryCode":"US","Postcode":"08901"},"ShippingCharges":23.75,"DeclaredWeight":3000,"WeightUnitOfMeasure":"Grams"},"Items":[{"SkuCode":"BWPC123","HSCode":"340120","Description":"BABY WIPES","CountryOfOrigin":"CN","Value":2.39,"Quantity":10,"Weight":50},{"SkuCode":"TALC12378","HSCode":"330420","Description":"BABY TALCUM POWDER","CountryOfOrigin":"CN","Value":3.59,"Quantity":10,"Weight":250}]}}}},"responses":{"200":{"description":"Returns quoted landed cost response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotedLandedCostResponse"},"example":{"ShippingAccountId":"2345676655","Shipment":{"Reference":"REF1234567890","Shipper":{"CountryCode":"GB","Currency":"GBP","Postcode":"GU11 1AX","ShippingCharges":23.75,"DeclaredValue":59.8,"TotalDuty":14.95,"TotalTax":0,"TotalIncludingTaxes":83.55},"Destination":{"CountryCode":"US","Currency":"USD","Postcode":"08901","ShippingCharges":29.45,"DeclaredValue":74.15,"TotalDuty":18.54,"TotalTax":0,"TotalIncludingTaxes":103.6},"Currency":{"ConvertCurrency":true,"CurrencyExchange":"GBP:USD","ExchangeRate":1.2399811925,"RateLastUpdated":"2023-04-17T22:09:32.706Z"}},"Items":[{"HS6Code":"340120","Description":"BABY WIPES","10digitExportHsCode":"3401200000","10digitImportHsCode":"3401209000","CountryOfOrigin":"CN","HurricaneDescription":"antimicrobial foam handwash","PercentageDutyRate":0,"VolumetricDutyRate":0,"ItemDutyRate":0,"AdditionalDutyRate":0.25,"TaxRate":0.06625,"ShipperCurrencyValues":{"ItemValue":23.9,"ItemDuty":5.98,"ItemTax":0,"ItemTotalIncludingTaxes":23.9},"DestinationCurrencyValues":{"ItemValue":29.64,"ItemDuty":7.41,"ItemTax":0,"ItemTotalIncludingTaxes":29.64},"IsError":false},{"HS6Code":"330420","Description":"BABY TALCUM POWDER","10digitExportHsCode":"3304200000","10digitImportHsCode":"3304200000","CountryOfOrigin":"CN","HurricaneDescription":"eye liner","PercentageDutyRate":0,"VolumetricDutyRate":0,"ItemDutyRate":0,"AdditionalDutyRate":0.25,"TaxRate":0.06625,"ShipperCurrencyValues":{"ItemValue":35.9,"ItemDuty":8.98,"ItemTax":0,"ItemTotalIncludingTaxes":35.9},"DestinationCurrencyValues":{"ItemValue":44.52,"ItemDuty":11.13,"ItemTax":0,"ItemTotalIncludingTaxes":44.52},"IsError":false}],"IsError":false,"Notes":"<taxBreakdown><city><rate>0</rate><value>0</value></city><special><rate>0</rate><value>0</value></special><county><rate>0</rate><value>0</value></county><state><rate>0.06625</rate><value>0</value></state></taxBreakdown>","GeneratedDate":"2025-02-06T14:30:48.189Z"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The Country Code is required.","Cause":"Shipment.Destination.CountryCode","ErrorCode":"E1001"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/ProhibitedItems":{"post":{"tags":["Hurricane Services"],"summary":"Prohibited Items","description":"Enables checking for any restrictions or prohibitions on products being shipped, such as whether the product can be shipped from the shipper country to the destination country.","requestBody":{"description":"The prohibited items request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProhibitedItemsRequest"},"examples":{"Item not prohibited":{"value":{"ShippingAccountId":"","Shipment":{"Reference":"ABC1234","ShipperCountryCode":"GB","DestinationCountryCode":"US","ReturnRestrictionCodes":true},"Items":[{"SkuCode":"SK01","HSCode":"22087011","Description":"AMARETTO"}]}},"Prohibited Item":{"value":{"ShippingAccountId":"","Shipment":{"Reference":"TestRef01234","ShipperCountryCode":"GB","DestinationCountryCode":"SA","ReturnRestrictionCodes":false},"Items":[{"SkuCode":"SK01","HSCode":"320412","Description":"AMARETTO"}]}}}}}},"responses":{"200":{"description":"Returns prohibited items response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProhibitedItemsResponse"},"examples":{"Item not prohibited":{"value":{"Shipment":{"Reference":"ABC1234"},"Items":[{"HS6Code":"220870","Description":"LIQUEUR CAZANOVE AMARETTO","10DigitExportHSCode":"2208701100","10DigitImportHSCode":"2208701100","RestrictionCodes":{"ExportCode":["ED054","ED055"],"TransportCode":["TG016"],"ImportCode":["ID103","ID055"]},"Prohibited":false,"IsError":false,"ErrorDescription":""}],"IsError":false,"ErrorDescription":"","Notes":"","GeneratedDate":"2025-02-06T14:30:48.567Z"}},"Prohibited Item":{"value":{"Shipment":{"Reference":"TestRef01234"},"Items":[{"HS6Code":"320412","Description":"AMARETTO","10DigitExportHSCode":"3204120000","Prohibited":true,"IsError":true,"ErrorDescription":"The item amaranth is prohibited"}],"IsError":true,"ErrorDescription":"The item amaranth is prohibited","Notes":"","GeneratedDate":"2025-02-06T14:30:48.567Z"}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"Reference cannot be more than 30 characters","Cause":"Shipment.Reference","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/manifests/{carrierCode}":{"post":{"tags":["Manifests"],"summary":"Manifest Shipments","description":"By manifesting shipments you declare what shipments are ready for dispatch and will be handed over to the carrier. \r<br />The API allows you to manifest via the below methods (parameters):\r<br />\r<br />- shipping location\r<br />- shipping account\r<br />- shipment status (picked)\r<br />- service code\r<br />- container\r<br />\r<br />Note: If no parameters are set, all shipments in the LabelPrinted or Picked status will be manifested (excluding future dated shipments or shipments assigned to a container).\r<br />\r<br />The API response contains a manifest image which should be printed and handed over to the driver (if required).","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Manifest Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManifestRequest"},"examples":{"Manifest by Shipping Account":{"value":{"ShippingLocationId":"c5d4f646-f882-4e9b-b40c-e739494a7b06","ShippingAccountId":"3fa5f468-2f0d-4fae-abdc-dbfb2974cf5f","Async":false}},"Manifest by Shipping Account in the background":{"value":{"ShippingLocationId":"3f7e52df-50e7-476e-89e9-ab9029d9f903","ShippingAccountId":"e52f1651-b910-4da0-acfa-e32fc1e6ace0","Async":true}},"Manifest by Service":{"value":{"ShippingLocationId":"f4d4ccca-c7e0-4a5c-82c7-1413f8d290a0","ServiceCode":"EXPRESS","Async":false}},"Manifest by Service for Shipping Account Only":{"value":{"ShippingLocationId":"e346716c-7560-44b4-a65a-61aa3a7c7ec0","ShippingAccountId":"4589d44c-f93e-4d8f-9aa2-73c15a471820","ServiceCode":"EXPRESS","Async":false}},"Manifest by Status":{"value":{"ShippingLocationId":"794510e9-5e27-48f4-b4eb-65f0f0126803","Status":"Picked","Async":false}},"Manifest by Container":{"value":{"ShippingLocationId":"8a567fa8-a68e-4827-a5bd-87178d64efea","ContainerId":"7de9860e-045e-4595-b0d6-ec5098f8bfea","Async":false}}}}}},"responses":{"200":{"description":"The shipments have been manifested successfully and all created manifests returned.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManifestResponse"}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Example 1":{"value":{"Message":"There are no shipments ready to be manifested.","Errors":[]}},"Example 2":{"value":{"Message":"Invalid Request","Errors":[{"Message":"The service code maximum length is 10 characters.","Cause":"ServiceCode","ErrorCode":"E1002"},{"Message":"The shipping account Id does not exist.","Cause":"ShippingAccountId","ErrorCode":"E1004"}]}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"get":{"tags":["Manifests"],"summary":"Get Manifests","description":"Provides list of manifests created in a given time period for a specific carrier.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"shippingLocationId","in":"query","description":"Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping location","schema":{"maxLength":100,"type":"string"}},{"name":"containerId","in":"query","description":"Container Id\r<br />SAPIENT Container Id (assigned by SAPIENT) or Alias (assigned by you) for the container.\r<br />Filter by container id","schema":{"maxLength":50,"type":"string"}},{"name":"shippingAccountId","in":"query","description":"Shipping Account Id\r<br />SAPIENT Shipping Account Id (assigned by SAPIENT) or Alias (assigned by you).\r<br />Filter by shipping account","schema":{"maxLength":36,"type":"string"}},{"name":"dateFrom","in":"query","description":"Date From\r<br />Defaults to Today's date if not provided.\r<br />Format: YYYY-MM-DD","schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","description":"Date To\r<br />Defaults to Today's date if not provided.\r<br />Format: YYYY-MM-DD","schema":{"type":"string","format":"date"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"Returns details of the manifests produced or an empty list if none were found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManifestsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier code was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/manifests/{carrierCode}/{manifestNumber}":{"get":{"tags":["Manifests"],"summary":"Print Manifest","description":"Provides base64 encoded image and details for a specific manifest.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"manifestNumber","in":"path","description":"Manifest Number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The manifest, including the PDF, is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManifestResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The manifest was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/manifests/{carrierCode}/{manifestNumber}/shipments":{"get":{"tags":["Manifests"],"summary":"Get Manifest Details","description":"Provides manifest details for a specific manifest.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"manifestNumber","in":"path","description":"Manifest Number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The manifest, including the shipments manifested, is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManifestDetailsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The manifest was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/products":{"get":{"tags":["Products"],"summary":"Get Products","description":"Provides a list of all products set up on the system.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Description","schema":{"$ref":"#/components/schemas/ProductsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a list of products.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"post":{"tags":["Products"],"summary":"Add Product","description":"Add a new product to your stored products that you can then use in your shipment requests.","requestBody":{"description":"Product details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"responses":{"200":{"description":"The product was added successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddProductResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The product SKU code maximum length is 30 characters.","Cause":"skuCode","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/products/{skuCode}":{"delete":{"tags":["Products"],"summary":"Delete Product","description":"Deletes a specified product from the system.","parameters":[{"name":"skuCode","in":"path","description":"SKU Code\r<br />The SKU Code (Stock Keeping Unit Number assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The product has been successfully deleted."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The product does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"get":{"tags":["Products"],"summary":"Get Product","description":"Provides details for a specific product.\r<br />Information about the country of origin, value, weight, description, HS Code and Sku Code will be returned.","parameters":[{"name":"skuCode","in":"path","description":"SKU Code\r<br />The SKU Code (Stock Keeping Unit Number assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the details of a product.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductList"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The product does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Products"],"summary":"Update Product","description":"Update a product that is already stored with new details. The whole product will be replaced with new details","parameters":[{"name":"skuCode","in":"path","description":"SKU Code\r<br />The SKU Code (Stock Keeping Unit Number assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Product details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"responses":{"200":{"description":"The product was updated successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The product SKU code maximum length is 30 characters.","Cause":"skuCode","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/pudolocations/{carrierCode}/{countryCode}/{postcode}":{"get":{"tags":["PUDO Locations"],"summary":"Get PUDO Locations","description":"The Get PUDO Locations endpoint returns a list of PUDO Locations that are within a set radius of the postcode provided in the request. That radius is set to 10 Miles / 16.09 Kilometres.\r<br />This endpoint must be called before the Create Shipment endpoint to select a PUDO location, and the PUDO location details are then provided in the Create Shipment request.\r<br />The endpoint currently only supports Royal Mail.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code\r<br />Example: RM","required":true,"schema":{"type":"string"}},{"name":"countryCode","in":"path","description":"2 Digit ISO Country Code, per ISO 3166 Standard","required":true,"schema":{"maxLength":2,"minLength":2,"type":"string"}},{"name":"postcode","in":"path","description":"Recipient Postcode. \r<br />This will be used to retrieve the available PUDO locations","required":true,"schema":{"maxLength":10,"type":"string"}},{"name":"MaximumResults","in":"query","description":"Maximum number of PUDO locations returned. \r<br />Default  30 locations.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPudoLocationsResponse"},"example":{"Locations":[{"CarrierCode":"RM","LocationAlias":"Chobham Post Office","LocationId":"GU24 8PQ","Address":{"Line1":"30 Chertsey Road","Line2":"","Line3":"Chobham","Town":"Woking","Postcode":"GU24 8PQ","Geolocation":{"Longitude":-0.5988,"Latitude":51.3498},"OpeningHours":{"Monday":{"OpeningTime":"09:00:00","ClosingTime":"17:00:00"},"Tuesday":{"OpeningTime":"09:00:00","ClosingTime":"17:00:00"},"Wednesday":{"OpeningTime":"09:00:00","ClosingTime":"17:00:00"},"Thursday":{"OpeningTime":"09:00:00","ClosingTime":"17:00:00"},"Friday":{"OpeningTime":"09:00:00","ClosingTime":"17:00:00"},"Saturday":{"OpeningTime":"09:00:00","ClosingTime":"12:30:00"},"Sunday":{"OpeningTime":"","ClosingTime":""}}}}],"TotalCount":1}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The country code maximum length is 2 characters.","Cause":"CountryCode","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The carrier code was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/countries":{"get":{"tags":["Reference Data"],"summary":"Get Countries","description":"Provides a list of all countries available on the system.\r<br />Information about country name, ISO Alpha-2 and Alpha-3 country code, country group, and further details are returned in the response.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: CountryName","schema":{"$ref":"#/components/schemas/CountriesSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a list of countries.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountriesPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/currencies":{"get":{"tags":["Reference Data"],"summary":"Get Currencies","description":"Provides a list of all currencies available on the system.\r<br />Information about currency name and code is returned in the response.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: CurrencyName","schema":{"$ref":"#/components/schemas/CurrenciesSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a list of currencies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrenciesPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/timezones":{"get":{"tags":["Reference Data"],"summary":"Get Time Zones","description":"Provides a list of all time zones available on the system.\r<br />Information about time zone name, UTC offset and country is returned in the response.","parameters":[{"name":"countryCode","in":"query","description":"CountryCode\r<br />Filter by country code (ISO)","schema":{"type":"string","default":""}},{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string","default":""}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: CountryCode","schema":{"$ref":"#/components/schemas/TimezonesSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a list of all the time zones for a given country.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimezonesPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The country code does not exist."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingLocations":{"get":{"tags":["Shipping Locations"],"summary":"Get Locations","description":"Provides a list of all shipping locations set up on the system under your customer account.\r<br />Information about location alias, timezone, address, when it was last updated, and by who is included in the response.","parameters":[{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingLocationsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of shipping locations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingLocationsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"post":{"tags":["Shipping Locations"],"summary":"Add Location","description":"Create a new shipping location with location alias, address details, and timezone.","requestBody":{"description":"Shipping Location Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddShippingLocationRequest"},"examples":{"Add Shipping Location":{"value":{"LocationAlias":"Main Warehouse","Timezone":"Europe/London","IsDefaultLocation":false,"Address":{"ContactPhone":"07123887422","Line1":"Brown Cottage","Line2":"10 Sky Lane","Line3":"Hills End","Town":"Christchurch","Postcode":"TW20 0HJ","County":"Surrey","CountryCode":"GB","What3Words":"brick.space.employ"}}},"Using Address Book":{"value":{"LocationAlias":"Main Warehouse","Timezone":"Europe/London","IsDefaultLocation":false,"Address":{"AddressId":"John Brown Default"}}}}}}},"responses":{"200":{"description":"The shipping location was created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddShippingLocationResponse"},"examples":{"Add Shipping Location":{"value":{"LocationAlias":"Main Warehouse","Timezone":"Europe/London","IsDefaultLocation":false,"Address":{"ContactPhone":"07123887422","Line1":"Brown Cottage","Line2":"10 Sky Lane","Line3":"Hills End","Town":"Christchurch","Postcode":"TW20 0HJ","County":"Surrey","CountryCode":"GB","What3Words":"brick.space.employ"}}},"Using Address Book":{"value":{"LocationAlias":"Main Warehouse","Timezone":"Europe/London","IsDefaultLocation":false,"Address":{"AddressId":"John Brown Default"}}}}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The location alias is required.","Cause":"LocationAlias","ErrorCode":"E1001"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingLocations/{shippingLocationId}":{"get":{"tags":["Shipping Locations"],"summary":"Get Location","description":"Provides information for a specific shipping location, including location alias, timezone, address, when it was last updated, and by who.","parameters":[{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id(assigned by SAPIENT) or Alias(assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the shipping location.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingLocation"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"put":{"tags":["Shipping Locations"],"summary":"Update Location","description":"Update shipping location details.\r<br />Note: All required fields must be populated in the request, regardless if they need updating or not.","parameters":[{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id(assigned by SAPIENT) or Alias(assigned by you).","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Shipping Location Details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingLocationRequest"}}}},"responses":{"200":{"description":"The shipping location was updated successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The location alias is required.","Cause":"LocationAlias","ErrorCode":"E1001"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]},"delete":{"tags":["Shipping Locations"],"summary":"Delete Location","description":"Delete a specific shipping location.","parameters":[{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The shipping location was deleted successfully."},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The shipping location is associated with shipping accounts and cannot be deleted.","Cause":"ShippingLocationId","ErrorCode":"E1002"},{"Message":"The shipping location is associated with users and cannot be deleted.","Cause":"ShippingLocationId","ErrorCode":"E1002"},{"Message":"The shipping location is set as the default shipping location for a customer and cannot be deleted.","Cause":"ShippingLocationId","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingLocations/{shippingLocationId}/shippingAccounts":{"get":{"tags":["Shipping Locations"],"summary":"Get Associated Accounts","description":"Provides a list of all shipping accounts associated with a specified shipping location.","parameters":[{"name":"shippingLocationId","in":"path","description":"Shipping Location Identifier\r<br />SAPIENT Shipping Location Id(assigned by SAPIENT) or Alias(assigned by you).","required":true,"schema":{"type":"string"}},{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingAccountsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of associated shipping accounts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingAccountsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"The shipping location was not found."},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/shippingLocations/{carrierCode}":{"get":{"tags":["Shipping Locations"],"summary":"Get Carrier Locations","description":"Provides a list of all shipping locations associated with a specified carrier.\r<br />Note: A shipping location can be associated with more than one carrier. You would need to make individual API requests for each carrier.","parameters":[{"name":"carrierCode","in":"path","description":"Carrier Code","required":true,"schema":{"type":"string"}},{"name":"searchTerm","in":"query","description":"Search Term","schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"The maximum number of records per page.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":100}},{"name":"pageNumber","in":"query","description":"The number of the requested page, starting at 1.","schema":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32","default":1}},{"name":"sortBy","in":"query","description":"Sort By\r<br />Default: Name","schema":{"$ref":"#/components/schemas/ShippingLocationsSortBy"}},{"name":"sortDir","in":"query","description":"Sort Direction\r<br />Default: Ascending","schema":{"$ref":"#/components/schemas/OrderDirection"}}],"responses":{"200":{"description":"Returns a paged list of shipping locations linked to accounts for the given carrier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingLocationsPagedResponse"}}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"The page size must be 1 or greater.","Cause":"pageSize","ErrorCode":"E1002"},{"Message":"The page number must be 1 or greater.","Cause":"pageNumber","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/trackings":{"post":{"tags":["Trackings"],"summary":"Trackings","description":"*Note: This is a chargeable service, and you are billed automatically based on the number of shipments tracked using the **Trackings** API.* \r<br />\r<br />The **Trackings** API is an addition to the standard tracking webhook service, that automatically pushes tracking information for Royal Mail shipments created through Intersoft. This endpoint is intended for registering tracking numbers for shipments produced on other systems or different Intersoft accounts.\r<br />\r<br />\r<br />It is essential to note that this endpoint should not be be used for Royal Mail shipments created on your own Intersoft account. The primary function of this endpoint is to monitor tracking events and push the data to the tracking webhook, ensuring effective tracking management.","requestBody":{"description":"Trackings Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateShipmentsToTrackRequest"}},"example":[{"TrackingNumber":"TT000000005GB","ShipperReference":"OrderRef56","CarrierCode":"RM","CountryCode":"GB","Postcode":"AA34 3AB","AccountNumber":"9912347707","ShippingDate":"2022-09-26","ServiceCode":"CRL1"},{"TrackingNumber":"TT000000014GB","CarrierCode":"RM"},{"TrackingNumber":"TT000000028GB","CarrierCode":"RM"}]}}},"responses":{"200":{"description":"Returns an array of tracking numbers and the shipment ids assigned to them, corresponding to future tracking information.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShipmentToTrackDetails"}},"example":[{"TrackingNumber":"TT000000005GB","CarrierCode":"RM","ShipmentId":"5d4b5cf4-825b-4581-8d78-135e06f658e3"},{"TrackingNumber":"TT000000014GB","CarrierCode":"RM","ShipmentId":"37b4398d-ebd9-4de1-8806-1ffa294ef755"},{"TrackingNumber":"TT000000028GB","CarrierCode":"RM","ShipmentId":"0ad398d9-4cd4-4591-9050-c70a5aefbf56"}]}}},"400":{"description":"Invalid request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"Message":"Invalid Request","Errors":[{"Message":"At least one item is required.","Cause":"CreateShipmentsToTrackRequest","ErrorCode":"E1004"},{"Message":"1001 items provided. The maximum number of items is 1000.","Cause":"CreateShipmentsToTrackRequest","ErrorCode":"E1002"},{"Message":"Items cannot be null.","Cause":"CreateShipmentsToTrackRequest","ErrorCode":"E1002"},{"Message":"The tracking number is required.","Cause":"[0].TrackingNumber","ErrorCode":"E1001"},{"Message":"The tracking number maximum length is 50 characters.","Cause":"[0].TrackingNumber","ErrorCode":"E1002"},{"Message":"Items contain duplicate tracking number/carrier code/account number combinations: TT000000014GB/RM/9912347707","Cause":"CreateShipmentsToTrackRequest","ErrorCode":"E1002"}]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}},"/v4/trackings/PushPayloadExample":{"post":{"tags":["Trackings"],"summary":"Tracking Webhook Push Payload Example","description":"Example of the tracking webhook push notification payload, as sent to a customer's webhook when tracking information is received from a carrier.\r<br />For a webhook push notification to be triggered, the tracking number must be registered with SAPIENT and a tracking account and tracking webhook must be configured.\r<br />\r<br />*Note: this is an example of what SAPIENT posts to the customer, it is not a functioning API endpoint.*","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShipmentTrackingWebhookPushPayload"}},"examples":{"Full Tracking Events":{"value":[{"TrackingNumber":"TT12345678901GB","ShipmentId":"aa24f1fd-d976-4c28-bec8-fe3d6f84ec1e","ShipperReference":"myRef123","CarrierCode":"RM","Milestone":"IN TRANSIT","MilestoneDateTime":"2022-03-23 23:15:00","Events":[{"EventId":"3a0c17c5-0ca4-455c-ac65-a20d95e656bc","EventType":"Tracking","EventCode":"PSDD","EventDescription":"Shipment Departed Depot","EventDateTime":"2022-03-24 11:43:16","EventUtcOffset":"+01:00","EventLocation":{"Location":"Heathrow","CountryCode":"GB"}}]}]},"Milestones":{"value":[{"TrackingNumber":"TT12345678901GB","ShipmentId":"aa24f1fd-d976-4c28-bec8-fe3d6f84ec1e","ShipperReference":"myRef123","CarrierCode":"RM","Milestone":"IN TRANSIT","MilestoneDateTime":"2022-03-23 23:15:00","Events":[{"EventId":"3a0c17c5-0ca4-455c-ac65-a20d95e656bc","EventType":"Milestone","EventCode":"PPID","EventDescription":"Shipment Processed in Depot","EventDateTime":"2022-03-23 23:15:00","EventUtcOffset":"+01:00","EventLocation":{"Location":"Heathrow","CountryCode":"GB"}}]}]}}}}},"responses":{"200":{"description":"Success"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"oauth2":[]}]}}},"components":{"schemas":{"AccountType":{"enum":["Sandbox","Production"],"type":"string","description":"Account Type\r<br />Sandbox shipping accounts can only be used for testing your integration.\r<br />Production accounts can be used to ship."},"AddAddressBook":{"required":["CountryCode","Line1","Town"],"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />Your identifier for the address. If none provided the system will allocate one.","nullable":true,"example":"John Brown Default"},"ContactName":{"maxLength":50,"type":"string","description":"Contact Name\r<br />The contact name or company name is required.\r<br />Up to 50 characters may be allowed.However it is carrier dependent. Some carriers may allow less.","nullable":true,"example":"Jane Doe"},"CompanyName":{"maxLength":50,"type":"string","description":"Company Name\r<br />The contact name or company name is required.\r<br />Up to 50 characters may be allowed.However it is carrier dependent. Some carriers may allow less.","nullable":true,"example":"My Company Ltd."},"ContactEmail":{"maxLength":254,"type":"string","description":"Contact Phone Number","format":"email","nullable":true,"example":"jane@example.com"},"ContactPhone":{"maxLength":20,"type":"string","description":"Contact Phone Number","format":"tel","nullable":true,"example":"07123887422"},"Line1":{"maxLength":50,"minLength":1,"type":"string","description":"Address Line 1\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","example":"10 Sky Lane"},"Line2":{"maxLength":50,"type":"string","description":"Address Line 2\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"123 Main Street"},"Line3":{"maxLength":50,"type":"string","description":"Address Line 3\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"Hills End"},"Town":{"maxLength":50,"minLength":1,"type":"string","description":"Town\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","example":"Christchurch"},"Postcode":{"maxLength":20,"type":"string","description":"Postcode / Zip\r<br />Required for United Kingdom addresses and some international addresses.\r<br />The Countries API can be used to check whether postcode/zip code is required for a country.\r<br />Up to 20 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":50,"type":"string","description":"County / State / Province\r<br />May be required depending on the country.\r<br />For USA, Australia and Canada, if provided, must be a valid state code or name.\r<br />The Countries API can be used to check whether county/state is required for a country.\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.","example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"}},"additionalProperties":false,"description":"Add Address Book"},"AddAddressBookResponse":{"type":"object","properties":{"AddressId":{"type":"string","description":"Address Id / Alias Name","nullable":true,"example":"93f6d928-9456-434a-9d69-60f3b7dea091"}},"additionalProperties":false,"description":"Add Address Book Response"},"AddContainerRequest":{"required":["CarrierCode","ShippingLocationId"],"type":"object","properties":{"CarrierCode":{"maxLength":10,"minLength":1,"type":"string","description":"Carrier Code","example":"RM"},"ShippingLocationId":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Id\r<br />SAPIENT Shipping Location Id (assigned by SAPIENT) or Alias (assigned by you) of the shipping location that this container is for.","example":"Central Warehouse"},"ContainerId":{"maxLength":50,"type":"string","description":"Container Id\r<br />The Container Name/Alias for this container\r<br />Defaults to a globally unique identifier.","nullable":true,"example":"South East 1234"}},"additionalProperties":false,"description":"Add Container Request"},"AddContainerResponse":{"required":["CarrierCode","ContainerId","CreatedDate","CreatedDateUtc","ShippingLocationId"],"type":"object","properties":{"ContainerId":{"minLength":1,"type":"string","description":"Container Id\r<br />The Container Identifier","example":"South East 1234"},"CreatedDateUtc":{"type":"string","description":"Created Date UTC","format":"date-time"},"CreatedDate":{"type":"string","description":"Created Date","format":"date-time"},"CarrierCode":{"minLength":1,"type":"string","description":"Carrier Code\r<br />The carrier that the container is for.","example":"RM"},"ShippingLocationId":{"minLength":1,"type":"string","description":"Shipping Location\r<br />The shipping location name/alias that this container is for.","example":"Northern Warehouse"}},"additionalProperties":false,"description":"Container"},"AddProductResponse":{"required":["SkuCode"],"type":"object","properties":{"SkuCode":{"maxLength":30,"minLength":1,"type":"string","description":"Product SKU\r<br />Stock Keeping Unit Number.","example":"SKU123"}},"additionalProperties":false,"description":"AddProduct Response"},"AddShippingLocationAddress":{"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />If supplied all address fields will be ignored and the stored address will be used.","nullable":true,"example":"John Brown Default"},"Line1":{"maxLength":50,"type":"string","description":"First Line Address\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Please see the Create Shipment documentation for the carrier(s) you are shipping with to check the maximum length allowed by each carrier\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Brown Cottage"},"Line2":{"maxLength":50,"type":"string","description":"Second Line Address, if applicable\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Please see the Create Shipment documentation for the carrier(s) you are shipping with to check the maximum length allowed by each carrier","nullable":true,"example":"10 Sky Lane"},"Line3":{"maxLength":50,"type":"string","description":"Third Line Address, if applicable\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Please see the Create Shipment documentation for the carrier(s) you are shipping with to check the maximum length allowed by each carrier","nullable":true,"example":"Hills End"},"Town":{"maxLength":50,"type":"string","description":"Town\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Please see the Create Shipment documentation for the carrier(s) you are shipping with to check the maximum length allowed by each carrier\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"Christchurch"},"Postcode":{"maxLength":20,"type":"string","description":"Postcode / Zip\r<br />Required for United Kingdom addresses and some international addresses.\r<br />The Countries API can be used to check whether postcode/zip code is required for a country.\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Please see the Create Shipment documentation for the carrier(s) you are shipping with to check the maximum length allowed by each carrier","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":50,"type":"string","description":"County / State / Province\r<br />May be required depending on the country.\r<br />For USA, Australia and Canada, if provided, must be a valid state code or name.\r<br />The Countries API can be used to check whether county/state is required for a country.\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.\r<br />Please see the Create Shipment documentation for the carrier(s) you are shipping with to check the maximum length allowed by each carrier","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.\r<br />*Required if not using a stored address from the Address Book.*","nullable":true,"example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"},"ContactPhone":{"maxLength":20,"type":"string","description":"Contact Phone Number\r<br />If provided, and the shipper address is not provided for a create shipment request, this will be used as the shipper's contact phone number for this location, instead of the shipping account's contact phone number.","format":"tel","nullable":true,"example":"07123887422"}},"additionalProperties":false,"description":"Add Shipping Location Address"},"AddShippingLocationRequest":{"required":["Address","LocationAlias","Timezone"],"type":"object","properties":{"LocationAlias":{"maxLength":100,"minLength":1,"type":"string","description":"Shipping Location Alias\r<br />Your identifier for this shipping location","example":"Main Warehouse"},"Timezone":{"maxLength":100,"minLength":1,"type":"string","description":"Time zone","example":"Europe/London"},"IsDefaultLocation":{"type":"boolean","description":"Is Default Location\r<br />If true, this location is the default location used.\r<br />You must have 1 default location.\r<br />Set to false if not provided, or true if is the first location to be added.\r<br />If true, this will set this location as the default location.","nullable":true,"example":false},"Address":{"$ref":"#/components/schemas/AddShippingLocationAddress"}},"additionalProperties":false,"description":"Shipping Location Add"},"AddShippingLocationResponse":{"type":"object","properties":{"ShippingLocationId":{"type":"string","description":"Shipping Location Identifier\r<br />The SAPIENT Identifier assigned to this shipping location.","format":"uuid"}},"additionalProperties":false,"description":"Create Shipping Location Response"},"Address":{"required":["Line1","Town"],"type":"object","properties":{"Line1":{"minLength":1,"type":"string","description":"The 1st of the PUDO location address","example":"114-120 Camden High Street"},"Line2":{"type":"string","description":"The line 2 of the PUDO location address","nullable":true,"example":"Camden Town"},"Line3":{"type":"string","description":"The line 3 of the PUDO Location address","nullable":true},"Town":{"minLength":1,"type":"string","description":"City of the PUDO location","example":"London"},"Postcode":{"type":"string","description":"Postcode of the PUDO location","nullable":true,"example":"TW18 4QR"},"Geolocation":{"$ref":"#/components/schemas/Geolocation"},"OpeningHours":{"$ref":"#/components/schemas/OpeningHours"}},"additionalProperties":false},"AddressBookList":{"required":["CountryCode","Line1","Town"],"type":"object","properties":{"AddressId":{"maxLength":70,"type":"string","description":"The address Id\r<br />Your identifier for the address. If none provided the system will allocate one.","nullable":true,"example":"John Brown Default"},"ContactName":{"maxLength":50,"type":"string","description":"Contact Name\r<br />The contact name or company name is required.\r<br />Up to 50 characters may be allowed.However it is carrier dependent. Some carriers may allow less.","nullable":true,"example":"Jane Doe"},"CompanyName":{"maxLength":50,"type":"string","description":"Company Name\r<br />The contact name or company name is required.\r<br />Up to 50 characters may be allowed.However it is carrier dependent. Some carriers may allow less.","nullable":true,"example":"My Company Ltd."},"ContactEmail":{"maxLength":254,"type":"string","description":"Contact Phone Number","format":"email","nullable":true,"example":"jane@example.com"},"ContactPhone":{"maxLength":20,"type":"string","description":"Contact Phone Number","format":"tel","nullable":true,"example":"07123887422"},"Line1":{"maxLength":50,"minLength":1,"type":"string","description":"Address Line 1\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","example":"10 Sky Lane"},"Line2":{"maxLength":50,"type":"string","description":"Address Line 2\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"123 Main Street"},"Line3":{"maxLength":50,"type":"string","description":"Address Line 3\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"Hills End"},"Town":{"maxLength":50,"minLength":1,"type":"string","description":"Town\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","example":"Christchurch"},"Postcode":{"maxLength":20,"type":"string","description":"Postcode / Zip\r<br />Required for United Kingdom addresses and some international addresses.\r<br />The Countries API can be used to check whether postcode/zip code is required for a country.\r<br />Up to 20 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"TW20 0HJ"},"County":{"maxLength":50,"type":"string","description":"County / State / Province\r<br />May be required depending on the country.\r<br />For USA, Australia and Canada, if provided, must be a valid state code or name.\r<br />The Countries API can be used to check whether county/state is required for a country.\r<br />Up to 50 characters may be allowed, however it is carrier dependent and some carriers may allow less.","nullable":true,"example":"Surrey"},"CountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code\r<br />2 Digit ISO Country Code, per ISO 3166 Standard.","example":"GB"},"What3Words":{"type":"string","description":"The what3words identifier for this address.","nullable":true,"example":"brick.space.employ"},"LastUpdatedDateUtc":{"type":"string","description":"Last Updated Date UTC","format":"date-time","example":"2022-02-06T16:13:24.010Z"},"LastUpdatedBy":{"type":"string","description":"Last Updated By","nullable":true,"example":"User A"}},"additionalProperties":false,"description":"Address Book List"},"AddressBookPagedResponse":{"required":["Addresses","TotalCount"],"type":"object","properties":{"Addresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressBookList"},"description":"Addresses\r<br />The addresses for the requested page only."},"TotalCount":{"type":"integer","description":"Total Count\r<br />The total number of addresses available","format":"int32","example":32}},"additionalProperties":false,"description":"The paged response containing the entities for the requested page only, and the total number available."},"AddressBookSortBy":{"enum":["ContactName","CompanyName","Town","CountryCode","ContactEmail","LastModified"],"type":"string","description":"Sort By"},"Carrier":{"required":["CarrierCode","Description","Name"],"type":"object","properties":{"CarrierCode":{"maxLength":10,"minLength":1,"type":"string","description":"Carrier Code\r<br />A unique reference code for this carrier.","example":"RM"},"Name":{"minLength":1,"type":"string","description":"Carrier Name","example":"Royal Mail"},"Description":{"minLength":1,"type":"string","description":"Carrier Description","example":"Produces labels, required documentation, billing management for shipments sent via the Royal Mail network."}},"additionalProperties":false,"description":"Carrier"},"CarrierDetailed":{"required":["CarrierCode","Description","LogoBase64","LogoFormat","Name"],"type":"object","properties":{"CarrierCode":{"maxLength":10,"minLength":1,"type":"string","description":"Carrier Code\r<br />A unique reference code for this carrier.","example":"RM"},"Name":{"minLength":1,"type":"string","description":"Carrier Name","example":"Royal Mail"},"Description":{"minLength":1,"type":"string","description":"Carrier Description","example":"Produces labels, required documentation, billing management for shipments sent via the Royal Mail network."},"LogoFormat":{"$ref":"#/components/schemas/CarrierLogoFormat"},"LogoBase64":{"minLength":1,"type":"string","description":"Logo Image\r<br />The logo in a base64 string. See the Logo Format for the format of the logo.","example":"R0lGODlhYQBBAPf/AOjMmdsqOP3hHPqtHfmcHf3RHLa+vfPy8fAAH/vBHfH..."},"CarrierTimezone":{"type":"string","description":"Carrier Time zone","nullable":true,"example":"London/Europe"}},"additionalProperties":false,"description":"Carrier Detailed"},"CarrierLogoFormat":{"enum":["PNG","JPG","GIF"],"type":"string","description":"Carrier Logo Format"},"CarrierMaxPackageDimensions":{"required":["Height","Length","Width"],"type":"object","properties":{"Length":{"type":"number","description":"The maximum length allowed.","format":"double","example":60},"Width":{"type":"number","description":"The maximum width allowed.","format":"double","example":60},"Height":{"type":"number","description":"The maximum height allowed.","format":"double","example":60},"Combined":{"type":"number","description":"The maximum combined L+W+H allowed.","format":"double","nullable":true,"example":90},"DimensionsUnitOfMeasure":{"$ref":"#/components/schemas/DimensionsUnitOfMeasure"}},"additionalProperties":false,"description":"Max Package Dimensions"},"CarrierService":{"required":["Description","ServiceCode"],"type":"object","properties":{"ServiceCode":{"maxLength":10,"minLength":1,"type":"string","description":"Service Code","example":"CRL1"},"Description":{"maxLength":100,"minLength":1,"type":"string","description":"Service Description","example":"Royal Mail 24 Standard/Signed For (Parcel - Daily Rate Service)"}},"additionalProperties":false,"description":"Carrier Service"},"CarrierServicePackageType":{"required":["Description","PackageTypeCode"],"type":"object","properties":{"PackageTypeCode":{"maxLength":20,"minLength":1,"type":"string","description":"Package Type Code","example":"LargeLetter"},"Description":{"maxLength":100,"minLength":1,"type":"string","description":"Package Type Description","example":"Large Letter"},"MaxWeight":{"type":"number","description":"Maximum weight allowed, if known.","format":"double","nullable":true,"example":500},"WeightUnitOfMeasure":{"$ref":"#/components/schemas/WeightUnitOfMeasure"},"MaxDimensions":{"type":"array","items":{"$ref":"#/components/schemas/CarrierMaxPackageDimensions"},"description":"Maximum dimensions allowed, if known.\r<br />Empty list if not known, or a list of possible combinations allowed if known.","nullable":true}},"additionalProperties":false,"description":"Carrier Service Package Type"},"CommodityCodeValidationRequest":{"required":["Items","Shipment"],"type":"object","properties":{"ShippingAccountId":{"maxLength":36,"type":"string","description":"This can be populated with either the Shipping Account ID assigned by SAPIENT or the Shipping Account Alias set when the Shipping Account was created. \r<br />Both can be viewed in the Shipping Account GUI.","nullable":true,"example":"453"},"Shipment":{"$ref":"#/components/schemas/CommodityCodeValidationRequestShipment"},"Items":{"type":"array","items":{"$ref":"#/components/schemas/CommodityCodeValidationRequestItem"},"description":"The items for which you want to validate the HS Code. \r<br />At least one item must be sent in the request. \r<br />A maximum number of 12 items can be sent in one request.\r<br />For better performance 10 items or less should be sent in a single request."}},"additionalProperties":false,"description":"Commodity Code Validation Request"},"CommodityCodeValidationRequestItem":{"type":"object","properties":{"SkuCode":{"maxLength":30,"type":"string","description":"Stock Keeping Unit number of the item.","nullable":true,"example":"SKU123"},"HSCode":{"maxLength":13,"type":"string","description":"At minimum, 6 alpha numeric code is required, dots and spaces in the HS Code are accepted.\r<br />Either HS Code or Description need to be supplied.\r<br />If both HS Code and Description are provided and HS Code and Description appear not to match the same product, then the HS Code will take precedence.\r<br />For more information on HS Codes see https://www.gov.uk/trade-tariff","nullable":true,"example":"6109100000000"},"Description":{"maxLength":255,"type":"string","description":"Either HS Code or Description need to be supplied. \r<br />If both HS Code and Description are provided and HS Code and Description appear not to match the same product, then the HS Code will take precedence.","nullable":true,"example":"Men's shoes"}},"additionalProperties":false,"description":"Commodity Code Validation Request Item"},"CommodityCodeValidationRequestShipment":{"required":["DestinationCountryCode","ShipperCountryCode"],"type":"object","properties":{"Reference":{"maxLength":30,"type":"string","description":"The reference sent in the request. Used to trace the response to the request.","nullable":true,"example":"ABC1234"},"ShipperCountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"2 Digit ISO Country Code, per ISO 3166 Standard.","example":"GB"},"DestinationCountryCode":{"maxLength":2,"minLength":2,"type":"string","description":"2 Digit ISO Country Code, per ISO 3166 Standard.","example":"US"},"UseDescription":{"type":"boolean","description":"If set to true then the item description provided in the request will be used where an item's HS Code and description do not match, if set to false, the item description will be ignored. \r<br />Set to false if not provided.","nullable":true,"example":false}},"additionalProperties":false,"description":"Commodity Code Validation Request Shipment"},"CommodityCodeValidationResponse":{"type":"object","properties":{"ShippingAccountId":{"maxLength":36,"type":"string","description":"The Shipping Account Id sent in the request. If no value was sent in the request, the field will be empty.","nullable":true,"example":"453"},"Shipment":{"$ref":"#/components/schemas/CommodityCodeValidationResponseShipment"},"Items":{"type":"array","items":{"$ref":"#/components/schemas/CommodityCodeValidationResponseItem"},"description":"The items in the request with the valid HS Code and suitable description.","nullable":true},"GeneratedDate":{"type
[...]
